<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/attendix/classes-new"></ion-back-button>
    </ion-buttons>
    <ion-title>AttendiX | {{editMode ? 'Edit' : 'New'}} Attendance </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!showQr" [color]="auto? 'success' : ''" fill="outline">
        <ion-toggle [disabled]="!showQr" [(ngModel)]="auto" [color]="auto? 'success' : ''"></ion-toggle>
        <ion-label [color]="auto? 'success' : ''">QR</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="attendix-content">
  <!-- QR code page -->
  <ng-template [ngIf]="showQr && auto" [ngIfElse]="override">
    <ion-grid class="ion-no-padding">
      <ion-row *ngIf="otp$ | async as otp">
        <ion-col size="12" size-md="9" size-lg="7">
          <ion-card class="ion-no-margin ion-margin-top">
            <ion-card-content class="ion-no-padding">
              <qrcode *ngIf="otp" [qrdata]="otp" width="600" errorCorrectionLevel="H" [ngStyle]="{filter: otp === '---' ? 'blur(5px)' : '',
                            opacity: otp === '---' ? '0.5' : ''}"></qrcode>
              <div *ngIf="otp === '---'" class="dead">
                <p><strong>Class Time Over</strong></p>
                <p>Please switch to manual mode</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="3" size-lg="5">
          <ion-card class="ion-no-margin ion-margin-top">
            <ion-card-content class="ion-no-padding">
              <div class="ion-text-center ion-margin-top">
                <div *ngFor="let c of otp | chars" class="otp">
                  {{ c }}
                </div>
                <ion-text *ngIf="otp !== '---'" color="danger">
                  <p>OTP expires in ({{ countdown$ | async }}s)</p>
                </ion-text>
              </div>
              <div class="ion-padding ion-text-center">
                <div>
                  <h3>Class Code</h3>
                  <h2 class="text-bold">{{ schedule!.classcode }}</h2>
                </div>
                <div class="ion-margin-top">
                  <h3>Class Type & Date</h3>
                  <h2 class="text-bold">{{ schedule!.classType }} on {{ schedule!.date | date : 'EEE, dd MMM yyy' }}
                  </h2>
                </div>
                <div class="ion-margin-top">
                  <h3>Class Time</h3>
                  <h2 class="text-bold">{{ schedule!.startTime }} to {{ schedule!.endTime }}</h2>
                </div>
                <div class="ion-margin-top">
                  <h3>Class Statistics</h3>
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <ion-col size="6" offset="3" class="ion-no-padding">
                        <chart *ngIf="studentsChartData$ | async as chartData" height="100" width="100"
                          [type]="doughnutChart.type" [data]="chartData" [options]="doughnutChart.options">
                        </chart>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <div class="ion-margin-top" *ngIf="resetable">
                  <ion-button fill="outline" (click)="reset()" color="danger">Reset All to Absent</ion-button>
                </div>
                <div class="ion-margin-top">
                  <ion-item lines="none" class="ion-no-padding">
                    <ion-label position="stacked">Lecture Update</ion-label>
                    <ion-textarea placeholder="Add your notes here" rows="1" class="form-input"
                      [ngModel]="lectureUpdate" (ionChange)="save($event.target.value)"
                      (ionBlur)="save($event.target.value)" debounce="2000"></ion-textarea>
                  </ion-item>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom">
      <ion-card-content>
        <h2 class="text-bold colored-text">Last 10 Students Scanned QR Code</h2>
        <ng-container *ngIf="lastMarked$ | async as students">
          <ion-chip *ngFor="let student of students">
            <ion-label>{{student.name}}</ion-label>
          </ion-chip>
        </ng-container>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <!-- manual mode page -->
  <ng-template #override>
    <!-- just subscribe for the side effects -->
    <ng-template [ngIf]="lastMarked$ | async"></ng-template>
    <ion-card class="ion-no-margin ion-margin-top ion-margin-start ion-margin-end">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h2 class="colored-text main-title">
                {{editMode ? 'Edit ' : ''}}Class Attendance
              </h2>
              <p>For {{schedule!.classcode}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon slot="start" name="calendar"></ion-icon>
                  <ion-label>{{schedule!.classType}} on {{schedule!.date | date : 'EEE, dd MMM yyy' }}</ion-label>
                </ion-item>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon slot="start" name="alarm"></ion-icon>
                  <ion-label>{{schedule!.startTime}} to {{schedule!.endTime}}</ion-label>
                </ion-item>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon slot="start" name="ios-people"></ion-icon>
                  <ion-label>{{totalStudents$ | async}} Students</ion-label>
                </ion-item>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon slot="start" name="pricetag"></ion-icon>
                  <ion-textarea [ngModel]="lectureUpdate" (ionChange)="save($event.target.value)"
                    (ionBlur)="save($event.target.value)" debounce="5000" placeholder="Add your notes here" rows="1"
                    class="ion-no-padding"></ion-textarea>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" class="margin-auto">
              <chart *ngIf="studentsChartData$ | async as chartData" height="300" width="300"
                [type]="doughnutChart.type" [data]="chartData" [options]="doughnutChart.options">
              </chart>
            </ion-col>
            <ion-col size="12" size-md="12" size-lg="4" class="margin-auto">
              <ion-button fill="outline" color="primary" (click)="markAll()">
                Mark All As ..
              </ion-button>
              <br>
              <ion-button fill="outline" color="danger" (click)="delete()">
                Delete Class Attendance
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- students list -->
    <ion-card class="transparent no-box-shadow">
      <ion-card-header class="ion-no-padding ion-padding-top ion-padding-start ion-padding-end">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col class="margin-auto ion-no-padding">
              <ion-card-title>
                Students List
              </ion-card-title>
            </ion-col>
            <ion-col class="ion-no-padding select-container">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col class="ion-no-padding ion-margin-end">
                    <ion-select class="input" [(ngModel)]="type" placeholder="Status" interface="popover">
                      <ion-select-option value="">Any Status</ion-select-option>
                      <ion-select-option value="Y">Present</ion-select-option>
                      <ion-select-option value="L">Late</ion-select-option>
                      <ion-select-option value="N">Absent</ion-select-option>
                      <ion-select-option value="R">Absent with reason</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <ion-searchbar class="input ion-no-padding no-box-shadow" placeholder="Student ID, Name"
                      [(ngModel)]="term"></ion-searchbar>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <!-- table -->
        <ion-card class="table">
          <ion-card-content class="table-container">
            <ion-grid>
              <!-- table header -->
              <ion-row class="table-header text-bold">
                <ion-col size="auto">
                  <ion-text>#</ion-text>
                </ion-col>
                <ion-col size="auto">
                  <ion-text>Student ID</ion-text>
                </ion-col>
                <ion-col>
                  <ion-text>Name</ion-text>
                </ion-col>
                <ion-col>
                  <!-- empty col -->
                </ion-col>
              </ion-row>

              <!-- table body -->
              <ng-container *ngIf="students$ | async as studentsList">
                <ng-container *ngIf="(studentsList | attendance:type | search:term) as filteredStudents">
                  <ng-container *ngIf="filteredStudents.length > 0; else noFilteredStudents">
                    <ion-virtual-scroll [items]="filteredStudents" [trackBy]="trackById" approxItemHeight="48px">
                      <ion-row class="table-row text-bold"
                        *virtualItem="let student; let i = index;" [ngClass]="'state' + student.attendance">
                        <ion-col class="margin-auto" size="auto">
                          <p class="larger-font-size">
                            <ion-text>{{i + 1}}.</ion-text>
                          </p>
                        </ion-col>
                        <ion-col class="margin-auto" size="auto">
                          <p class="larger-font-size">
                            <ion-text class="text-bold">{{ student.id }}</ion-text>
                          </p>
                        </ion-col>
                        <ion-col class="margin-auto">
                          <p class="larger-font-size">
                            <ion-text class="text-bold">{{ student.name }}</ion-text>
                          </p>
                        </ion-col>
                        <ion-col class="margin-auto ion-no-padding"
                          *ngIf="student.attendance === 'N' || student.attendance === 'R'">
                          <ion-input [value]="student.absentReason" placeholder="Absent with reason"
                            (change)="mark(student.id, 'R', $event)"></ion-input>
                        </ion-col>
                        <ion-col class="margin-auto ion-text-right">
                          <ion-buttons class="ion-float-right">
                            <ion-button size="small" [disabled]="student.attendance === 'Y'" class="stateY"
                              (click)="mark(student.id, 'Y')">Present
                            </ion-button>
                            <ion-button size="small" [disabled]="student.attendance === 'L'" class="stateL"
                              (click)="mark(student.id, 'L')">Late
                            </ion-button>
                            <ion-button size="small" [disabled]="student.attendance === 'N'" class="stateN"
                              (click)="mark(student.id, 'N')">Absent
                            </ion-button>
                          </ion-buttons>
                        </ion-col>
                      </ion-row>
                    </ion-virtual-scroll>
                  </ng-container>
                  <ng-template #noFilteredStudents>
                    <ion-row>
                      <ion-col size="12">
                        <h2 class="ion-text-center ion-padding">No students found
                          {{term ? 'with the keyword ' + term : ''}} <span *ngIf="type"> and status of
                            {{type === 'Y' ? 'Present' : type === 'N' ? 'Absent' : type === 'L' ? 'Late' : 'Absent with reason'}}</span>.
                        </h2>
                      </ion-col>
                    </ion-row>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>