<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/attendix/take-attendance"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Modify Student Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-card>
    <ion-card-header color="primary">
      Students List
    </ion-card-header>
    <ion-card-content>
      <div class="ion-margin-top">
        <p>Remove students that are mistakenly recorded or students who decided to leave the class after their attendance has been taking.</p>
      </div>
    </ion-card-content>
  </ion-card> -->

  <ion-button class="views" (click)="viewAttendance()">View Attendance</ion-button>

  <ion-card>
    <ion-card-header color="medium">
      Remove Student | Students List
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="align-items-center">
          <ion-col size="2" class="ion-align-self-center">Module</ion-col>
          <ion-col size="2" class="ion-align-self-center">Class</ion-col>
          <ion-col size="2" class="ion-align-self-center">Student TP</ion-col>
          <ion-col size="2" class="ion-align-self-center">Name</ion-col>
          <ion-col size="2" class="ion-align-self-center">Status</ion-col>
          <ion-col size="2" class="ion-align-self-center">Room</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-button class="submit-button ion-margin-vertical" color="primary" (click)="confirm()">Confirm</ion-button>
</ion-content>
