page-more {
   
    img {
        border-radius: 50%;
        border: 1px solid map-get($colors, light);
        width: 50px;
        height: 60px;
    }

    .name{
        color: map-get($colors, light);
        letter-spacing: 0.1px;
        font-size: 0.9em;
    }

    .tpnumber {
        color: map-get($colors, light);
        letter-spacing: 0.1px;
        font-size: 0.9em;
    }

    [col-9]{
        padding: 0px;
    }
}
