<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button padding></ion-back-button>
        <ion-icon name="arrow-back">Back</ion-icon>
      </ion-buttons>
      <ion-title>ATTENDIX</ion-title>
      <ion-buttons slot="end">
        <ion-button color="light" size="small" fill="solid">
          Take Picture
        </ion-button>
      </ion-buttons>
    </ion-toolbar>  
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-header>
      <ion-card-title>Take Picture</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-toolbar mode="md">
          <ion-tabs>
            <ion-tab-bar slot="bottom">
              <ion-buttons>
                <ion-tab-button fill="solid" tab="qr-scan" layout="icon-bottom" class="qr">
                  <ion-icon name="camera"></ion-icon>
                  <ion-label>Picture</ion-label>
                </ion-tab-button>
              </ion-buttons>
            </ion-tab-bar>
          </ion-tabs>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>
</ion-content>
