ion-card.button {
    height: 45%;
    --background: var(--ion-color-primary);
    --color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s;

    ion-card-header {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.1em;
      transition: background-color .3s;
    }

    ion-card-content {
      transition: background-color .3s;
    }

    .button-icon {
      width: 100%;
      height: 30vw;
    }
  }

  ion-card.button:hover {
    --background: var(--ion-color-primary-shade);
  }

  ion-card.button + ion-card.button {
    margin-top: 10%;
  }
