<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Mark Attendance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-card class="button" routerLink='/attendix/take-picture'>
  <ion-card-header>
    Using Camera
  </ion-card-header>

  <ion-card-content>
    <ion-icon name="camera" class="button-icon"></ion-icon>
  </ion-card-content>
</ion-card>

<ion-card class="button" routerLink="/attendix/otp">
  <ion-card-header>
    Using One-Time-Password
  </ion-card-header>

  <ion-card-content>
    <ion-icon name="barcode" class="button-icon"></ion-icon>
  </ion-card-content>
</ion-card>

</ion-content>
