<ion-header>
  <ion-toolbar>
    <ion-title text-center>Mark Attendance</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="swapMode($event)">{{ scan ? 'Type' : 'Scan' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="scan; else type" (click)="scanCode()">
    <ion-icon class="icons" name="qr-scanner"></ion-icon>
    <div class="card-title">Scan Code</div>
  </ion-card>

  <ng-template #type>
    <div class="otp-wrapper">
      <input
        *ngFor="let _ of digits; i as index"
        #otpInput
        autofocus
        class="otp"
        type="tel"
        maxlength="1"
        (keypress)="onKey($event)">
    </div>
  </ng-template>

</ion-content>
