.submit-button {
    float: right;
  }

  .add-button {
    cursor: pointer;
  }

  .remove-button {
    cursor: pointer;
  }

  ion-card-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    --background: var(--ion-color-primary);
    color: #ffffff;
  }

  ion-item {
    --border-color: #051b3b;
    --border-radius: 10px;
    --border-style: solid;
  }
