<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/attendix/mark-attendance"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Modify Student Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-card>
    <ion-card-header>
      Add Student
    </ion-card-header>
    <ion-card-content>
      <div class="ion-margin-top">
          <p>Record students with no or lower accessibility mobile phones and those that arrives late after attendance has been taking.</p>
      </div>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      Add Student | Students List
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="addStudentForm" (ngSubmit)="confirm()">
        <ion-list>
          <ion-item [formGroupName]="i" *ngFor="let control of addStudentForm.controls; let i = index" lines="inset">
            <ion-label slot="start">
              <ion-text>
                {{ i + 1 }}
              </ion-text>
            </ion-label>
            <ion-input formControlName="student_id" placeholder="Enter TP Number"></ion-input>
            <ion-icon class="remove-button" name="remove-circle" (click)="removeStudentItem(i)"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-item class="add-button" (click)="addStudentItem()" lines="none">
          <ion-icon name="add-circle" slot="start"></ion-icon>
          <ion-label>Add More Student</ion-label>
        </ion-item>

        <ion-button [disabled]="!addStudentForm.valid" type="submit" class="submit-button ion-margin-vertical" color="primary">Confirm</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
