<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Password Recovery</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #qaForm="ngForm" (ngSubmit)="setConfig(qa); qaForm.reset(qaForm.value)">
    <ion-item no-padding>
      <ion-label floating>Question 1</ion-label>
      <ion-input [(ngModel)]="qa.attributeQuestion1" [disabled]="!editMode"
        type="text" name="attributeQuestion1" required #q1="ngModel"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label floating>Question 2</ion-label>
      <ion-input [(ngModel)]="qa.attributeQuestion2" [disabled]="!editMode"
        type="text" name="attributeQuestion2" required #q2="ngModel"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label floating>Answer 1</ion-label>
      <ion-input [(ngModel)]="qa.attributeAnswer1" [disabled]="!editMode"
        type="text" name="attributeAnswer1" required #a1="ngModel"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label floating>Answer 2</ion-label>
      <ion-input [(ngModel)]="qa.attributeAnswer2" [disabled]="!editMode"
        type="text" name="attributeAnswer2" required #a2="ngModel"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label floating>Secondary Email</ion-label>
      <ion-input [(ngModel)]="qa.secondaryEmail" [disabled]="!editMode"
        type="text" name="secondaryEmail" required #e="ngModel"></ion-input>
    </ion-item>
    <ion-fab>
      <button ion-fab icon-only *ngIf="!editMode" type="button" (click)="onEdit()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-fab icon-only *ngIf="editMode" type="submit"
        [disabled]="qaForm.invalid || qaForm.pristine">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-fab>
  </form>
</ion-content>
