page-password-recovery {
  button[ion-fab] {
    position: relative;
    
    
  }
  .ion-title{
 
    size: 50%!important;
  }
  .ion-input-box{
    border:1px solid;
    margin:0px;
    
    padding: 0px;
    padding-left: 5px;
    box-shadow: 1px;
  }
  .ion-input-hint-asnwer{
    padding-right:11px;
    padding-left:10px;
  }
  .ion-input-hint{
    padding-right:17px;
    padding-left: 19px;
    
    
  }
  .ion-security-box{
    height: 40px;
  }
  .ion-security-box-question{
    height: 35px;
    
  }
  .ion-security-submit{
    color: #fff;
    font-size: 14px;
    background-color: #989aa2;
    border: 0px;
    height: 40px;
    
  }

}
