<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Human Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ng-container *ngIf="leaves$ | async as leaves; else loadingLeaves">
        <ion-col size="12" size-md="4">
          <ion-card class="no-box-shadow transparent-background ion-margin-top">
            <ion-card-header class="ion-no-padding ion-padding-bottom">
              <ion-card-title class="fixed-ui-title">Summary</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding transparent-background">
              <ion-card>
                <ion-card-content>
                  <chart height="600" [type]="summaryChart.type" [data]="summaryChart.data"
                    [options]="summaryChart.options">
                  </chart>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
          </ion-card>
          <ion-card class="no-box-shadow transparent-background ion-margin-top">
            <ion-card-header class="ion-no-padding ion-padding-bottom">
              <ion-card-title class="fixed-ui-title">Leave Types</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding transparent-background">
              <ion-grid class="ion-no-padding">
                <ion-row *ngIf="leaves.length > 0; else noLeaves">
                  <ion-col class="ion-no-padding" size="12">
                    <ion-slides #slides [options]="highestRatedSliderOpts">
                      <ion-slide class="with-padding-bottom" *ngFor="let leave of leaves">
                        <ion-card class="ion-no-margin with-min-width">
                          <!-- <img class="card-img" alt="slide 1" src="assets/temp/slider5.jpg" /> -->
                          <ion-card-header>
                            <ion-card-title>
                              <h6 class="ion-text-center main-text-color text-bold">{{ leave.LEAVE_TYPE }}</h6>
                            </ion-card-title>
                          </ion-card-header>
                          <ion-card-content class="ion-no-padding absolute-content">
                            <h2 class="text-bold acronym" [style.color]="leave.LEAVE_TYPE_COLOR">
                              {{ leave.LEAVE_ACRONYM }}</h2>
                          </ion-card-content>
                          <ion-footer class="card-footer">
                            <p><span class="text-bold">Available: </span> {{ ' ' + leave.AVAILABLE }}</p>
                            <p><span class="text-bold">Taken: </span> {{ ' ' + leave.TAKEN }}</p>
                          </ion-footer>
                        </ion-card>
                      </ion-slide>
                    </ion-slides>
                  </ion-col>
                </ion-row>
                <ng-template #noLeaves>
                  <app-message-with-svg messageTitle="No leaves To Show!"
                    messageContent="There are no leaves to display for this account." imageUrl="assets/img/empty.svg"
                    wrapperOffset="3" wrapperSize="6">
                  </app-message-with-svg>
                </ng-template>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="8" class="ion-no-padding">
          <ion-card class="no-box-shadow transparent-background">
            <ion-card-header class="ion-no-padding ion-padding-bottom">
              <ion-card-title class="fixed-ui-title">Leave History</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding transparent-background">
              <ion-grid class="ion-no-padding">
                <ion-row *ngIf="leaves.length > 0; else noLeaves">
                  <ion-col class="ion-no-padding" size="12">

                    <ng-container *ngIf="history$ | async as history; else loadingHistory">
                      <ng-container *ngFor="let historyItem of history | sortByDate">
                        <ion-card [ngClass]="{
                                  'approved': historyItem.STATUS === 'Approved',
                                  'pending': historyItem.STATUS === 'PENDING',
                                  'cancelled': historyItem.STATUS === ' Cancelled'
                              }">
                          <ion-card-header>

                            <ion-card-title>
                              <h4 class="responsive-h1">{{historyItem.LEAVE_TYPE}}</h4>
                              <h4 class="responsive-h2 main-text-color">
                                {{historyItem.LEAVE_DATE | date : 'EEE, dd MMM yyy'}}</h4>
                            </ion-card-title>
                            <!-- <ion-badge class="ion-float-right" >{{historyItem.STATUS}}</ion-badge> -->
                          </ion-card-header>
                          <ion-card-content *ngIf="historyItem.STATUS !== 'PENDING'">
                            <ion-item *ngIf="historyItem.ACTION_BY">
                              <ion-label>
                                <p>Action By:</p>
                                <h3 class="text-bold">{{historyItem.ACTION_BY}}</h3>
                              </ion-label>
                            </ion-item>
                            <ion-item lines="none" *ngIf="historyItem.RESPONSE_DATE">
                              <ion-label>
                                <p>Response Date:</p>
                                <h3 class="text-bold">{{historyItem.RESPONSE_DATE}}</h3>
                              </ion-label>
                            </ion-item>
                          </ion-card-content>
                        </ion-card>
                      </ng-container>
                    </ng-container>
                    <ng-template #loadingHistory>
                      <ion-card *ngFor="let _ of skeletons">
                        <ion-card-header>
                          <ion-card-title>
                            <h4 class="responsive-h1">
                              <ion-skeleton-text animated style="line-height: 20px; width: 55%;">
                              </ion-skeleton-text>
                            </h4>
                            <h4 class="responsive-h2 main-text-color">
                              <ion-skeleton-text animated style="line-height: 20px; width: 45%;">
                              </ion-skeleton-text>
                            </h4>
                          </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                          <ion-item>
                            <ion-label>
                              <p>
                                <ion-skeleton-text animated style="line-height: 20px; width: 25%;">
                                </ion-skeleton-text>
                              </p>
                              <h3 class="text-bold">
                                <ion-skeleton-text animated style="line-height: 20px; width: 65%;">
                                </ion-skeleton-text>
                              </h3>
                            </ion-label>
                          </ion-item>
                          <ion-item lines="none">
                            <ion-label>
                              <p>
                                <ion-skeleton-text animated style="line-height: 20px; width: 30%;">
                                </ion-skeleton-text>
                              </p>
                              <h3 class="text-bold">
                                <ion-skeleton-text animated style="line-height: 20px; width: 75%;">
                                </ion-skeleton-text>
                              </h3>
                            </ion-label>
                          </ion-item>
                        </ion-card-content>
                      </ion-card>
                    </ng-template>
                  </ion-col>
                </ion-row>
                <ng-template #noLeaves>
                  <app-message-with-svg messageTitle="No leaves To Show!"
                    messageContent="There are no leaves to display for this account." imageUrl="assets/img/empty.svg"
                    wrapperOffset="3" wrapperSize="6">
                  </app-message-with-svg>
                </ng-template>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
      <ng-template #loadingLeaves>
        <ion-card style="width:100%">
          <ion-skeleton-text animated style="line-height: 200px; width: 100%;"></ion-skeleton-text>
        </ion-card>
        <ion-grid>
          <ion-row>
            <ion-col offset="1" size="5">
              <ion-skeleton-text animated style="line-height: 200px; width: 100%;"></ion-skeleton-text>
            </ion-col>
            <ion-col offset="1" size="5">
              <ion-skeleton-text animated style="line-height: 200px; width: 100%;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>