ion-card {
  &.approved {
    border-left: 0.75em solid var(--success-color);
    ion-card-title {
      .responsive-h1 {
        color: var(--success-color) !important;
      }
    }
  }
  &.pending {
    border-left: 0.75em solid #dfa847;
    ion-card-title {
      .responsive-h1 {
        color: #dfa847 !important;
      }
    }
  }
  &.cancelled {
    border-left: 0.75em solid var(--danger-color);
    ion-card-title {
      .responsive-h1 {
        color: var(--danger-color) !important;
      }
    }
  }
}

div.with-padding-bottom {
  padding-bottom: 10px !important;
}
ion-label.small-padding-left {
  padding-left: 5px;
}
img.card-img {
  height: 165px !important;
  width: 100% !important;
  object-fit: cover;
}
ion-card.no-box-shadow {
  box-shadow: none;
}
// GENERAL
.fixed-ui-title {
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
}

.fixed-ui-subtitle {
  font-size: 13px;
  padding-left: 5px;
  margin-top: 2px;
}

.transparent-background {
  --background: transparent !important;
}
.with-min-width {
  width: 170px;
  height: 250px;
}

h2.acronym {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 32px;
  letter-spacing: 3px;
}

.absolute-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-footer {
  position: absolute;
  bottom: 10px;
  &:before {
    background-image: none !important;
  }
}

.white-background{
  --background: white !important;
}