.padding-small{
  padding-top: 6px;
  padding-left: 9px;
  padding-right: 9px;
}

ion-item {
  &.approved {
    border-left: 0.3em solid var(--ion-color-success);

    h4 {
      color: var(--ion-color-success) !important;
    }

    ion-badge {
      --background: var(--ion-color-success);
    }
  }

  &.pending {
    border-left: 0.3em solid var(--ion-color-warning);

    h4 {
      color: var(--ion-color-warning) !important;
    }

    ion-badge {
      --background: var(--ion-color-warning);
    }
  }

  &.cancelled {
    border-left: 0.3em solid var(--ion-color-danger);

    h4 {
      color: var(--ion-color-danger) !important;
    }

    ion-badge {
      --background: var(--ion-color-danger);
    }
  }
}
