# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
yarn.lock

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
GoogleService-Info.plist
google-services.json
my-release-key.keystore
3959P43Z3Q.cer
3959P43Z3Q.certSigningRequest
3959P43Z3Q.p12
7VMJJPWQWF.cer
APSpace_Distribution.mobileprovision
AppStore_my.edu.apiit.apspace.mobileprovision
Gemfile.lock
apspace-release.keystore
fastlane/
passphrase
provision.mobileprovision