<?xml version='1.0' encoding='utf-8'?>
<widget id="my.edu.apiit.iwebspace" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iWebspace</name>
    <description>The Asia Pacific University APP provides convenient access to important information and to most of our services in your hand.</description>
    <author email="cti@apiit.edu.my" href="http://cti.my/">CTI @ APIIT</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="none" />
    <icon src="resources/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-email-composer" spec="^0.8.11" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.3" />
    <plugin name="cordova-sqlite-storage" spec="^2.2.0" />
    <engine name="ios" spec="4.5.4" />
    <engine name="android" spec="7.0.0" />
</widget>
