<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      FEES
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div *ngIf='totalSummary$ | async as totalSummarys'>
    <ion-list *ngFor='let t of totalSummarys'>
      <ion-list-header no-lines>
        Total summary
      </ion-list-header>
      <ion-item>
        Total payable:
        <ion-note item-right>{{t.TOTAL_PAYABLE}}</ion-note>
      </ion-item>
      <ion-item>
        Total paid:
        <ion-note item-right>{{t.TOTAL_PAID}}</ion-note>
      </ion-item>
      <ion-item>
        Total outstanding:
        <ion-note item-right>{{t.TOTAL_OUTSTANDING}}</ion-note>
      </ion-item>
      <ion-item>
        Total overdue:
        <ion-note item-right color='warn'>{{t.TOTAL_OVERDUE}}</ion-note>
      </ion-item>
    </ion-list>
  </div>

  <ion-segment [(ngModel)]="fee">
    <ion-segment-button value="Summary">
      Summary
    </ion-segment-button>
    <ion-segment-button value="Bank Draft">
      Bank Draft
    </ion-segment-button>
    <ion-segment-button value="Details">
      Details
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]='fee'>
    <div *ngSwitchCase="'Summary'">
      <ion-card >
        <ion-list-header>
          {{fee}}
        </ion-list-header>
        <ion-item>

        </ion-item>
      </ion-card>
    </div>
    <div *ngSwitchCase="'Bank Draft'">
      <div *ngIf='bankDraft$ | async as bankDrafts'>
      <ion-card *ngFor='let b of bankDrafts'>
        <ion-list-header>
          {{fee}}
        </ion-list-header>
        <ion-item>

        </ion-item>
      </ion-card>
    </div>
    </div>
    <div *ngSwitchCase="'Details'">
      <ion-card >
        <ion-list-header>
          {{fee}}
        </ion-list-header>
        <ion-item>

        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>
