ion-card-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    --background: var(--ion-color-primary);
    color: #ffffff;
  }

  ion-button {
    float: right;
    margin: 10px;
  }
