<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/attendix/classes"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Edit Class Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header color="medium">
      <ion-card-title center>Module Name</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Class:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Time:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Venue:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Lecturer:</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-button (click)="classDetails()">Submit</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
