<ion-grid margin-top>
  <ion-row margin-top>
    <ion-col size="12" padding text-center>
      <ion-img src="assets/img/empty.svg"></ion-img>
    </ion-col>
    <ion-col margin-top size="12">
      <h3 class="secondary-txt-color text-bolder" text-center>
        {{ messageTitle }}
      </h3>
      <p *ngIf="messageContent" text-center class="secondary-txt-color double-margin-top">
        {{ messageContent }}
      </p>
      <div *ngIf="buttonContent" padding margin-top>
        <ion-button (click)="buttonAction()" margin-top expand="block" class="colored-background">
          {{ buttonContent }}
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>