page-submit-survey {
  loading-spinner {
      .loader {
        top: calc(50% - 80px);
        left: calc(50% - 40px);
        width: 80px;
        height: 80px;
      }
    }
  h4, p, h3{
      white-space: normal;
  }
  textarea{
    padding: 10px !important;
    width: 100%;
  }
  .userMessage{
    white-space: normal;
  }
  .outsiderDiv {
    width: 98%; 
    margin-left: 1%;
  }
  .divCol {
    display: inline-flex;
  }
  .smIonList {
    display: inline-flex; 
    width: 100%;
     padding: 0%;
  }
  .naRadioBtn {
    margin-left: 0% !important;
    margin-right:1px;
  }
  .ansRadioBtn {
    margin-left: 0% !important; 
    margin-right: 8px ;
  }
}
