page-staff-directory {
  ion-content ion-col ion-card {
    > ion-icon {
      font-size: 18em;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
    }
  }
}
