<ion-header no-border>
  <ion-navbar>
    <ion-title>Staff Directory</ion-title>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll='true'>
  <!-- staff is not [] -->
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh">
    </ion-refresher-content>
  </ion-refresher>
  
  <div class="sticky-top">
      <div class="row">
        <div class="col-12 search-bar-div">
          <ion-searchbar [(ngModel)]="term"> </ion-searchbar>
        </div>
      </div>
      <div class="row mt-0" *ngIf="(staffType$ | async) as staffTypes">
        <div class="col-12 functional-area-div">
          <ion-label stacked class="ml-4">Functional Area</ion-label>
          <ion-select
            [(ngModel)]="dept"
            interface="popover"
            placeholder="Functional Area"
          >
            <ion-option selected [value]="''">Any</ion-option>
            <ion-option
              *ngFor="let type of staffTypes"
              [innerHTML]="type.toUpperCase()"
              [value]="type"
            ></ion-option>
          </ion-select>
        </div>
      </div>
    </div>


  <ion-list [virtualScroll]="staff$ | async | in:dept | search:term" [virtualTrackBy]="trackById" approxItemHeight="68px">
    <ion-item *virtualItem="let staff" navPush="StaffDirectoryInfoPage" [navParams]="{id: staff.ID}">
      <ion-avatar item-start>
        <ion-img [src]="'https://d37plr7tnxt7lb.cloudfront.net/' + staff.RefNo + '_64x64.jpg'" onerror="this.src='assets/img/profile.svg'"></ion-img>
      </ion-avatar>
      <h2>{{ staff.FULLNAME }}</h2>
      <p>{{ staff.EMAIL }}</p>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="isLoading">
    <ion-item *ngFor="let i of numOfSkeletons">
      <ion-avatar item-start>
        <skeleton-item height="50px" width="50px" rounded></skeleton-item>
      </ion-avatar>
      <skeleton-item width="200px"></skeleton-item>
      <skeleton-item height="5px" width="150px"></skeleton-item>
    </ion-item>
  </ng-container>
</ion-content>
