page-staff-directory-info {
  /* XXX: ugly hack to do the display the back-button */
  ion-navbar button[ion-button].back-button {
    display: inline-block;
  }

  a {
    text-decoration: none;
  }

  lecturer-timetable .schedule-week {
    padding: 0 12px;
  }

  .staff-directory-info-header {
    #bg {
      position: absolute;
      left: 0;
      right: 0;
      transform: scale(2) translateY(8%);
      z-index: -1;
      filter: blur(5px);
      max-height: 35vh;
    }

    img {
      display: block;
      margin: 0 auto;
      box-shadow: 0 0 6px 2px #fff, 0 0 2px 1px #ddd;
    }
  }
}
