<ion-content>
  <ion-refresher *ngIf="!editableList" slot="fixed" pullMax="400" pullMin="60 " (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- MAIN GRID -->
  <div>
    <!-- MAIN ROW -->
    <div class="masonry-list" [dragula]="editableList">
      <!-- PROFILE SECTION -->
      <div class="masonry-item no-drag">
        <ion-card no-margin>
          <ion-card-header no-padding>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-avatar *ngIf="staffProfile$ | async as staffProfile"
                    class="dashboard-avatar cursor-pointer float-left" (click)="navigateToPage('profile')">
                    <img [src]="staffProfile[0].PHOTO" onerror="this.src='assets/img/no_img.png'" alt="Avatar">
                  </ion-avatar>
                  <div class="welcome-message-wrapper float-left" *ngIf="staffFirstName; else loadingProfile"
                    padding-start>
                    <ion-card-title>
                      <h3 class="responsive-h1">{{greetingMessage}}, <span>{{staffFirstName | titlecase}}</span>
                      </h3>
                    </ion-card-title>
                    <ion-card-subtitle>
                      <h3 class="responsive-h2">Nice to see you again.</h3>
                    </ion-card-subtitle>
                  </div>
                  <ng-template #loadingProfile>
                    <div class="welcome-message-wrapper float-left" style="width: 75%; padding-top: 0" padding-start>
                      <ion-card-title>
                        <h3 class="responsive-h1">
                          <ion-skeleton-text animated style="width: 100%; line-height: 30px"></ion-skeleton-text>
                        </h3>
                      </ion-card-title>
                      <ion-card-subtitle>
                        <h3 class="responsive-h2">
                          <ion-skeleton-text animated style="width: 75%; line-height: 25px"></ion-skeleton-text>
                        </h3>
                      </ion-card-subtitle>
                    </div>
                  </ng-template>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div class="icons" margin-top text-right>
                    <a (click)="toggleReorderingMode()" margin-end>
                      <ion-icon *ngIf="editableList" color="success" class="responsive-icon colored-text"
                        name="checkmark"></ion-icon>
                      <ion-icon *ngIf="!editableList" class="responsive-icon colored-text" name="md-create"></ion-icon>
                    </a>
                    <a (click)="navigateToPage('/settings')" margin-end>
                      <ion-icon class="anim-rotate-360-deg animated responsive-icon colored-text" name="settings">
                      </ion-icon>
                    </a>
                    <a class="notifications" (click)="navigateToPage('/notifications')" margin-end>
                      <ion-badge *ngIf="numberOfUnreadMsgs > 0" color="danger">{{ numberOfUnreadMsgs }}</ion-badge>
                      <ion-icon class="responsive-icon colored-text anim-ring" name="notifications"></ion-icon>
                    </a>
                    <a class="notifications" (click)="navigateToPage('/logout')">
                      <ion-icon class="responsive-icon danger-text anim-ring" name="log-out"></ion-icon>
                    </a>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
      </div>

      <!-- TODAY'S SCHEDULE -->
      <div class="masonry-item">
        <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
          <ion-icon name="move" class="handle"></ion-icon>
        </div>
        <dashboard-card [cardTitle]='todaysScheduleCardConfigurations.cardTitle'
          [cardSubtitle]='todaysScheduleCardConfigurations.cardSubtitle'
          [withOptionsButton]='todaysScheduleCardConfigurations.withOptionsButton'
          [options]='todaysScheduleCardConfigurations.options'>
          <events-list [observable$]="todaysSchedule$"></events-list>
        </dashboard-card>
      </div>

      <!-- UPCOMING EVENTS -->
      <div class="masonry-item">
        <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
          <ion-icon name="move" class="handle"></ion-icon>
        </div>
        <dashboard-card style="width: 100%;" [cardTitle]='upcomingEventsCardConfigurations.cardTitle'
          [cardSubtitle]='upcomingEventsCardConfigurations.cardSubtitle'
          [withOptionsButton]='upcomingEventsCardConfigurations.withOptionsButton'
          [options]='upcomingEventsCardConfigurations.options'>
          <events-list [observable$]="upcomingEvent$"></events-list>
        </dashboard-card>
      </div>

      <!-- QUICK ACCESS SECTION -->
      <div class="masonry-item no-padding">
        <ion-grid no-padding>
          <ion-row>
            <!-- QUICK ACCESS ITEM: ATTENDANCE -->
            <ion-col padding-start>
              <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
                <ion-icon name="move" class="handle"></ion-icon>
              </div>
              <quick-access-item icon="car" titleFirstWord='Leave' titleSecondWord='Balance' [observable$]='test1$'
                outputMode='others'>
              </quick-access-item>
            </ion-col>

            <!-- QUICK ACCESS ITEM: APCARD BALANCE -->
            <ion-col>
              <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
                <ion-icon name="move" class="handle"></ion-icon>
              </div>
              <quick-access-item icon="filing" titleFirstWord='Leave' titleSecondWord='History' [observable$]='test1$'
                outputMode='others'>
              </quick-access-item>
            </ion-col>

            <!-- QUICK ACCESS ITEM: TOTAL OVERDUE -->
            <ion-col padding-end>
              <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
                <ion-icon name="move" class="handle"></ion-icon>
              </div>
              <quick-access-item icon="timer" titleFirstWord='Pending' titleSecondWord='Leave' [observable$]="test2$"
                outputMode='others'>
              </quick-access-item>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>

      <!-- EASY ACCESS SECTION -->
      <div class="masonry-item no-padding">
        <ion-grid no-padding>
          <ion-row>
            <ion-col size="12" padding-start>
              <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
                <ion-icon name="move" class="handle"></ion-icon>
              </div>
              <ion-button style="--background: #305F72" expand="block">Apply For Leave</ion-button>
            </ion-col>


            <ion-col size="6" padding-start>
              <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
                <ion-icon name="move" class="handle"></ion-icon>
              </div>
              <ion-button style="--background: #510A32" expand="block">Send Feedback</ion-button>
            </ion-col>

            <ion-col size="6" padding-start>
              <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
                <ion-icon name="move" class="handle"></ion-icon>
              </div>
              <ion-button style="--background: #568EA6" expand="block">Book a Car</ion-button>
            </ion-col>

            <ion-col size="12" padding-start>
              <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
                <ion-icon name="move" class="handle"></ion-icon>
              </div>
              <ion-button style="--background: #Fa8C8E" expand="block">Open Helpdesk Request</ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>


      <!-- INSPIRATIONAL QUOTES -->
      <div class="masonry-item">
        <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
          <ion-icon name="move" class="handle"></ion-icon>
        </div>
        <dashboard-card style="width: 100%;" [cardTitle]='inspirationalQuotesCardConfigurations.cardTitle'
          [cardSubtitle]='inspirationalQuotesCardConfigurations.cardSubtitle'
          [withOptionsButton]='inspirationalQuotesCardConfigurations.withOptionsButton'
          [options]='inspirationalQuotesCardConfigurations.options'>
          <ion-grid class="ion-no-padding ion-margin-bottom">
            <ion-row>
              <ion-col padding-start>
                <p style="font-style: italic" class="ion-padding">"Do not worry if you have built your castles in the
                  air. They are where
                  they should be. Now put the
                  foundations under them"</p>
                <h4 class="text-bold">Henry David Thoreau</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
        </dashboard-card>
      </div>

      <!-- Personal Development -->
      <div class="masonry-item">
        <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
          <ion-icon name="move" class="handle"></ion-icon>
        </div>
        <dashboard-card style="width: 100%;" [cardTitle]='personalDevelopmentCardConfigurations.cardTitle'
          [cardSubtitle]='personalDevelopmentCardConfigurations.cardSubtitle'
          [withOptionsButton]='personalDevelopmentCardConfigurations.withOptionsButton'
          [options]='personalDevelopmentCardConfigurations.options'>
          <div class="test">
            <ion-segment scrollable>
              <ion-segment-button checked layout="icon-start">
                <ion-label>Courses</ion-label>
                <ion-icon name="videocam"></ion-icon>
              </ion-segment-button>
              <ion-segment-button layout="icon-start">
                <ion-label>Skill Development</ion-label>
                <ion-icon name="battery-charging"></ion-icon>
              </ion-segment-button>
              <ion-segment-button layout="icon-start">
                <ion-label>Weekly Digest</ion-label>
                <ion-icon name="calculator"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </div>
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/innovation.png">
              </ion-avatar>
              <ion-label>
                <h2>Innovation in the Workplace</h2>
                <h3>Stephen Hunts</h3>
                <p>Bwginner - Mar 5, 2019 11h 41m</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/social_eng.png">
              </ion-avatar>
              <ion-label>
                <h2>Social Enginnering</h2>
                <h3>Stephen Hunts</h3>
                <p>Bwginner - Jun 5, 2019 03h 41m</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/business_analysis.png">
              </ion-avatar>
              <ion-label>
                <h2>Business Analysis</h2>
                <h3>Stephen Hunts</h3>
                <p>Advance - Nov 5, 2019 07h 41m</p>
              </ion-label>
            </ion-item>
          </ion-list>

        </dashboard-card>
      </div>

      <!-- Away Today -->
      <div class="masonry-item">
        <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
          <ion-icon name="move" class="handle"></ion-icon>
        </div>
        <dashboard-card style="width: 100%;" [cardTitle]='awayTodayCardConfigurations.cardTitle'
          [cardSubtitle]='awayTodayCardConfigurations.cardSubtitle'
          [withOptionsButton]='awayTodayCardConfigurations.withOptionsButton'
          [options]='awayTodayCardConfigurations.options'>
          <ion-list>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/835.jpg">
              </ion-avatar>
              <ion-label>
                <h2>M. Reza Ganji</h2>
                <h3 class="text-bold">Annual Leave</h3>
                <p><span class="text-bold">Email:</span> reza.ganji@staffemail.apu.edu.my</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/img/111.jpeg">
              </ion-avatar>
              <ion-label>
                <h2>Mohamad Al Ghayeb</h2>
                <h3 class="text-bold">Medical Leave</h3>
                <p><span class="text-bold">Email:</span> mohamad.alghayeb@staffemail.apu.edu.my</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </dashboard-card>
      </div>

      <!-- Survey Satisfaction -->
      <div>
        <div class="masonry-item" *ngIf="apcardTransaction$ | async; else loadingApcardTransactions">
          <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
            <ion-icon name="move" class="handle"></ion-icon>
          </div>
          <dashboard-card [cardTitle]='surveySatCardConfigurations.cardTitle'
            [options]='surveySatCardConfigurations.options'
            [contentPadding]='surveySatCardConfigurations.contentPadding'
            [withOptionsButton]='surveySatCardConfigurations.withOptionsButton'>
            <chart class="ion-margin-bottom" height="600" [type]="surveySatisfactionChartDatat.type"
              [data]="surveySatisfactionChartDatat.data" [options]="surveySatisfactionChartDatat.options">
            </chart>
          </dashboard-card>
        </div>
      </div>


      <!-- Weekly Time Report -->
      <div>
        <div class="masonry-item" *ngIf="apcardTransaction$ | async; else loadingApcardTransactions">
          <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
            <ion-icon name="move" class="handle"></ion-icon>
          </div>
          <dashboard-card [cardTitle]='weeklyTimeReportCardConfigurations.cardTitle'
            [options]='weeklyTimeReportCardConfigurations.options'
            [contentPadding]='weeklyTimeReportCardConfigurations.contentPadding'
            [withOptionsButton]='weeklyTimeReportCardConfigurations.withOptionsButton'>
            <chart class="ion-margin-bottom" height="600" [type]="weeklyTimeReportChartDatat.type"
              [data]="weeklyTimeReportChartDatat.data" [options]="weeklyTimeReportChartDatat.options">
            </chart>
          </dashboard-card>
        </div>
      </div>



      <!-- BUS SHUTTLE SERVICES -->
      <div>
        <div class="masonry-item">
          <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
            <ion-icon name="move" class="handle"></ion-icon>
          </div>
          <dashboard-card [cardTitle]='busCardConfigurations.cardTitle'
            [contentPadding]='busCardConfigurations.contentPadding'
            [withOptionsButton]='busCardConfigurations.withOptionsButton'>
            <ng-container *ngIf="(upcomingTrips$ | async) as upcomingTrips; else loadingTrips">
              <ng-container *ngIf="!showSetLocationsSettings; else locationsSettings">
                <ng-container *ngIf="upcomingTrips.length > 0; else noTrips">
                  <ion-card class="trip-card" no-margin margin-bottom *ngFor="let upcomingTrip of upcomingTrips">
                    <ion-card-content no-padding>
                      <ion-grid no-padding>
                        <ion-row>
                          <ion-col no-padding size="1">
                            <div class="full-background" [style.background]="upcomingTrip.trip_from_color"></div>
                          </ion-col>
                          <ion-col size="11" padding>
                            <h3 class="trips-locations text-bolder">{{ upcomingTrip.trip_from }} <ion-icon
                                name="arrow-dropright">
                              </ion-icon> {{upcomingTrip.trip_to}}</h3>
                            <p>
                              <span class="trip-time" *ngIf="upcomingTrip.times[0]"> {{upcomingTrip.times[0]}}
                              </span>
                              <span class="trip-time" *ngIf="upcomingTrip.times[1]"> {{upcomingTrip.times[1]}}
                              </span>
                              <span class="trip-time" *ngIf="upcomingTrip.times[2]"> {{upcomingTrip.times[2]}}
                              </span>
                              <span class="trip-time" *ngIf="upcomingTrip.times[3]">
                                {{upcomingTrip.times[3]}} </span>
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
                </ng-container>
                <ng-template #noTrips>
                  <app-message-with-svg messageTitle="No More Trips!"
                    messageContent="No more trips for the selected line." imageUrl="assets/img/sad.svg"
                    wrapperOffset="3" wrapperSize="6">
                  </app-message-with-svg>
                </ng-template>
              </ng-container>
              <ng-template #locationsSettings>
                <app-message-with-svg messageTitle="Section is not configured!"
                  messageContent="You can configure this section from the settings page, under the bus shuttle services card."
                  imageUrl="assets/img/config.svg" wrapperOffset="3" wrapperSize="6">
                </app-message-with-svg>
                <ion-grid>
                  <ion-row>
                    <ion-col size="10" offset="1">
                      <ion-button routerLink="/settings" routerDirection="forward" class="colored-background"
                        expand="block">
                        Open Settings
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ng-template>
            </ng-container>
            <ng-template #loadingTrips>
              <ion-skeleton-text margin-top margin-bottom style="width: 50%; line-height: 30px;" animated>
              </ion-skeleton-text>
              <ion-skeleton-text margin-top margin-bottom style="width: 90%; line-height: 30px;" animated>
              </ion-skeleton-text>
              <ion-skeleton-text margin-top margin-bottom style="width: 30%; line-height: 30px;" animated>
              </ion-skeleton-text>
              <ion-skeleton-text margin-top margin-bottom style="width: 70%; line-height: 30px;" animated>
              </ion-skeleton-text>
            </ng-template>
          </dashboard-card>
        </div>
      </div>

      <!-- APCard Transactions -->
      <div>
        <div class="masonry-item" *ngIf="apcardTransaction$ | async; else loadingApcardTransactions">
          <div [class.edit-overlay]="editableList" [class.hide]="!editableList">
            <ion-icon name="move" class="handle"></ion-icon>
          </div>
          <dashboard-card [cardTitle]='apcardTransactionsCardConfigurations.cardTitle'
            [cardSubtitle]='currentBalance !== -1 ? "Balance: " + (currentBalance | currency: "MYR": "RM"): "Balance: --"'
            [options]='apcardTransactionsCardConfigurations.options'
            [contentPadding]='apcardTransactionsCardConfigurations.contentPadding'
            [withOptionsButton]='apcardTransactionsCardConfigurations.withOptionsButton'>
            <chart height="600" *ngIf="apcardChart.data" [type]="apcardChart.type" [data]="apcardChart.data"
              [options]="apcardChart.options">
            </chart>
          </dashboard-card>
        </div>
        <ng-template #loadingApcardTransactions>
          <ion-card>
            <ion-card-header>
              <ion-skeleton-text style="width: 70%; line-height: 30px;" animated></ion-skeleton-text>
            </ion-card-header>
            <ion-card-content>
              <ion-skeleton-text margin-top margin-bottom style="width: 50%; line-height: 30px;" animated>
              </ion-skeleton-text>
              <ion-skeleton-text margin-top margin-bottom style="width: 90%; line-height: 30px;" animated>
              </ion-skeleton-text>
              <ion-skeleton-text margin-top margin-bottom style="width: 30%; line-height: 30px;" animated>
              </ion-skeleton-text>
              <ion-skeleton-text margin-top margin-bottom style="width: 70%; line-height: 30px;" animated>
              </ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </div>

    </div>
  </div>

</ion-content>