<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh">
    </ion-refresher-content>
  </ion-refresher>

  <div id='cover'></div>
  <ion-card padding>
    <ion-row>
      <ion-col col-6>
        <ion-icon class='big-icons' name='md-calendar'></ion-icon>
        <p class='icon-title'>Classes Today</p>
        <p class='top-value' [style.color]="'#0dbd53'">
          {{ totalClasses !== undefined ? totalClasses : '…' }}
        </p>
      </ion-col>
      <ion-col col-6>
        <ion-icon class='big-icons' name='md-alarm'></ion-icon>
        <p class='icon-title'>Overall Attendance</p>
        <p *ngIf='attendancePercent$ | async as ap' class='top-value'
          [style.color]=".8 <= ap && ap <= 1 ? '#0dbd53' : '#f04141'">
          {{ ap | percent }}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-icon class='big-icons' name='md-card'></ion-icon>
        <p class='icon-title'>APCard Balance</p>
        <p class='top-value' *ngIf='transaction$ | async as balance'
          [style.color]="balance == 0 ? '#f04141' : '#0dbd53'">{{
          balance | currency:'MYR':'RM' }}</p>
      </ion-col>
      <ion-col col-6>
        <ion-icon class='big-icons' name='md-cash'></ion-icon>
        <p class='icon-title'>Total Overdue</p>
        <p *ngIf="overdue$ | async as overdue" class='top-value' [style.color]="overdue[0]?.TOTAL_OVERDUE == 0 ? '#0dbd53' : '#f04141'">
          {{ overdue[0]?.TOTAL_OVERDUE | currency:'MYR':'RM':'1.0-0' }}
        </p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ng-template let-classes [ngIf]='upcomingClass$ | async' [ngIfElse]='loadingClasses'>
    <ng-template [ngIf]='classes && classes.length > 0' [ngIfElse]='noclass'>
      <ion-card class="list-block">
        <ion-card-header>
          <ion-icon padding-right name='calendar' color='primary'></ion-icon>
          Classes Today
        </ion-card-header>
        <ion-card-content>
          <ion-list no-lines>
            <div *ngFor="let c of classes" class="side-line"
              [style.borderColor]='strToColor(c.MODID)'>
              <h2><b>{{ c.MODID }}</b></h2>
              <ion-label no-margin>
                <ion-icon class="timetable-value" padding-right name="time"></ion-icon>
                <b>{{ c.TIME_FROM }}</b> - <b>{{ c.TIME_TO }}</b>
              </ion-label>
              <ion-label no-margin>
                <ion-icon class="timetable-value" padding-right name="locate"></ion-icon>
                {{ c.ROOM }} │ {{ c.LOCATION }}
              </ion-label>
              <ion-label no-margin>
                <a (click)="openStaffDirectoryInfo(c.SAMACCOUNTNAME)">
                  <ion-icon class="timetable-value" padding-right name="contact"></ion-icon>
                  {{ c.LECTURER_NAME }}
                </a>
              </ion-label>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template #noclass>
      <ion-card>
        <ion-item no-lines>
          <b>Classes Today</b>
          <ion-icon item-left name='calendar' color='primary'></ion-icon>
        </ion-item>
        <ion-card-content>
          <ion-note>No upcoming classes for today</ion-note>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-template>
  <ng-template #loadingClasses>
    <ion-card>
      <ion-item no-lines *ngFor="let i of numOfSkeletons">
        <skeleton-item height="137px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template let-attendances [ngIf]='attendance$ | async' [ngIfElse]='loadingLowAttendances'>
    <ng-template [ngIf]='attendances.length > 0' [ngIfElse]='nosubject'>
      <ion-card>
        <ion-card-header>
          <ion-icon padding-right name='alarm' [style.color]="'#2042A6'"></ion-icon>
          Low Attendance Subjects
        </ion-card-header>
        <ion-card-content>
          <ion-segment [(ngModel)]="subject">
            <ion-segment-button *ngFor='let a of attendances' [value]='a.SUBJECT_CODE' (click)='getPieChart(a.TOTAL_CLASSES, a.TOTAL_ABSENT, a.SUBJECT_CODE, a.PERCENTAGE)'>
              {{ a.SUBJECT_CODE.split('-')[a.SUBJECT_CODE.split('-').length -1] }}
            </ion-segment-button>
          </ion-segment>
          <ion-label *ngIf='subjectCode'>{{ subjectCode + ': ' + percent + '%' }}</ion-label>
          <chart [type]="type[0]" [data]="pieChartData" [options]="options[0]"></chart>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template #nosubject>
    </ng-template>
  </ng-template>
  <ng-template #loadingLowAttendances>
    <ion-card>
      <ion-item no-lines>
        <skeleton-item height="200px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template let-holiday [ngIf]='nextHoliday$ | async' [ngIfElse]='loadingHoliday'>
    <ng-template [ngIf]='holiday' [ngIfElse]='noHoliday'>
      <ion-card tappable (click)="openPage('HolidaysPage')">
        <ion-card-header>
          <ion-icon padding-right name='globe' [style.color]="'#5AC8FA'"></ion-icon>
          Upcoming Holiday
        </ion-card-header>
        <ion-card-content>
          <h2 padding-bottom>{{ holiday.holiday_name }}</h2>
          <ion-label no-margin>
            <ion-icon padding-right name='calendar'></ion-icon>
            {{ holiday.holiday_start_date | date:'mediumDate' }}
            <ng-template [ngIf]='holiday.holiday_start_date !== holiday.holiday_end_date'>
              - {{ holiday.holiday_end_date | date:'mediumDate'}}
            </ng-template>
          </ion-label>
          <ng-template [ngIf]='holiday.holiday_description'>
            <p no-margin>
              <ion-icon padding-right name='text'></ion-icon>
              {{ holiday.holiday_description }}
            </p>
          </ng-template>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template #noHoliday>
      <ion-card>
        <ion-item no-lines>
          <b>Upcoming Holiday</b>
          <ion-icon item-left name='globe'  [style.color]="'#5AC8FA'"></ion-icon>
        </ion-item>
        <ion-card-content>
          <ion-note>No upcoming holidays</ion-note>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-template>
  <ng-template #loadingHoliday>
    <ion-card>
      <ion-item no-lines>
        <skeleton-item height="137px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template let-exams [ngIf]='exam$ | async | nextExams' [ngIfElse]='loadingExams'>
    <ng-template [ngIf]='exams && exams.length > 0' [ngIfElse]='noExam'>
      <ion-card tappable class="list-block" (click)="openPage('ExamSchedulePage')">
        <ion-card-header>
          <ion-icon padding-right name='globe' [style.color]="'#5AC8FA'"></ion-icon>
          Upcoming Exams
        </ion-card-header>
        <ion-card-content>
          <ion-list no-lines>
            <div *ngFor="let exam of exams" class="side-line" [style.borderColor]="'#fd5000'">
              <h2>{{ exam.module }}</h2>
              <ion-label no-margin>
                <ion-icon padding-right name='clock'></ion-icon>
                {{ exam.since | date:'mediumDate'}} ({{ exam.since | date:'shortTime'}} - {{ exam.until |
                date:'shortTime'}})
              </ion-label>
              <p padding-right>Dockets will be released on <b>{{ exam.docketsDue | date }}</b>, and the
                results will be published on <b>{{ exam.resultDate | date }}.</b></p>
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template #noExam>
      <ion-card>
        <ion-card-header>
          <ion-icon padding-right name='book' [style.color]="'#2042A6'"></ion-icon>
          Upcoming Exams
        </ion-card-header>
        <ion-card-content>
          <ion-note>No upcoming exams</ion-note>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-template>
  <ng-template #loadingExams>
    <ion-card>
      <ion-item no-lines *ngFor="let i of numOfSkeletons">
        <skeleton-item height="100px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template [ngIf]='!block' [ngIfElse]='blocked'>
    <ng-template [ngIf]='barChartData' [ngIfElse]='loadingGPA'>
      <ion-card>
        <ion-card-header>
          <ion-icon padding-right name='checkmark-circle' [style.color]="'#F78F08'"></ion-icon>
          GPA per Intake
        </ion-card-header>
        <chart [type]="type[1]" [data]="barChartData" [options]="options[1]"></chart>
      </ion-card>
    </ng-template>
    <ng-template #loadingGPA>
      <ion-card>
        <ion-item no-lines>
          <skeleton-item height="160px" width="100%"></skeleton-item>
        </ion-item>
      </ion-card>
    </ng-template>
  </ng-template>
  <ng-template #blocked>
  </ng-template>
</ion-content>
