<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh">
    </ion-refresher-content>
  </ion-refresher>

  <div id='cover'></div>
  <ion-card padding>
    <ion-row>
      <ion-col col-6>
        <ion-icon class='big-icons' name='md-calendar'></ion-icon>
        <p class='icon-title'>Today's Classes</p>
        <p class='top-value' style='color: #0dbd53'>{{ totalClasses !== undefined ? totalClasses : '…' }}</p>
      </ion-col>
      <ion-col col-6>
        <ion-icon class='big-icons' name='md-alarm'></ion-icon>
        <p class='icon-title'>Overall Attendance</p>
        <p class='top-value' *ngIf='percent$ | async as percent' [style.color]="(percent.toFixed(0) >= 80 && percent.toFixed(0) <= 100) ? '#0dbd53' : '#f04141'">{{
          percent.toFixed(0) + "%" }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-icon class='big-icons' name='md-card'></ion-icon>
        <p class='icon-title'>APCard Balance</p>
        <p class='top-value' *ngIf='transaction$ | async as balance' [style.color]="(balance == 0) ? '#f04141' : '#0dbd53'">{{
          balance | currency:'MYR':'RM' }}</p>
      </ion-col>
      <ion-col col-6>
        <ion-icon class='big-icons' name='md-cash'></ion-icon>
        <p class='icon-title'>Total Overdue</p>
        <p class='top-value' [style.color]="(overdueFee == 0) ? '#0dbd53' : '#f04141'">{{ overdueFee |
          currency:'MYR':'RM':'1.0-0' }}</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ng-template let-classes [ngIf]='upcomingClass$ | async' [ngIfElse]='loadingClasses'>
    <ng-template [ngIf]='classes && classes.length > 0' [ngIfElse]='noclass'>
      <ion-card>
        <ion-item no-lines>
          <b>Today's Classes</b>
          <ion-icon item-left name='calendar' color='primary'></ion-icon>
        </ion-item>
        <ion-card-content>
          <ion-list class="side-line" [style.border-color]='strToColor(c.MODID)' margin-top no-lines *ngFor='let c of classes'>
            <h2 class="timetable-value" margin-bottom margin-top><b>{{ c.SUBJECT_CODE }}</b></h2>
            <ion-label no-margin>
              <ion-icon class="timetable-value" padding-right name="time"></ion-icon>
              <b>{{ c.TIME_FROM }}</b> -
              <b>{{ c.TIME_TO }}</b>
            </ion-label>
            <ion-label no-margin>
              <ion-icon class="timetable-value" padding-right name="locate"></ion-icon>
              {{ c.ROOM }} │ {{ c.LOCATION }}
            </ion-label>
            <ion-label no-margin>
              <a (click)="openStaffDirectoryInfo(c.SAMACCOUNTNAME)">
                <ion-icon class="timetable-value" padding-right name="contact"></ion-icon>
                {{ c.LECTURER_NAME }}
              </a>
            </ion-label>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template #noclass>
      <ion-card>
        <ion-item no-lines>
          <b>Today's Classes</b>
          <ion-icon item-left name='calendar' color='primary'></ion-icon>
        </ion-item>
        <ion-card-content>
          <ion-note>No upcoming classes for today</ion-note>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-template>
  <ng-template #loadingClasses>
    <ion-card>
      <ion-item no-lines *ngFor="let i of numOfSkeletons">
        <skeleton-item height="137px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template [ngIf]='attendances' [ngIfElse]='loadingLowAttendances'>
    <ng-template [ngIf]='attendances && attendances.length > 0' [ngIfElse]='nosubject'>
      <ion-card>
        <ion-item no-lines>
          <b>Low Attendance Subjects</b>
          <ion-icon item-left name='alarm' style='color: #2042A6;'></ion-icon>
        </ion-item>
        <ion-card-header>
          <ion-segment [(ngModel)]="subject">
            <ion-segment-button *ngFor='let a of attendances' [value]='a.SUBJECT_CODE' (click)='getPieChart(a.TOTAL_CLASSES, a.TOTAL_ABSENT, a.SUBJECT_CODE, a.PERCENTAGE)'>
              {{ a.SUBJECT_CODE.split('-')[a.SUBJECT_CODE.split('-').length -1] }}
            </ion-segment-button>
          </ion-segment>
        </ion-card-header>
        <ion-card-content>
          <ion-label *ngIf='subjectCode'>{{ subjectCode + ': ' + percent + '%' }}</ion-label>
          <chart margin-top [type]="type[0]" [data]="pieChartData" [options]="options[0]"></chart>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template #nosubject>
    </ng-template>
  </ng-template>
  <ng-template #loadingLowAttendances>
    <ion-card>
      <ion-item no-lines>
        <skeleton-item height="200px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template let-holiday [ngIf]='nextHoliday$ | async' [ngIfElse]='loadingHoliday'>
    <ng-template [ngIf]='holiday' [ngIfElse]='noHoliday'>
      <ion-card tappable (click)="openPage('HolidaysPage')">
        <ion-item no-lines>
          <b>Upcoming Holiday</b>
          <ion-icon item-left name='globe' style='color: #5AC8FA;'></ion-icon>
        </ion-item>
        <ion-card-header>
          {{ holiday.holiday_name }}
        </ion-card-header>
        <ion-card-content>
          <ion-label no-margin>
            <ion-icon padding-right name='calendar'></ion-icon>
            {{ holiday.holiday_start_date | date:'mediumDate' }}
            <ng-template [ngIf]='holiday.holiday_start_date !== holiday.holiday_end_date'>
              - {{ holiday.holiday_end_date | date:'mediumDate'}}
            </ng-template>
          </ion-label>
          <ng-template [ngIf]='holiday.holiday_description'>
            <p no-margin>
              <ion-icon padding-right name='text'></ion-icon>
              {{ holiday.holiday_description }}
            </p>
          </ng-template>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template #noHoliday>
      <ion-card>
        <ion-item no-lines>
          <b>Upcoming Holiday</b>
          <ion-icon item-left name='globe' style='color: #5AC8FA;'></ion-icon>
        </ion-item>
        <ion-card-content>
          <ion-note>No upcoming holidays</ion-note>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-template>
  <ng-template #loadingHoliday>
    <ion-card>
      <ion-item no-lines>
        <skeleton-item height="137px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template let-exams [ngIf]='exam$ | async | nextExams' [ngIfElse]='loadingExams'>
    <ng-template [ngIf]='exams && exams.length > 0' [ngIfElse]='noExam'>
      <ion-card tappable (click)="openPage('ExamSchedulePage')">
        <ion-item no-lines>
          <b>Upcoming Exams</b>
          <ion-icon item-left name='book' style='color: #2042A6;'></ion-icon>
        </ion-item>
        <ion-card-content>
          <ion-list no-lines class="side-line" style="border-color: #fd5000;" *ngFor='let exam of exams'>
            <h2 margin-left margin-bottom margin-top>{{ exam.module }}</h2>
            <ion-label no-margin>
              <ion-icon margin-left padding-right name='clock'></ion-icon>
              {{ exam.since | date:'mediumDate'}} ({{ exam.since | date:'shortTime'}} - {{ exam.until |
              date:'shortTime'}})
            </ion-label>
            <p margin-left padding-right>Dockets will be released on <b>{{ exam.docketsDue | date }}</b>, and the
              results will be published on <b>{{ exam.resultDate | date }}.</b></p>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template #noExam>
      <ion-card>
        <ion-item no-lines>
          <b>Upcoming Exams</b>
          <ion-icon item-left name='book' style='color: #2042A6;'></ion-icon>
        </ion-item>
        <ion-card-content>
          <ion-note>No upcoming exams</ion-note>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-template>
  <ng-template #loadingExams>
    <ion-card>
      <ion-item no-lines *ngFor="let i of numOfSkeletons">
        <skeleton-item height="100px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>

  <ng-template [ngIf]='barChartData' [ngIfElse]='loadingGPA'>
    <ion-card>
      <ion-item no-lines>
        GPA per Intake
        <ion-icon item-left name='checkmark-circle' style='color: rgb(247, 143, 8);'></ion-icon>
      </ion-item>
      <chart margin-top [type]="type[1]" [data]="barChartData" [options]="options[1]"></chart>
    </ion-card>
  </ng-template>
  <ng-template #loadingGPA>
    <ion-card>
      <ion-item no-lines>
        <skeleton-item height="160px" width="100%"></skeleton-item>
      </ion-item>
    </ion-card>
  </ng-template>
</ion-content>
