<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn" defaultHref="/attendix/classes"></ion-back-button>
    </ion-buttons>
    <ion-title>
      (class code) {{ totalPresentStudents$ | async }}/{{ totalStudents$ | async }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="auto = !auto">{{ auto ? 'Manual' : 'Auto' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="auto; else override">
    <ion-row *ngIf="otp$ | async as otp">
      <ion-col size="9" align-self-stretch>
        <qrcode *ngIf="otp" [qrdata]="otp" size="520" level="H"></qrcode>
      </ion-col>
      <ion-col size="3" align-self-stretch>
        <div *ngFor="let c of otp | chars" class="otp">
          {{ c }}
        </div>
        <ion-list *ngFor="let student of lastMarked$ | async">
          <ion-item>
            {{ student.name }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #override>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-searchbar [(ngModel)]="term"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-select [(ngModel)]="type" placeholder="Attendance" interface="popover">
            <ion-select-option value="">Any</ion-select-option>
            <ion-select-option value="Y">Present</ion-select-option>
            <ion-select-option value="L">Late</ion-select-option>
            <ion-select-option value="N">Absent</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-virtual-scroll [items]="students$ | async | attendance:type | search:term"
      [trackBy]="trackById" approxItemHeight="48px">
      <ion-card *virtualItem="let student">
        <ion-item [ngClass]="'state' + student.attendance">
          <ion-img slot="start" (ionError)="$event.target.src = 'assets/img/profile.svg'"></ion-img>
          <ion-label>{{ student.name }} {{ student.id }}</ion-label>
          <ng-container slot="end">
            <ion-button (click)="mark(student.id, 'N')">Absent</ion-button>
            <ion-button (click)="mark(student.id, 'L')">Late</ion-button>
            <ion-button (click)="mark(student.id, 'Y')">Present</ion-button>
          </ng-container>
        </ion-item>
      </ion-card>
    </ion-virtual-scroll>
  </ng-template>
</ion-content>
