<ion-header>
  <ion-toolbar>
    <ion-searchbar [formControl]="searchControl" showCancelButton="focus"
      [placeholder]="placeholder" ngDefaultControl (ionCancel)="select(null)"
      (ionInput)="$event.target.value = $event.target.value.toUpperCase()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #searching>
    <!-- TODO: restyle spinner -->
    <ion-spinner></ion-spinner>
  </ng-template>

  <div *ngIf="searchItems$ | async as items; else searching">
    <ng-template [ngIf]="items.length > 0" [ngIfElse]="noItem">
      <ion-list lines="none">
        <ion-item button *ngFor="let item of items" (click)="select(item)">
          {{ item }}
        </ion-item>
      </ion-list>
    </ng-template>

    <ng-template #noItem>
      <div *ngIf="items.length < 1 && !searchControl.value; else itemNotFound">
        <h1 class="search-message">Type to search</h1>
      </div>

      <ng-template #itemNotFound>
        <app-message-with-svg imageUrl="assets/img/search-not-found.svg" messageTitle="Opps! Item not found."
          wrapperSize="6" wrapperMarginTop="30px" wrapperOffset="3"
          [advancedMode]="true">

          <p class="ion-text-center ion-margin-bottom">Perhaps you can try this:</p>
          <ul class="ion-margin-start list-txt-color">
            <li>Make sure the keyword is matched with one of the items</li>
            <li>Make sure you have typed a valid item code.</li>
            <li>Make sure there is no special characters included.</li>
          </ul>
            
          <p>Still having trouble? No worries! Just click <a (click)="goToFeedback()">here</a> and report to us for this issue.</p>
        </app-message-with-svg>
      </ng-template>
    </ng-template>
  </div>
</ion-content>
