<ion-toolbar color="primary">
  <ion-searchbar [formControl]="searchControl" showCancelButton
    (ionInput)="$event.target.value = $event.target.value.toUpperCase()"
    (ionCancel)="select(null)"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list no-lines *ngIf="searchItem$ | async as items">
    <ng-template [ngIf]="items.length > 0" [ngIfElse]="noItem">
      <ion-item button *ngFor="let item of items" (click)="select(item)">
        {{ item }}
      </ion-item>
    </ng-template>
    <ng-template #noItem>
      <ion-item>{{ notFound }}</ion-item>
    </ng-template>
  </ion-list>
</ion-content>
