<ion-header>
  <ion-toolbar>
    <ion-searchbar [formControl]="searchControl" showCancelButton="focus" [placeholder]="placeholder"
      (ionInput)="$event.target.value = $event.target.value.toUpperCase()" (ionCancel)="select(null)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #searching>
    <!-- TODO: restyle spinner -->
    <ion-spinner></ion-spinner>
  </ng-template>

  <ion-list lines="none" *ngIf="searchItem$ | async as items; else searching">
    <ng-template [ngIf]="items.length > 0" [ngIfElse]="noItem">
      <ion-item button *ngFor="let item of items" (click)="select(item)">
        {{ item }}
      </ion-item>
    </ng-template>
    <ng-template #noItem>
      <ion-item>{{ notFound }}</ion-item>
    </ng-template>
  </ion-list>
</ion-content>