<a>
  <ion-card no-padding no-margin text-center>
    <ion-card-header no-padding padding-top>
      <ion-icon class="animated main-text-color responsive-icon" [name]="icon"></ion-icon>
    </ion-card-header>
    <ion-card-content class="pt-1-xs">
      <p class="main-text-color resposive-text">{{titleFirstWord}} <span *ngIf="titleSecondWord"
          class="main-text-color d-block">{{titleSecondWord}}</span></p>
      <h3 class="main-text-color responsive-h2 text-bolder margin-top" margin-top>
        <span *ngIf="(observable$ | async) as data; else loading">
          <span *ngIf="data.value !== -1; else noData">
            <span *ngIf="outputMode==='percentage'">
              {{ (data.value | number: "1.0-1") + "%" }}
            </span>
            <span *ngIf="outputMode==='currency'">
              {{ data.value | currency: "MYR":"RM" }}
            </span>
            <span *ngIf="outputMode==='others'">
                {{ data.value }}
              </span>
          </span>
          <ng-template #noData>
            --
          </ng-template>
        </span>
        <ng-template #loading>
          <loading-spinner></loading-spinner>
        </ng-template>

      </h3>
    </ion-card-content>
  </ion-card>
</a>