<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ scan ? 'Scan Code' : 'Enter Digits' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="swapMode($event)">{{ scan ? 'Type' : 'Scan' }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" *ngIf="scan; else type">
        <ion-button (click)="scanCode()">Scan</ion-button>
      </ion-col>

      <ng-template #type>
        <ion-col offset="1" size="10">
          <div class="otp-wrapper">
            <input
              #otpInput *ngFor="let _ of digits; i as index"
              autofocus class="otp" type="tel" maxlength="1"
              (keydown)="onKey($event)">
          </div>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>

</ion-content>
