page-feedback {
  form {
    border-radius: 1rem;
    background-color: white;
    margin-left: 1ex;
  }

  ion-fab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  ion-icon {
    width: 10px;
  }

  .spacer{
    width:300px;
    height:15px;
  }
  
  .send-button{
    border-radius:10px 10px 10px 10px;
    color: primary;
  }

  h5{
    color: primary; 
    text-align: justify;
  }
}
