page-feedback {
  form {
    border-radius: 1rem;
    background-color: white;
    margin-left: 1ex;
  }

  ion-fab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  ion-icon {
    width: 10px;
  }

  .spacer{
    width:300px;
    height:15px;
  }
  
  .button{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    width: (40%-60%);
    position: relative;
    height: 2.5em;
    border-radius:10px 10px 10px 10px;
    background-color: color($colors, primary);
    color: white;
  }

  h5{
    text-align: justify;
  }
}
