<ion-content>
  <!-- <ion-img [src]="imagePath" (ionError)="$event.target.src = 'assets/img/no_img.png'"></ion-img> -->
  <div class="ion-margin">
    <div class="ion-text-center ion-margin-bottom">
      <h4>Report a Problem</h4>
      <h6 class="secondary-txt-color">Your feedback helps us to improve APSpace</h6>
    </div>

    <app-message-with-svg
      messageTitle=""
      messageContent="" 
      imageUrl="assets/img/feedback.svg"
      wrapperOffset="3" 
      wrapperSize="6">
    </app-message-with-svg
    >
  </div>
</ion-content>