.screenshot {
    margin-left: 65vw; 
    position: absolute;
    top: 60vh;
    max-width: 109px !important; 
    max-height: 109px !important;

    
    ion-button {
        position: absolute !important; 
        margin-left: 60px; 
        margin-top: 3px; 
        font-size: 9px;
    }
}

ion-footer {
    background-color: #f2f2f2;
}

ion-img {
    height: 157px;
}

.flex-container {
    align-self: flex-start !important;
}

.scroll-content {
    display: flex !important;
    flex-direction: column !important;
    
    ion-slides {
        display: flex !important;
    }
}