ion-img {
    height: 157px;
}

ion-fab-button {
    padding: 0px;
    margin: 0px;
}

ion-footer {
    background-color: #f2f2f2;

    ion-fab-button {
        position: relative !important;
    }
    
    .overlayBtn {
        position: absolute !important;
    }

    ion-item {
        --inner-padding-end: 0px;
        --padding-start: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
    }

    .submitBtn {
        padding-top: 2px;
    }

    ion-col {
        padding-left: 5px;
    }

    ion-buttons {
        display: inline !important; 
        margin-left: 15vw;
    }
}
  