ion-footer {
    background-color: #f2f2f2;
}

ion-img {
    height: 157px;
}

ion-fab-button {
    padding: 0px;
    margin: 0px;
}

ion-item {
    --inner-padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 5px;
    --padding-bottom: 5px;
}

.footer-stuff {
    ion-col {
        padding: 0px 0px 0px 0px;
    }
}
  