ion-img {
    height: 157px;
}

ion-fab-button {
    padding: 0px;
    margin: 0px;
}

ion-footer {
    background-color: #f2f2f2;

    ion-col {
        padding: 0px;
    }

    .overlayBtn {
        position: absolute !important;
    }
}

ion-fab {
    bottom: 30px;
}
  