ion-item-divider{
    --color: var(--ion-color-primary) !important;
    font-weight: bold;
    --background: none;
}

ion-range {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 12px;
    padding-left: 12px;
    --bar-background: var(--ion-color-primary);
    --pin-background: var(--ion-color-primary);
    --pin-color: var(--ion-text-color);
    --bar-background-active: var(--ion-color-primary);
}


.controlled-col {
    margin: auto; 
    padding-left: 0px; 
    padding-top: 10px; 
    padding-right: 0px;
}

.centered-text {
    padding-left: 28%;
    display: inline;
}

.visibility {
    display: none;
}

@media screen and (max-width: 1024px) {
    .visibility {
        display: block;
    }
}