<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- ion-select hidden behind the shown dashboard sections item  -->
  <ion-select [(ngModel)]="dashboardSections" (ionChange)="dashboardSectionsChanged()" multiple="true" [hidden]="true"
    #dashboardSectionsSelect>
    <ion-select-option [disabled]="dashboardSection.disabled" [value]="dashboardSection.section"
      *ngFor="let dashboardSection of allDashboardSections">
      {{ dashboardSection.name }}
    </ion-select-option>
  </ion-select>

  <div class="masonry-list">
    <!-- <div class="masonry-item">
      <ion-card no-margin margin-bottom>
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              General
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">
              General settings that will improve your user experience
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content no-padding padding-bottom padding-start padding-end>
          <ion-list no-padding>
            <ion-item lines="none" no-padding>
              <ion-label>Default Page</ion-label>
              <ion-select [(ngModel)]="test">
                <ion-select-option [value]="true">
                  Dashboard
                </ion-select-option>
                <ion-select-option [value]="false">
                  Timetable
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none" no-padding>
              <ion-label>Hide bar on scroll</ion-label>
              <ion-toggle [(ngModel)]="test"></ion-toggle>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div> -->

    <div class="masonry-item">
      <ion-card no-margin margin-bottom>
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              Customization
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">Customize the look and
              behaviour of the app
              the way you want
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content no-padding padding-bottom padding-start padding-end>
          <ion-list no-padding>
            <ion-item-group>
              <ion-item-divider no-padding>
                <ion-label>
                  Theming
                </ion-label>
              </ion-item-divider>
              <ion-item lines="none" no-padding>
                <ion-label>Dark Theme</ion-label>
                <ion-toggle [(ngModel)]="darkThemeEnabled" [disabled]="pureDarkThemeEnabled"
                  (ngModelChange)="toggleDarkTheme()">
                </ion-toggle>
              </ion-item>
              <ion-item lines="none" no-padding>
                <ion-label>Pure Dark</ion-label>
                <ion-toggle [(ngModel)]="pureDarkThemeEnabled" [disabled]="!darkThemeEnabled"
                  (ngModelChange)="togglePureDarkTheme()"></ion-toggle>
              </ion-item>
              <ion-item lines="none" no-padding>
                <ion-label>Accent Color</ion-label>
                <ion-select [(ngModel)]="activeAccentColor" [disabled]="pureDarkThemeEnabled"
                  (ngModelChange)="toggleAccentColor()">
                  <ion-select-option *ngFor="let accentColor of accentColors" [value]="accentColor.value">
                    {{accentColor.title}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider no-padding>
                <ion-label>
                  Dashboard
                </ion-label>
              </ion-item-divider>
              <!-- <ion-item lines="none" no-padding>
                <ion-label>
                  Quick Access Items
                </ion-label>
              </ion-item> -->
              <a (click)="openDashboardSectionsSelectBox()">
                <ion-item lines="none" no-padding>
                  <ion-label>
                    Shown Dashboard Sections
                  </ion-label>
                </ion-item>
              </a>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider no-padding>
                <ion-label>
                  Others
                </ion-label>
              </ion-item-divider>
              <ion-item lines="none" no-padding>
                <ion-label>Menu UI</ion-label>
                <ion-select [(ngModel)]="menuUI" (ngModelChange)="toggleMenuUI()">
                  <ion-select-option [value]="'cards'">
                    Cards
                  </ion-select-option>
                  <ion-select-option [value]="'list'">
                    List
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none" no-padding>
                <ion-label>Timetable UI</ion-label>
                <ion-select [(ngModel)]="test">
                  <ion-select-option [value]="true">
                    Weekly
                  </ion-select-option>
                  <ion-select-option [value]="false">
                    Daily
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none" no-padding>
                <a (click)="clearCache()">
                  <ion-label color="danger">Clear cache</ion-label>
                </a>
              </ion-item>
            </ion-item-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="masonry-item">
      <ion-card no-margin margin-bottom>
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              Bus Shuttle Services
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">
              Configure your bus shuttle services' dashboard card
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content no-padding padding-bottom padding-start padding-end>
          <ion-list no-padding>
            <ion-item-group *ngIf="locations$ | async as locations">
              <ion-item-divider no-padding>
                <ion-label>
                  Locations
                </ion-label>
              </ion-item-divider>
              <ion-item lines="none" no-padding>
                <ion-label>First Location</ion-label>
                <ion-select [(ngModel)]="busShuttleServiceSettings.firstLocation"
                  (ngModelChange)="setBusShuttleServicesSettings()">
                  <ion-select-option [value]="location.location_name" *ngFor="let location of locations">
                    {{location.location_nice_name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item lines="none" no-padding>
                <ion-label>Second Location</ion-label>
                <ion-select [(ngModel)]="busShuttleServiceSettings.secondLocation"
                  (ngModelChange)="setBusShuttleServicesSettings()">
                  <ion-select-option [value]="location.location_name" *ngFor="let location of locations">
                    {{location.location_nice_name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>
            <!-- <ion-item-group>
              <ion-item-divider no-padding>
                <ion-label>
                  Alarm <small>(For mobile app only)</small>
                </ion-label>
              </ion-item-divider>
              <ion-item lines="none" no-padding>
                <ion-label>Alarm To Be Set Before</ion-label>
                <ion-select [(ngModel)]="busShuttleServiceSettings.alarmBefore"
                  (ngModelChange)="setBusShuttleServicesSettings()">
                  <ion-select-option [value]="'5'">
                    5 mins
                  </ion-select-option>
                  <ion-select-option [value]="'10'">
                    10 mins
                  </ion-select-option>
                  <ion-select-option [value]="'15'">
                    15 mins
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group> -->
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="masonry-item">
      <ion-card no-margin margin-bottom>
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              Student Timetable
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">
              Configure student timetable filters
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content no-padding padding-bottom padding-start padding-end>
          <ion-list no-padding>
            <ion-item-group *ngIf="timetable$ | async as timetable">
              <ion-item-divider no-padding margin-bottom>
                <ion-label>
                  List of hidden modules
                </ion-label>
              </ion-item-divider>
              <ion-chip *ngFor="let module of timetable?.blacklists" (click)="timetableModuleBlacklistsRemove(module)">
                <ion-icon name="remove" color="danger"></ion-icon>
                <ion-label>{{ module }}</ion-label>
              </ion-chip>
              <ion-chip (click)="timetableModuleBlacklistsAdd()">
                <ion-icon name="add" color="success"></ion-icon>
                <ion-label>Add</ion-label>
              </ion-chip>
            </ion-item-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="masonry-item">
      <ion-card no-margin margin-bottom>
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              Security & Privacy
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">
              Secure your account to prevent others from accessing your data
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content no-padding padding-bottom padding-start padding-end>
          <ion-list no-padding>
            <a (click)="navigateToPage('set-security-questions')">
              <ion-item lines="none" no-padding>
                <ion-label>Set Security Questions</ion-label>
              </ion-item>
            </a>
            <a (click)="resetByod()">
              <ion-item lines="none" no-padding>
                <ion-label>BYOD Reset</ion-label>
              </ion-item>
            </a>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>