<ion-header>
  <ion-toolbar>
    <ion-title>View Student</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mentorship"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-lg="4">
        <ion-card *ngIf="(profile$ | async) as profile; else loadingStudentProfile">
          <ion-card-content>
            <ion-grid class="ion-no-margin ion-no-padding">
              <ion-row>
                <ion-col size="12" size-lg="5" class="ion-no-padding">
                  <img src="https://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png" class="avatar">
                </ion-col>
                <ion-col size="12" size-lg="7" class="ion-no-padding sideline">
                  <div class="indent">
                    <h2 class="center-txt bold">{{ profile[0].NAME }}</h2>
                    <h2 class="center-txt">{{ profile[0].STUDENT_NUMBER }} | {{ profile[0].INTAKE_CODE }}</h2>
                    
                    <h2 class="center-txt bold">Programme</h2>
                    <h2 class="center-txt">{{ profile[0].PROGRAMME }}</h2>

                    <h2 class="center-txt"><a
                        href="mailto:{{ profile[0].E_MAIL_STUDENT }}">{{ profile[0].E_MAIL_STUDENT }}</a></h2>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>

          <ion-footer>
            <ion-grid>
              <ion-row>
                <div *ngIf="(intake$ | async) as intakes">
                  <ion-col size="auto" *ngFor="let intake of intakes">
                    <ion-button (click)="onTap(intake.INTAKE_CODE)"> {{ intake.INTAKE_CODE }} </ion-button>
                  </ion-col>
                </div>
              </ion-row>
            </ion-grid>
          </ion-footer>
        </ion-card>

        <ng-template #loadingStudentProfile>
          <ion-card>
            <ion-card-content>
              <ion-grid class="ion-no-margin ion-no-padding">
                <ion-row>
                  <ion-col size="12" size-lg="4" class="ion-no-padding">
                    <ion-avatar class="avatar">
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="12" size-lg="8">
                    <div class="indent">
                      <ion-skeleton-text animated style="width: 80%; line-height: 20px;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 40%; line-height: 20px;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 90%; line-height: 20px;"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 55%; line-height: 20px;"></ion-skeleton-text>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ng-template>

        <div *ngIf="(courseDetail$ | async) as courseDetail; else loadingCourseDetail;">
          <div *ngIf="courseDetail.length > 0">
            <ion-card>
              <ion-card-header class="ion-no-margin">
                <ion-card-title>
                  <h4 class="responsive-h1">Course Details</h4>
                </ion-card-title>
              </ion-card-header>

              <ion-card-content style="padding: 5px;">
                <ion-grid class="ion-no-padding">
                  <ion-row>
                    <ion-col size-lg="6" size-sm="12" size="12">
                      <ng-container *ngFor="let intake of (selectedIntake$ | async)">
                        <h2 class="bold">Course Description</h2>
                        <h3>{{ intake.COURSE_DESCRIPTION || "N/A" }}</h3>

                        <h2 class="bold">Intake Code</h2>
                        <h3>{{ intake.INTAKE_CODE || "N/A" }}</h3>

                        <h2 class="bold">Study Mode</h2>
                        <h3>{{ intake.STUDY_MODE || "N/A" }}</h3>

                        <h2 class="bold">Overall Classification</h2>
                        <h3>{{ intake.OVERALL_CLASSIFICATION || "N/A" }}</h3>
                      </ng-container>
                    </ion-col>

                    <ion-col size-lg="6" class="sideline" size-sm="12" size="12">
                      <ng-container *ngFor="let course of courseDetail">
                        <div class="indent">
                          <h2 class="bold">Average Grade</h2>
                          <h3>{{ course.AVERAGE_GRADE || "N/A" }}</h3>

                          <h2 class="bold">Average Marks</h2>
                          <h3>{{ course.AVERAGE_MARKS || "N/A" }}</h3>

                          <h2 class="bold">Moderated Grades</h2>
                          <h3>{{ course.MODERATED_GRADES || "N/A" }}</h3>

                          <h2 class="bold">Moderated Marks</h2>
                          <h3>{{ course.MODERATED_MARKS || "N/A" }}</h3>

                          <h2 class="bold">Overall Marks</h2>
                          <h3>{{ course.OVERALL_MARKS || "N/A" }}</h3>

                          <h2 class="bold">Previous Course Overall</h2>
                          <h3>{{ course.PREVIOUS_COURSE_OVERALL || "N/A" }}</h3>

                          <h2 class="bold">Publish Results</h2>
                          <h3>{{ course.PUBLISH_RESULTS || "N/A" }}</h3>

                          <h2 class="bold">Remarks</h2>
                          <h3>{{ course.REMARKS || "N/A" }}</h3>
                        </div>
                      </ng-container>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </div>
        </div>

        <ng-template #loadingCourseDetail>
          <ion-card style="padding: 0px !important;">
            <ion-card-content style="padding: 0px !important;">
              <ion-skeleton-text animated style="line-height: 200px;"></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>

      <ion-col size-xs="12" size-lg="8">
        <div *ngIf="(subCourse$ | async) as subCourses; else loadingSemester">
          <div *ngIf="subCourses.length > 0; else noData">
            <div *ngFor="let semester of (subCourses | reverse)">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    <h4 class="responsive-h1">Semester {{ semester.index }}</h4>
                  </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  <ion-item lines="none" class="ion-no-padding table-top">
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <ion-col class="bold" size="3">
                          Module
                        </ion-col>

                        <ion-col class="bold" size="2">
                          Total Class
                        </ion-col>

                        <ion-col class="bold" size="2">
                          Attend Percent
                        </ion-col>

                        <ion-col class="bold" size="2">
                          Credit Hours
                        </ion-col>

                        <ion-col class="bold" size="1">
                          Result
                        </ion-col>

                        <ion-col class="bold" size="2">
                          Grade Point
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>

                  <ion-item lines="none" *ngFor="let value of (semester.value)" class="table-item">
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <ion-col class="margin-auto colored-text" size-lg="3" size="12">
                          <a (click)="showDetails(value.MODULE_CODE)">{{ value.MODULE_CODE }}</a>
                        </ion-col>

                        <ion-col class="margin-auto" size-lg="2" size="12">
                          <span class="marker">Total Class:</span>
                          {{ value.TOTAL_CLASS || "N/A" }}
                        </ion-col>

                        <ion-col class="margin-auto" size-lg="2" size="12">
                          <span class="marker">Attend Percent:</span>
                          <span
                            [class]="value.TOTAL_ATTEND_PERCENT < 80 ? 'red' : ''">{{ value.TOTAL_ATTEND_PERCENT + "%" || "N/A" }}</span>
                        </ion-col>

                        <ion-col class="margin-auto" size-lg="2" size="12">
                          <span class="marker">Credit Hours:</span>
                          {{ value.CREDIT_HOURS || "N/A" }}
                        </ion-col>

                        <ion-col class="margin-auto" size-lg="1" size="12">
                          <span class="marker">Result:</span>
                          {{ value.RESULT || "N/A" }}
                        </ion-col>

                        <ion-col class="margin-auto" size-lg="2" size="12">
                          <span class="marker">Grade Point:</span>
                          {{ value.GRADE_POINT || "N/A" }}
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </div>
        <ng-template #loadingSemester>
          <ion-card style="padding: 0px;">
            <ion-card-content style="padding: 0px;">
              <ion-skeleton-text animated style="line-height: 200px;"></ion-skeleton-text>
            </ion-card-content>
          </ion-card>
        </ng-template>

        <ng-template #noData>
          <ion-card>
            <ion-card-content>
              <app-message-with-svg messageTitle="No report found!"
                messageContent="looks like our magical elves has no data to show" imageUrl="assets/img/empty.svg"
                wrapperOffset="3" wrapperSize="6">
              </app-message-with-svg>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>