<ion-header no-border>
  <ion-navbar>
    <ion-title>Qualification Authenticity Verification</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container p-0">
    <div class="row mt-3">
      <div class="col-12 mt-2 mb-4">
        <p class="normaltext">
          Welcome to the <span class="font-weight-bold">Asia Pacific University of Technology & Innovation
          (APU) online Award Verification Service</span>. This service can be used to
          verify qualifications awarded to APU graduates after the year XXXX.
        </p>
        <p class="font-weight-bold">
          This online service will only verify academic qualifications where
          the completed course has been conferred by APU’s Senate.
        </p>
        <p class="normaltext">
          If you cannot verify an award and/or suspect it may be fraudulent,
          please submit an
          <a color="primary" (click)="openForms()">ONLINE WEB REQUEST</a>
          to report and confirm the qualifications.
        </p>
        <small>
          * Please use graduate Name or Student Identification number as stated
          in the Academic Transcript.
        </small>
      </div>
      <div class="col-12 px-0">
        <ion-item no-lines>
          <ion-label stacked
            >Enter student's name/identification number:</ion-label
          >
          <ion-input
            type="text"
            no-lines
            [(ngModel)]="searchKeyword"
            [ngModelOptions]="{ standalone: true }"
          >
          </ion-input>
        </ion-item>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
          ion-button
          block
          outline
          icon-end
          (click)="searchForGraduaters()"
          class="submit-button mt-4"
        >
          Search
          <ion-icon name="search"></ion-icon>
        </button>
      </div>
    </div>
    <ng-template [ngIf]="userSearched" [ngIfElse]="noSearchDone">
      <ng-template
        let-graduaters
        [ngIf]="graduater$ | async"
        [ngIfElse]="loading"
      >
        <ng-template [ngIf]="graduaters" [ngIfElse]="noGraduaters">
          <div class="row pt-4">
            <div class="col-12 p-0">
              <h4 class="text-center font-weight-normal">
                We found <span>{{ graduaters.length }}</span> results for
                <strong>{{ resultKeyWord }}</strong>
              </h4>
            </div>
            <div class="col-12 p-0">
              <ion-list>
                <ion-item
                  no-lines
                  class="my-3"
                  *ngFor="let graduater of graduaters"
                >
                  <div class="item">
                    <small stacked>Student Name:</small>
                    <h3 class="student-name font-weight-bold">
                      {{ graduater.Name }}
                    </h3>
                  </div>
                  <div class="item mt-3">
                    <small>Student ID:</small>
                    <h4 class="student-tp">{{ graduater.StudentID }}</h4>
                  </div>
                  <div class="item mt-3">
                    <small>Programme:</small>
                    <h4 class="student-programme">
                      {{ graduater.Programme }}
                    </h4>
                  </div>
                  <div class="item mt-3">
                    <small>Year of Graduation:</small>
                    <h4 class="student-yog">{{ graduater.yog }}</h4>
                  </div>
                  <div class="item mt-3" *ngIf="graduater.AwardAchieved">
                    <small>Award Achieved:</small>
                    <h4 class="student-award">
                      {{ graduater.AwardAchieved }}
                    </h4>
                  </div>
                </ion-item>
              </ion-list>
            </div>
          </div>
        </ng-template>
        <ng-template #noGraduaters>
          <h4>There is no results for <strong>TP037354</strong></h4>
        </ng-template>
      </ng-template>
      <ng-template #loading>
        loading...
      </ng-template>
    </ng-template>
    <ng-template #noSearchDone>
      <div class="row mt-5 pt-5 px-4">
        <div class="col-12">
          <h3 class="text-center">
            Enter student's name or student's ID in the text box above to
            verify his/her qualification
          </h3>
        </div>
      </div>
    </ng-template>
  </div>
</ion-content>
