<ion-header>
  <ion-toolbar>
    <ion-title>
      Change Password
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <p class="ion-padding"><span class="text-bold">*Note: </span>The new password must follow our password
              policy that require the password to have at least 8 characterers, one speacial characterer, and one
              uppercase characterer.</p>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
              <ion-item lines="none">
                <ion-label class="text-bold" position="stacked">Enter New Password:</ion-label>
                <ion-input clear-on-edit="false" class="form-input" type="password" [(ngModel)]="newPassword"
                  (ngModelChange)="checkValidation()" formControlName="new_password">
                </ion-input>
              </ion-item>
              <div class="ion-padding-start ion-padding-top">
                <ion-label class="fail"
                  *ngIf="changePasswordForm.get('new_password').hasError('required')  ; else done">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password can't be empty!
                </ion-label>
                <ng-template #done>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      Password can't be empty!
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <div class="ion-padding-start">
                <ion-label class="fail" *ngIf="!passwordLengthMatch; else moreThan8">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password must have at least 8 characters
                </ion-label>
                <ng-template #moreThan8>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      Password must have at least 8 characters
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <div class="ion-padding-start">
                <ion-label class="fail" *ngIf="!hasUpperCase; else hasUpper">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password must have at least one upperCase character
                </ion-label>
                <ng-template #hasUpper>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      Password must have at least one upperCase character
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <div class="ion-padding-start">
                <ion-label class="fail" *ngIf="!hasSpeacialCharacter; else hasSpe">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password must have at least one special character
                </ion-label>
                <ng-template #hasSpe>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      Password must have at least one special character
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <ion-item lines="none" class="ion-margin-bottom">
                <ion-label position="stacked" class="text-bold">Confirm Password</ion-label>
                <ion-input clear-on-edit="false" class="form-input" formControlName="confirm_password"
                  [class.is-invalid]="!!changePasswordForm.errors?.mismatch" matInput type="password">
                </ion-input>
              </ion-item>
              <div class="ion-padding-start">
                <ion-label class="fail"
                  *ngIf="!!changePasswordForm.get('confirm_password').errors?.required && changePasswordForm.get('confirm_password').touched">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Confirm Password can't be empty!
                </ion-label>
                <ion-label class="fail" padding-start
                  *ngIf="!!changePasswordForm.errors?.mismatch && !changePasswordForm.get('confirm_password').errors?.required">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password does not match!
                </ion-label>
              </div>
              <div class="ion-padding">
                <ion-button class="colored-background" type="submit" [disabled]="!changePasswordForm.valid">
                  Change</ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>