<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Exam List</ion-title>
    <ion-buttons slot="end" *ngIf="selectedExamScheduleOption === 'Exam Schedule'">
      <ion-button (click)="toggleRemoveExamSchedule()" color="danger" class="colored-border colored-text"
        fill="outline">
        <ion-icon [name]="onDelete? 'close' : 'checkbox'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row [ngClass]="{'row-margin': onDelete}">
      <ion-col>
        <ion-card class="ion-no-margin">
          <ion-card-content class="ion-no-padding">
            <ion-grid *ngIf="!onDelete" class="ion-no-padding grid-background">
              <ion-row class="ion-no-padding">
                <ion-col class="ion-no-padding">
                  <ion-segment (ionChange)="segmentChanged($event)" mode="md" class="align-segment">
                    <ion-segment-button 
                      checked
                      mode="md" 
                      *ngFor="let examScheduleListOption of examScheduleListOptions"
                      [value]="examScheduleListOption">
                      {{ examScheduleListOption }}
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
                <ion-col size="12" size-sm="3" class="ion-text-right">
                  <ion-button (click)="toggleExamView()" class="colored-background" *ngIf="selectedExamScheduleOption === 'Exam Schedule'">
                    <span *ngIf="!isPast; else past">PAST</span>
                    <ng-template #past>
                      CURRENT
                    </ng-template>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
        
            <div *ngIf="selectedExamScheduleOption === 'Exam Schedule'">
              <ion-item class="table-header">
                <ion-grid>
                  <ion-row>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Module</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Date</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Time</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Publication Date</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Created By</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Last Edited</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Status</h2>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
  
              <ion-item
                [button]="!onDelete"
                detail=false
                (click)="!onDelete && viewExamScheduleDetails()"
                [style.border-left-color]="(examSchedule.module | strToColor)"
                [ngClass]="{'clickable-item' : !onDelete}"
                class="table-item" 
                *ngFor="let examSchedule of examSchedules">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12" size-sm="" class="text-bold ion-no-padding">
                      {{examSchedule.module}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding ion-align-self-center">
                      <ion-icon class="display-on-sm" name="calendar"></ion-icon>
                      {{examSchedule.date}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding">
                      <ion-icon class="display-on-sm" name="time"></ion-icon>
                      {{examSchedule.time}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding">
                      <ion-icon class="display-on-sm" name="hourglass"></ion-icon>
                      {{examSchedule.publicationDate}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding">
                      <ion-icon class="display-on-sm" name="person"></ion-icon>
                      {{examSchedule.createdBy}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding">
                      <ion-icon class="display-on-sm" name="bookmarks"></ion-icon>
                      {{examSchedule.lastEdited}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding is-inactive" [ngClass]="{'is-active': examSchedule.status === 'Active'}">
                      <div class="flex-col-item">
                        {{examSchedule.status}}
                        <ion-checkbox class="ion-no-margin" *ngIf="onDelete"></ion-checkbox>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>

            <div *ngIf="selectedExamScheduleOption === 'Resits'">
              <ion-item class="table-header">
                <ion-grid>
                  <ion-row>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Module</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Date</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Time</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Venue</h2>
                    </ion-col>
                    <ion-col class="ion-no-padding">
                      <h2 class="text-bold">Status</h2>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
  
              <ion-item
                class="table-item view-item" 
                *ngFor="let resit of resits">
                <ion-grid>
                  <ion-row>
                    <ion-col size="12" size-sm="" class="text-bold ion-no-padding">
                      {{resit.module}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding ion-align-self-center">
                      <ion-icon class="display-on-sm" name="calendar"></ion-icon>
                      {{resit.date}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding">
                      <ion-icon class="display-on-sm" name="time"></ion-icon>
                      {{resit.time}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding">
                      <ion-icon class="display-on-sm" name="pin"></ion-icon>
                      {{resit.venue}}
                    </ion-col>
                    <ion-col size="12" size-sm="" class="ion-no-padding is-inactive" [ngClass]="{'is-active': resit.status === 'Active'}">
                      {{resit.status}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="selectedExamScheduleOption === 'Exam Schedule'">
  <ion-fab *ngIf="!onDelete; else fabDelete" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewExamSchedule()" class="colored-background">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-template #fabDelete>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="danger-background">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
</ion-footer>
