<ion-header>
  <ion-navbar>
    <ion-title>Unavailable Slots Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let unfreeslots of (unfreeslots$ | async)">
      <ion-card-content>
        <ion-item>
          <ion-icon name="calendar" item-start></ion-icon>
          <div class="py-1">
            <p>Start Date:</p>
            <h2 class="my-content line-break">{{ unfreeslots.start_date }}</h2>
          </div>
          <div class="py-1">
            <p>End Date:</p>
            <h2 class="my-content line-break">{{ unfreeslots.end_date }}</h2>
          </div>
        </ion-item>
        <ion-item>
          <ion-icon name="repeat" item-start></ion-icon>
          <div class="py-1">
            <p>Repeat days:</p>
            <h2 class="my-content line-break">{{ unfreeslots.repeat }}</h2>
          </div>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let starttimes of (starttimes$ | async)">
      <ion-card-content>
        <ion-item>
          <ion-icon name="time" item-start></ion-icon>
          <div class="py-1">
            <p>Start Time:</p>
            <h2 class="my-content line-break">{{ starttimes.start_time }}</h2>
          </div>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div class="p-3">
      <button
        ion-button
        (click)="disable()"
        class="cancel btn btn-outline-danger btn-block btn-lg"
      >
        Disable
      </button>
    </div>
  </ion-list>
</ion-content>
