page-results {
  ion-content ion-card {
    ion-card-header {
      background: color($colors, secondary);
    }

    .item {
      background-color: foreground;
    }

    ion-label {
      font-size: 90%;
      font-weight: lighter !important;
    }
  }

  .subj-title {
    font-weight: 900;
  }

  ion-segment {
    display: block;
    white-space: nowrap;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 135px;
      width: auto;
    }
  }

  .segment-md .segment-button{
    font-size: 1.1em;
  }

  .segment-ios .segment-button{
    font-size: 1.1em;
  }

  .total-summary{
    background-color: color($colors, success);
    color: color($colors, light);
    font-weight: bolder;
  }

  .card-ios{
    border-radius: 10px;
  }

  .card-md{
    border-radius: 10px;
  }
}
