ion-avatar {
  --border-radius: 0 !important;
}

// NEW CARD VIEW CUSTOM CSS STARTS HERE
.custom-theme {
  color: var(--ion-color-light);
}

ion-item-divider {
  border-bottom: 1.5px solid var(--ion-color-light);
  min-height: 0;
  margin: 0 5px;
}

.set-divider-margin {
  margin-top: 30px;
}

.card-view-masonry-item {
  display: inline-block;
  margin: 0 0 10px;
  width: 100%;
}

.card-view-masonry-list {
  width: 100%;
  column-gap: 10px;
  margin: 5px;

  .page-title {
    font-size: 1.05rem;
  }

  img {
    margin-right: 20px;
    max-width: 36px;
    max-height: 36px;
  }
}

.custom-card {
  padding: 1em;
  background-color: var(--ion-color-light);
  border-radius: 10px;
  box-shadow: 0 4px 0 rgba(0,0,0,0.12);

  .flex-content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .page-title {
    font-size: 1.05rem;
  }
    
  img {
    margin-right: 20px;
    max-width: 36px;
    max-height: 36px;
  }
}

.logout {
  background: var(--danger-color) !important;

  .page-title {
    color: var(--ion-color-light);
  }
}
// NEW CARD VIEW CUSTOM CSS ENDS HERE

// NEEDED TO CHECK WITH REZA IF WE NEED A BACKGROUND IMAGE FOR EACH MENU ITEM
  // background-image: url('');

// NEEDED TO CHECK WITH REZA IF WE NEED A BACKGROUND IMAGE FOR EACH MENU ITEM
// &::after {
//   content: "";
//   background: var(--tertiary-bg-color);
//   opacity: 0.4;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   position: absolute;
//   z-index: -1;
// }
// opacity: 0.4;

.edit-overlay {
  background: rgba(117, 111, 111, 0.3);
  top: 5px;
  left: 0;
  height: calc(100% - 5px);
  width: 100%;
  z-index: 10;
  position: absolute;
  ion-icon {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 15px;
    bottom: 10px;
  }
}

ion-col.menu-item{
  .edit-overlay {
    top: 5px;
    left: 5px;
    height: calc(100% - 9px);
    width: calc(100% - 10px);
    ion-icon {
      top: 10px;
    }
  }
}

.hide {
  display: none;
}

.ter--background {
  --background: var(--tertiary-bg-color) !important;
  --border-color: var(--main-bg-color) !important;
}
.ter-background {
  background: var(--tertiary-bg-color) !important;
}

.small-padding-start-end{
  --padding-start: 5px !important;
  --padding-end: 5px !important;
}

.success-border {
  border-color: var(--success-color);
  --border-color: var(--success-color);
}

// NEW CARD VIEW CUSTOM CSS STARTS HERE
@media only screen and (min-width: 1px) {
  .card-view-masonry-list {
    column-count: 2;
  }
}

@media only screen and (min-width: 768px) {
  .card-view-masonry-list {
    column-count: 2;
  }
}

@media only screen and (min-width: 992px) {
  .card-view-masonry-list {
    column-count: 3;
  }
}

@media only screen and (min-width: 1200px) {
  .card-view-masonry-list {
    column-count: 4 !important;
  }
}

::ng-deep .light-theme .gradient-background {
  --ion-background-color: #3a99d9;  /* fallback for old browsers */
  --ion-background-color: linear-gradient(to right, #148ad9, #3a99d9ee);
}

::ng-deep .dark-theme .custom-card{
  background: #303030;
  .page-title {
    color: var(--ion-color-light);
  }
}

::ng-deep .dark-theme.pure .custom-card{
  background: #1d1d1d;
  .page-title {
    color: var(--ion-color-light);
  }
}

@import '../../../theme/themes.scss';
::ng-deep .dark-theme .custom-theme {
  @extend .colored-text;
}
// NEW CARD VIEW CUSTOM CSS ENDS HERE

