<ion-header>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="term"
      placeholder="Search (e.g. 'staff', 'red', ...)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container p-0">
    <!-- XXX: if possible do not group menu, this distort search score -->
    <div class="menu-section" *ngFor="let menu of menuFull">
      <!-- container to assign pages to filtered items -->
      <ng-container *ngIf="menu.items | fuse:term as pages">
        <!-- container to filter group without items -->
        <ng-container *ngIf="pages.length">
          <div class="menu-section-header">
            <h3>{{ menu.title }}</h3>
          </div>
          <div class="menu-section-items">
            <div
              *ngFor="let page of pages"
              [ngClass]="['menu-item', 'row', page.color, page.size]"
              (click)="openPage(page.url)">
              <ion-icon
                class="ion-icon align-self-center text-center"
                [name]="page.icon"
                ></ion-icon>
                <div class="menu-item-title align-self-end">{{ page.title }}</div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ion-content>
