<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-card class="profile-content">
    <ng-template [ngIf]="photo$ | async" [ngIfElse]="loadingStudentsPhoto">
      <img class="profile-photo" [src]="
                          'data:image/jpg;base64,' +
                          ((photo$ | async) || {}).base64_photo
                          " onerror="this.src='assets/img/profile.svg'" alt="Avatar" />
    </ng-template>
    <ion-card-header>
      <ng-template [ngIf]="studentRole" [ngIfElse]="lecturerRole" class="profile-photo"
        style="display:block; margin:auto;">
      </ng-template>

      <ng-template #lecturerRole>
        <ng-template [ngIf]="staffProfile$ | async" [ngIfElse]="loadingLecturerPhoto">
          <img class="profile-photo" [src]="(staffProfile$ | async)[0]?.PHOTO"
            onerror="this.src='assets/img/profile.svg'" alt="Avatar" />
        </ng-template>

      </ng-template>

      <ng-template [ngIf]="studentRole" [ngIfElse]="lecturerProfileRole">
        <ng-template let-profile [ngIf]="profile$ | async" [ngIfElse]="loadingStudentsProfile">
          <div class="col-12 text-center info-div">
            <h1>{{ profile.NAME }}</h1>
            <h3>{{ profile.STUDENT_NUMBER }} | {{ profile.INTAKE }}</h3>
          </div>

          <div class="col-12 text-center info-div">
            <h4>Programme</h4>
            <p>{{ profile.PROGRAMME }}</p>
          </div>

          <div class="col-12 text-center info-div">
            <ng-template [ngIf]="profile.MENTOR_SAMACCOUNTNAME" [ngIfElse]="mentorLost">
              <a (click)="openStaffDirectoryInfo(profile.MENTOR_SAMACCOUNTNAME)" class="font-weight-bold">
                <h4>Mentor Name</h4>
                <p>{{ profile.MENTOR_NAME }}</p>
              </a>
            </ng-template>
            <ng-template #mentorLost>
              <h4>Mentor Name</h4>
              <p>{{ profile.MENTOR_NAME }}</p>
            </ng-template>
          </div>

          <div class="col-12 text-center info-div">
            <ng-template [ngIf]="profile.PL_SAMACCOUNTNAME" [ngIfElse]="plLost">
              <a (click)="openStaffDirectoryInfo(profile.PL_SAMACCOUNTNAME)" class="font-weight-bold">
                <h4>Programme Leader</h4>
                <p>{{ profile.PL_NAME }}</p>
              </a>
            </ng-template>
            <ng-template #plLost>
              <h4>Programme Leader</h4>
              <p>{{ profile.PL_NAME }}</p>
            </ng-template>
          </div>

          <div class="col-12 text-center info-div" *ngIf='!local'>
            <ng-template let-visa [ngIf]='visa$ | async'>
              <ng-template [ngIf]='visa[0].VISA_EXPIRY_DATE' [ngIfElse]='noVisa'>
                <h4>Student Pass Expiry Date</h4>
                <p>
                  {{ visa[0].VISA_EXPIRY_DATE | date: 'dd-LLL-yyyy' }}
                </p>
              </ng-template>
            </ng-template>
          </div>

          <div class="col-12 text-center info-div">
            <h4>Country</h4>
            <p>{{ profile.COUNTRY }}</p>

          </div>
        </ng-template>
        <ng-template #loadingStudentsProfile>
          <div class="col-12 mt-5">
            <ion-skeleton-text class="d-flex justify-content-center" height="35px" width="40%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="70%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center mt-5" height="25px" width="30%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="60%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center mt-5" height="25px" width="30%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="60%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center mt-5" height="25px" width="30%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="60%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center mt-5" height="25px" width="30%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="60%"></ion-skeleton-text>
          </div>
        </ng-template>
      </ng-template>

      <ng-template #lecturerProfileRole>
        <ng-template let-staffProfile [ngIf]="staffProfile$ | async" [ngIfElse]="loadingStaffProfile">
          <div class="col-12 text-center info-div">
            <h1>{{ staffProfile[0].FULLNAME }}</h1>
          </div>

          <div class="col-12 text-center info-div">
            <h4>ID</h4>
            <p>{{ staffProfile[0].ID }}</p>
          </div>

          <div class="col-12 text-center info-div">
            <h4>Title</h4>
            <p>{{ staffProfile[0].TITLE }}</p>
          </div>

          <div class="col-12 text-center info-div">
            <h4>Nationality</h4>
            <p>{{ staffProfile[0].NATIONALITY }}</p>

          </div>

          <div class="col-12 text-center info-div">
            <h4>Current Job Type</h4>
            <p>{{ staffProfile[0].CURRENT_JOB_TYPE }}</p>
          </div>

          <div class="col-12 text-center info-div">
            <h4>Department</h4>
            <p>{{ staffProfile[0].DEPARTMENT }}</p>
          </div>

          <ng-template [ngIf]="staffProfile[0].DEPARTMENT1">
            <div class="col-12 text-center info-div">
              <h4>Department 1</h4>
              <p>{{ staffProfile[0].DEPARTMENT1 }}</p>
            </div>
          </ng-template>

          <ng-template [ngIf]="staffProfile[0].DEPARTMENT2">
            <div class="col-12 text-center info-div">
              <h4>Department 2</h4>
              <p>{{ staffProfile[0].DEPARTMENT2 }}</p>
            </div>
          </ng-template>
        </ng-template>
        <ng-template #loadingStaffProfile>
          <div class="col-12 mt-5">
            <ion-skeleton-text class="d-flex justify-content-center" height="35px" width="90%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="70%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center mt-5" height="25px" width="30%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="60%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center mt-5" height="25px" width="30%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="60%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center mt-5" height="25px" width="30%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="60%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center mt-5" height="25px" width="30%"></ion-skeleton-text>
            <ion-skeleton-text class="d-flex justify-content-center" height="25px" width="60%"></ion-skeleton-text>
          </div>
        </ng-template>
      </ng-template>
    </ion-card-header>

    <div id="map" style="width: 100%; height: 250px"></div>

  </ion-card>




</ion-content>