@media screen and (max-width: 768px) {
  ion-col {
    border: none;
    ion-card:not(.orientation) {
      box-shadow: none;
      --background: transparent !important;
    }
  }
}

.profile-photo {
  margin-top: 16px;
  max-height: 150px;
  max-width: 122px;
}

ion-img {
  height: 100%;
  border-radius: 15px;
  margin: auto;
}

.margin-auto{
  margin: auto;
}

h4 {
  font-weight: bold;
}
