<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-button class="colored-text" (click)="closeModal()">
        CLOSE
      </ion-button>
    </ion-buttons>
    <ion-title>Manage Assessment Types</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding ion-align-self-center" size-xs="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <ion-item>
              <ion-input placeholder="Type new assessment type here"></ion-input>
              <ion-button>ADD</ion-button>
            </ion-item>

            <ion-item *ngFor="let assessmentType of assessmentTypes; let i = index;" lines="none">
              <ion-input [(ngModel)]="assessmentType" *ngIf="onEdit && assessmentTypeIndex === i; else showLabel" class="form-input"></ion-input>
              <ng-template #showLabel>
                <ion-label>
                  {{assessmentType}}
                </ion-label>
              </ng-template>
              <ion-buttons slot="end">
                <ion-button *ngIf="onEdit && assessmentTypeIndex === i">
                  <ion-icon class="colored-text" slot="icon-only" name="checkmark"></ion-icon>
                </ion-button>
                <ion-button [disabled]="onEdit && assessmentTypeIndex !== i" (click)="toggleEdit(i)">
                  <ion-icon class="colored-text" slot="icon-only" [name]="onEdit && assessmentTypeIndex === i ? 'close' : 'create'"></ion-icon>
                </ion-button>
                <ion-button [disabled]="onEdit">
                  <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
