<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/attendix/mark-attendance"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>QR Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="button">
    <ion-card-header>
      Scan Code
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="camera" class="button-icon"></ion-icon>

       <!-- <div *ngIf="scannedData">
        <h3>Course Details:</h3>
        <p><b>{{scannedData['text']}}</b></p>
      </div> -->
    </ion-card-content>
  </ion-card>
</ion-content>
