<ion-header>
  <ion-toolbar>
    <ion-title>Lecturer Timetable</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="attendixFeature" fill="outline" size="small"
        [routerLink]="['/attendix/classes']" class="colored-text colored-border">
        Mark Attendance
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="staffProfiles$ | async as staffProfile">
    <lecturer-timetable [id]="staffProfile[0].ID"></lecturer-timetable>
  </ng-container>
</ion-content>
