<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Lecturer Timetable</ion-title>
    <ion-buttons slot="start" [hidden]='comingFromTabs()'>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="showAttendixFeature" fill="outline" size="small" [routerLink]="['/attendix/classes']"
        class="colored-text colored-border">
        Mark Attendance
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="staffProfiles$ | async as staffProfile">
    <lecturer-timetable [id]="staffProfile[0].ID"></lecturer-timetable>
  </ng-container>
</ion-content>