<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/attendix/mark-attendance"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>One-Time Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        One-Time Password
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-grid class="container">
          <ion-row>
            <ion-col class="rounded">
              <ion-input type="text" name="otp" placeholder="Enter OTP Here"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button id="rounded" type="submit" (click)="submitOTP()">
                Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
