<ion-header>
  <ion-toolbar>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <h3>Welcome {{userDetails}},</h3>

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
          <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input matInput #password type="password" formControlName="new_password" autofocus></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input [class.is-invalid]="!!changePasswordForm.errors?.mismatch" matInput type="password"
              formControlName="confirm_password"></ion-input>
          </ion-item>

          <ion-label
            *ngIf="changePasswordForm.get('new_password').hasError('required') && changePasswordForm.get('new_password').touched">
            Password can't be empty!
          </ion-label>
          <ion-label *ngIf="changePasswordForm.get('new_password').hasError('pattern')">
            Password must contain more than 8 characters, 1 upper case letter, and 1 special character
          </ion-label>

          <ion-label
            *ngIf="!!changePasswordForm.get('confirm_password').errors?.required && changePasswordForm.get('confirm_password').touched">
            Confirm Password can't be empty!
          </ion-label>
          <ion-label
            *ngIf="!!changePasswordForm.errors?.mismatch && !changePasswordForm.get('confirm_password').errors?.required">
            Password do not match!
          </ion-label>
          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="!changePasswordForm.valid">Change</ion-button>
            </ion-col>
          </ion-row>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
