<ion-header>
  <ion-toolbar>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card>
          <ion-card-header class="colored-border">
            <ion-card-title text-center>
              Welcome {{userDetails}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <form padding-top [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
              <ion-item lines="none">
                <ion-label position="stacked">New Password:</ion-label>
                <ion-input #input class="form-input" type="password" [(ngModel)]="newPpassword"
                  (ngModelChange)="checkValidation()" formControlName="newPpassword">
                </ion-input>
              </ion-item>
              <div>
                <div padding-start padding-top>
                  <ion-label class="fail"
                    *ngIf="changePasswordForm.get('newPassword').hasError('required')  ; else done">
                    <ion-icon name="close-circle">
                    </ion-icon>
                    Password can't be empty!
                  </ion-label>
                  <ng-template #done>
                    <ion-label class="pass">
                      <ion-icon name="checkmark-circle"></ion-icon>
                      <ion-label>
                        Password can't be empty!
                      </ion-label>
                    </ion-label>
                  </ng-template>
                </div>
                <div padding-start>
                  <ion-label class="fail" *ngIf="!length; else moreThan8">
                    <ion-icon name="close-circle">
                    </ion-icon>
                    Password must have at least 8 characters
                  </ion-label>
                  <ng-template #moreThan8>
                    <ion-label class="pass">
                      <ion-icon name="checkmark-circle"></ion-icon>
                      <ion-label>
                        Password must have at least 8 characters
                      </ion-label>
                    </ion-label>
                  </ng-template>
                </div>
                <div padding-start>
                  <ion-label class="fail" *ngIf="!upperCase; else hasUpper">
                    <ion-icon name="close-circle">
                    </ion-icon>
                    Password must have at least one upperCase character
                  </ion-label>
                  <ng-template #hasUpper>
                    <ion-label class="pass">
                      <ion-icon name="checkmark-circle"></ion-icon>
                      <ion-label>
                        Password must have at least one upperCase characterers
                      </ion-label>
                    </ion-label>
                  </ng-template>
                </div>
                <div padding-start>
                  <ion-label class="fail" *ngIf="!special; else hasSpe">
                    <ion-icon name="close-circle">
                    </ion-icon>
                    Password must have at least one special character
                  </ion-label>
                  <ng-template #hasSpe>
                    <ion-label class="pass">
                      <ion-icon name="checkmark-circle"></ion-icon>
                      <ion-label>
                        Password must have at least one special characterers
                      </ion-label>
                    </ion-label>
                  </ng-template>
                </div>
              </div>
              <ion-item lines="none">
                <ion-label position="stacked">Confirm Password</ion-label>
                <ion-input class="form-input" formControlName="confirm_password"
                  [class.is-invalid]="!!changePasswordForm.errors?.mismatch" matInput type="password">
                </ion-input>
              </ion-item>
            </form>
          </ion-card-content>

          <ion-footer lines="none" class="colored-border">
            <ion-label class="fail"
              *ngIf="!!changePasswordForm.get('confirm_password').errors?.required && changePasswordForm.get('confirm_password').touched">
              <ion-icon name="close-circle">
              </ion-icon>
              Confirm Password can't be empty!
            </ion-label>
            <ion-label class="fail" padding-start
              *ngIf="!!changePasswordForm.errors?.mismatch && !changePasswordForm.get('confirm_password').errors?.required">
              <ion-icon name="close-circle">
              </ion-icon>
              Password does not match!
            </ion-label>
          </ion-footer>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button type="submit" [disabled]="!changePasswordForm.valid">Change</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>