.card-title {
    font-size: 30px;
    font-weight: bold;
}

.loader-container {
    margin-top: 7%;
}
.custom-item {
    border-radius: 6px;
    border: 2px solid var(--ion-color-primary);
}

.margin-vertical {
    margin: 5% 0;
}
