<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Generate Payslip PDF</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-xl="4" *ngFor="let payslip of payslips$ | async as payslips;">
        <ion-card>
          <img class="month-image" src="{{payslip | getDate | date: 'MMM' | generateMonthImg}}" />

          <ion-card-header>
            <ion-fab horizontal="end" vertical="top" edge>
              <ion-fab-button (click)="generatePayslipPdf(payslip)" class="colored-background">
                <ion-icon name="download"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <ion-card-title>
              {{payslip | getDate | date : 'MMM yyyy'}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{payslip}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
