<ion-card class="ion-no-margin ion-margin-bottom">
  <ion-card-header>
    <ion-card-title class="card-title float-left">
      <h3 class="responsive-h1">
        StaySafe
      </h3>
      <!-- <h5 class="small-margin-top small-text text-bold" style="font-weight: 300;">
        9 AM - 5 PM (Monday - Friday)
      </h5> -->
    </ion-card-title>
    <div class="clearfix"></div>
  </ion-card-header>
  <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
    <div style="border-bottom: 2px solid var(--secondary-txt-color);">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12">
            <ion-grid>
              <ion-row>
                <ion-col size="12" style="align-items: center; text-align: center;">
                  <ion-icon name="call" style="font-size: 70px;" color="danger"></ion-icon>
                </ion-col>

                <ion-col size="12" style="text-align: center;">
                  <h5 style="font-weight: bold; color: var(--danger-color); font-size: 20px;">General Line</h5>
                  <h5 class="responsive-h2">
                    <a href="tel:60389961000">+603-89961000</a> / <a href="tel:1300888278">1 300 888 278 (Toll Free)</a>
                  </h5>
                  <h5 class="responsive-h1" style="margin-top: 10px; font-weight: bold; font-size: 15px;">
                    Operation Hours:
                  </h5>
                  <h6>
                    Monday - Friday (8:30 AM - 7 PM)
                  </h6>
                  <h6>
                    Saturday (8:30 AM - 1 PM)
                  </h6>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="12">
            <ion-grid>
              <ion-row>
                <ion-col size="12" style="align-items: center; text-align: center;">
                  <ion-icon name="call" style="font-size: 70px;" color="danger"></ion-icon>
                </ion-col>

                <ion-col size="12" style="text-align: center;">
                  <h5 style="font-weight: bold; color: var(--danger-color); font-size: 20px;">APU Security / Emergency Hotline</h5>
                  <h5 class="responsive-h2">
                    <a href="tel:0172381300">017-238 1300</a>
                  </h5>
                  <h5 class="responsive-h1" style="margin-top: 10px; font-weight: bold; font-size: 15px;">
                    Operation Hours:
                  </h5>
                  <h6>
                    Everyday (7:00 PM - 7:00 AM)
                  </h6>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>