<ion-header *ngIf="smallScreen">
  <ion-toolbar>
    <ion-title class="ion-text-left" mode="md">
      <h2 class="glob-system-title system-title ion-no-margin">
        <img src="assets/icon/favicon.png" alt="Icon">
        <span>APS</span>pace
      </h2>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [color]="shownSearchBar ? 'tertiary' : 'primary'" (click)="toggleSearchBar()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button color="primary" (click)="openHelpCentre()">
        <ion-icon slot="icon-only" name="information-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="shownSearchBar">
    <ion-searchbar [(ngModel)]="term" (ionFocus)="searching = true" (ionBlur)="stopSearching()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar *ngIf="!smallScreen" slot="top">
      <ion-searchbar [(ngModel)]="term" (keydown.escape)="$event.target.blur()"
        (ionFocus)="searching = true" (ionBlur)="stopSearching()"
        placeholder="(S)earch APSpace" class="tabs-searchbar"></ion-searchbar>
      <ion-tab-button class="extra-tab extra-tab-3">
        <ion-label>Empty</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="extra-tab extra-tab-2">
        <ion-label>Empty</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="extra-tab extra-tab-1">
        <ion-label>Empty</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button *ngFor="let tab of tabs" [tab]="tab.path">
        <ion-label>{{ tab.name }}</ion-label>
        <ion-icon [name]="tab.icon"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-tab-bar *ngIf="smallScreen">
      <ion-tab-button *ngFor="let tab of tabs" [tab]="tab.path">
        <ion-label>{{ tab.name }}</ion-label>
        <ion-icon [name]="tab.icon"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>

    <div class="menu" [style.display]="term && searching ? 'flex' : 'none'">
      <div *ngFor="let group of menuFiltered | fuse:term:options | byGroup | keyvalue:noop" class="menu-group">
        <h2>{{ group.key }}</h2>
        <ng-container *ngFor="let item of group.value">
          <ng-container *ngIf="item.url.startsWith('http://') || item.url.startsWith('https://'); else internalLink">
            <a [href]="item.url">
              <p>
                {{ item.title }}
              </p>
            </a>
          </ng-container>
          <ng-template #internalLink>
            <a [routerLink]="'/' + item.url">
              <p>
                <span *ngFor="let parent of item.parents" class="parent">{{ menusTitle[parent] }}</span>
                {{ item.title }}
              </p>
            </a>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </ion-tabs>
</ion-content>
