<ion-header no-border>
  <ion-navbar>
    <ion-title>App Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- START MAIN -->
  <div class="main" id="main">
    <!-- START PAGE BODY -->
    <div class="main-content">
      <!-- START PAGE CONTAINER -->
      <div class="container">
        <div class="mt-5 row settings-section">
          <div class="px-4 py-1 settings-section-header">
            <h3>GENERAL</h3>
          </div>
          <div
            class="px-0 col-12 settings-section-body"
            style="background-color: #292929"
          >
            <div class="settings-section-item">
              <ion-item no-lines>
                <ion-label>Theme</ion-label>
                <ion-select
                  [(ngModel)]="activeTheme"
                  (ngModelChange)="toggleTheme()"
                >
                  <ion-option
                    *ngFor="let themeOption of themeOptions"
                    value="{{ themeOption.value }}"
                    >{{ themeOption.title }}</ion-option
                  >
                </ion-select>
              </ion-item>
            </div>
            <div class="settings-section-item">
              <ion-item no-lines>
                <ion-label>Accent Color</ion-label>
                <ion-select
                  [(ngModel)]="activeColorScheme"
                  (ngModelChange)="toggleColorScheme()"
                >
                  <ion-option
                    *ngFor="let colorOption of colorSchemeOptions"
                    value="{{ colorOption.value }}"
                    >{{ colorOption.title }}</ion-option
                  >
                </ion-select>
              </ion-item>
            </div>
          </div>
        </div>

        <div class="mt-5 row settings-section">
          <div class="px-4 py-1 settings-section-header">
            <h3>SECURITY & PRIVACY</h3>
          </div>
          <div
            class="px-0 col-12 settings-section-body"
            style="background-color: #292929"
          >
            <div class="settings-section-item">
              <ion-item no-lines>
                <h5 [navPush]="'PasswordRecoveryPage'">
                  Set Security Questions
                </h5>
              </ion-item>
            </div>
          </div>
        </div>

        <div class="mt-5 row settings-section">
            <div class="px-4 py-1 settings-section-header">
              <h3>SUPPORT</h3>
            </div>
            <div
              class="px-0 col-12 settings-section-body"
              style="background-color: #292929"
            >
              <div class="settings-section-item">
                <ion-item no-lines>
                  <h5 (click)="resetByod()">BYOD Reset</h5>
                </ion-item>
              </div>
            </div>
          </div>

        <div class="mt-5 row settings-section">
          <div class="px-4 py-1 settings-section-header">
            <h3>ABOUT THE APP</h3>
          </div>
          <div
            class="px-0 col-12 settings-section-body"
            style="background-color: #292929"
          >
            <div class="settings-section-item">
                <div class="settings-section-item">
                    <ion-item no-lines>
                      <h5 [navPush]="'FeedbackPage'">Send Feedback</h5>
                    </ion-item>
                </div>
              <ion-item no-lines>
                <h5 class="static-data">
                  <div class="row">
                    <div class="col-6">App Version</div>
                    <div class="col-6 text-right">{{ appVersion }}</div>
                  </div>
                </h5>
              </ion-item>
            </div>
          </div>
        </div>
        <!-- END SECTION 2: PRIVACY SETTINGS -->
      </div>
      <!-- END OF PAGE CONTAINER -->
    </div>
    <!-- END PAGE BODY -->
  </div>
  <!-- END MAIN -->
</ion-content>
