<ion-header no-border>
  <ion-navbar>
    <ion-title>App Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- START MAIN -->
  <div class="main" id="main">
    <!-- START PAGE BODY -->
    <div class="main-content">
      <!-- START PAGE CONTAINER -->
      <div class="container">
        <!-- START SECTION 1: APP SETTINGS -->
        <div class="main-section section theme-settings-section">
          <!-- START SECTION 1 HEADER -->
          <div class="section-header">
            <div class="section-header-icon">
              <ion-icon item-left name="hammer"></ion-icon>
            </div>
            <div class="section-header-text"><h3>App Settings</h3></div>
          </div>
          <!-- END SECTION 1 HEADER -->

          <!-- START SECTION 1 BODY -->
          <div class="section-body">
            <div class="section-body-header">
              <h4 class="col-12">Selected Theme</h4>
            </div>

            <div class="section-body-content row">
              <div class="container no-padding-left">
                <ion-list radio-group [(ngModel)]="activeTheme">
                  <ion-item *ngFor="let themeOption of themeOptions">
                    <ion-label>{{ themeOption.title }}</ion-label>
                    <ion-radio
                      value="{{ themeOption.value }}"
                      (ionSelect)="toggleTheme($event, themeOption.value)"
                    ></ion-radio>
                  </ion-item>
                </ion-list>
              </div>
            </div>
            <!-- HERE -->
            <div class="section-body-header">
              <h4 class="col-12">Selected Color Scheme</h4>
            </div>

            <div class="section-body-content row">
              <div class="container no-padding-left">
                <ion-list radio-group [(ngModel)]="activeColorScheme">
                  <ion-item *ngFor="let colorOption of colorSchemeOptions">
                    <ion-label>{{ colorOption.title }}</ion-label>
                    <ion-radio
                      value="{{ colorOption.value }}"
                      (ionSelect)="toggleColorScheme($event, colorOption.value)"
                    ></ion-radio>
                  </ion-item>
                </ion-list>
              </div>
            </div>
          </div>
          <!-- END SECTION 1 BODY -->
        </div>
        <!-- END SECTION 1: APP SETTINGS -->

        <!-- START SECTION 2: PRIVACY SETTINGS -->
        <div class="main-section section theme-settings-section">
          <!-- START SECTION 2 HEADER -->
          <div class="section-header">
            <div class="section-header-icon">
              <ion-icon item-left name="lock"></ion-icon>
            </div>
            <div class="section-header-text">
              <h3>Security & Privacy Settings</h3>
            </div>
          </div>
          <!-- END SECTION 2 HEADER -->

          <!-- START SECTION 2 BODY -->
          <div class="section-body">
            <div class="section-body-header">
              <h4 class="col-12" [navPush]="'PasswordRecoveryPage'">
                Set Security Questions
              </h4>
            </div>

            <div class="section-body-header">
              <h4 class="col-12" (click)="resetByod()">
                BYOD Reset
              </h4>
            </div>

            <!-- <div class="section-body-header">
              <h4 class="col-12">Reset Password</h4>
            </div> -->
          </div>
          <!-- END SECTION 2 BODY -->
        </div>
        <!-- END SECTION 2: PRIVACY SETTINGS -->

        <!-- START SECTION 2: PRIVACY SETTINGS -->
        <div class="main-section section theme-settings-section">
          <!-- START SECTION 2 HEADER -->
          <div class="section-header">
            <div class="section-header-icon">
              <ion-icon item-left name="help"></ion-icon>
            </div>
            <div class="section-header-text">
              <h3>About</h3>
            </div>
          </div>
          <!-- END SECTION 2 HEADER -->

          <!-- START SECTION 2 BODY -->
          <div class="section-body">
            <div class="section-body-header">
              <h4 class="px-5 py-2">
                <div class="row">
                  <div class="col-6 p-0">App Version</div>
                  <div class="col-6 p-0 text-right">{{appVersion}}</div>
                </div>
              </h4>
              <h4 class="px-5">

              </h4>
            </div>
          </div>
          <!-- END SECTION 2 BODY -->
        </div>
        <!-- END SECTION 2: PRIVACY SETTINGS -->
      </div>
      <!-- END OF PAGE CONTAINER -->
    </div>
    <!-- END PAGE BODY -->
  </div>
  <!-- END MAIN -->
</ion-content>
