$font-family: Consolas, Courier, monospace;

.transaction-icon {
  width: 100%;
  height: 100%;
}

ion-item {
  border-left: 5px solid;
  &.credit {
    border-color: var(--success-color);
    ion-icon,
    .value {
      color: var(--success-color);
    }
  }
  &.deposit {
    border-color: var(--danger-color);
    ion-icon,
    .value {
      color: var(--danger-color);
    }
  }
}

.total-credit {
  color: var(--success-color);
}
.total-deposit {
  color: var(--danger-color);
}

ion-item-divider.colored-background{
  --background: var(--primary-color) !important;
  --color: #FFFFFF !important;
}

@media only screen and (min-width: 1px) {
  .card {
    width: 95%;
    margin: auto;
    height: 200px;
    perspective: 1000;
  }
  .front {
    width: 100%;
    position: relative;
    height: inherit;
    border-radius: 15px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden;
    background-image: linear-gradient(to right, #111, #555);
    overflow: hidden;
  }
  .front {
    transform: translateZ(0);
  }
  .strip-bottom,
  .strip-top {
    position: absolute;
    right: 0;
    height: inherit;
    background-image: linear-gradient(to bottom, #67f4ff, #417c7e);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 100; // SEND IT TO THE BACK
  }
  .card-details {
    z-index: 200; // MAKE IT IN FRONT OF THE BACKGROUND
    width: 100%;
    height: inherit;
    position: absolute;
    label {
      color: rgba(255, 255, 255, 0.8);
    }
    span {
      color: white;
    }
  }
  .strip-bottom {
    width: 140px;
    transform: skewX(-15deg) translateX(50px);
  }
  .strip-top {
    width: 120px;
    transform: skewX(20deg) translateX(50px);
  }
  .investor {
    font-family: $font-family;
    font-size: 19px;
    position: relative;
    top: 15px;
    left: 10px;
    text-transform: uppercase;
  }
  .chip {
    position: relative;
    top: 33px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 32px;
    border-radius: 2px;
    background-image: linear-gradient(to bottom left, #ffecc7, #d0b978);
    overflow: hidden;
    .chip-line {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #333;
    }
    .chip-line:nth-child(1) {
      top: 10px;
    }
    .chip-line:nth-child(2) {
      top: 17px;
    }
    .chip-line:nth-child(3) {
      top: 23px;
    }
    .chip-line:nth-child(4) {
      left: 19px;
      width: 1px;
      height: 50px;
    }
    .chip-main {
      width: 20px;
      height: 22px;
      border: 1px solid #333;
      border-radius: 3px;
      background-image: linear-gradient(to bottom left, #efdbab, #e1cb94);
      z-index: 1;
    }
  }
  .card-number {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 56px 9px 1px;
    font-family: $font-family;
    font-size: 17px;
  }
  .end {
    margin-left: 10px;
    font-family: $font-family;
    label {
      font-size: 14px;
    }
    span {
      font-size: 16px;
    }
  }
  .card-holder {
    margin: calc(1% + 10px) 13px;
    font-family: $font-family;
    label {
      font-size: 13px;
    }
    span {
      font-size: 15px;
    }
  }
}

@media only screen and (min-width: 321px) {
  .card {
    width: 92%;
    height: 204px;
  }
  .strip-bottom {
    width: 200px;
  }
  .strip-top {
    width: 180px;
  }
  .investor {
    top: 15px;
    left: 20px;
  }
  .strip-bottom {
    width: 120px;
  }
  .strip-top {
    width: 100px;
  }
  .chip {
    top: 26px;
    left: 22px;
    width: 45px;
    height: 34px;
    border-radius: 5px;
    .chip-line:nth-child(1) {
      top: 13px;
    }
    .chip-line:nth-child(2) {
      top: 20px;
    }
    .chip-line:nth-child(3) {
      top: 28px;
    }
    .chip-line:nth-child(4) {
      left: 25px;
    }
    .chip-main {
      height: 25px;
    }
  }
  .card-number {
    margin: 38px 13px 10px;
    font-size: 23px;
  }
  .end {
    font-size: 15px;
  }
}

@media only screen and (min-width: 370px) {
  .strip-bottom {
    width: 170px;
  }
  .strip-top {
    width: 150px;
  }
}

@media only screen and (min-width: 416px) {
  .card {
    width: 82%;
  }
}

@media only screen and (min-width: 475px) {
  .card {
    width: 88%;
    height: 250px;
  }
  .chip {
    top: 41px;
    left: 22px;
    width: 50px;
    height: 38px;
  }
  .card-number {
    margin: 65px 13px 10px;
  }
}

// MEDIA QUERIES FOR THE CARD DESIGN:
@media only screen and (min-width: 524px) {
  .card {
    width: 82%;
  }
}

// MEDIA QUERIES FOR THE CARD DESIGN:
@media only screen and (min-width: 587px) {
  .card {
    width: 70%;
  }
}

// MEDIA QUERIES FOR THE CARD DESIGN:
@media only screen and (min-width: 650px) {
  .card {
    width: 62%;
  }
}

// MEDIA QUERIES FOR THE CARD DESIGN:
@media only screen and (min-width: 758px) {
  .card {
    width: 54%;
  }
}

// MEDIA QUERIES FOR THE CARD DESIGN:
@media only screen and (min-width: 768px) {
  .card {
    width: 96%;
  }
}

// MEDIA QUERIES FOR THE CARD DESIGN:
@media only screen and (min-width: 992px) {
  .card {
    width: 90%;
    height: 200px;
  }
  .chip {
    top: 25px;
    left: 20px;
    width: 40px;
    height: 32px;
  }
  .card-number {
    margin: 37px 13px 10px;
  }
  .strip-bottom {
    width: 120px;
  }
  .strip-top {
    width: 100px;
  }
  .end {
    font-size: 15px;
  }
}

// MEDIA QUERIES FOR THE CARD DESIGN:
@media only screen and (min-width: 1116px) {
  .card {
    width: 92%;
    height: 250px;
  }
  .card-number {
    margin: 65px 13px 10px;
  }
  .chip {
    top: 37px;
    height: 40px;
    width: 50px;
  }
  .strip-bottom {
    width: 150px;
  }
  .strip-top {
    width: 130px;
  }
}

@media only screen and (min-width: 1290px) {
  .card {
    width: 94%;
  }
  .strip-bottom {
    width: 170px;
  }
  .strip-top {
    width: 150px;
  }
}
// HERE
@media only screen and (min-width: 1438px) {
  .card {
    width: 91%;
  }
}

@media only screen and (min-width: 1556px) {
  .card {
    width: 81%;
  }
}
@media only screen and (min-width: 1790px) {
  .card {
    width: 71%;
    height: 263px;
  }
  .card-number {
    margin: 67px 13px 25px;
  }
}
