<ion-header no-border>
  <ion-navbar color='primary'>
    <ion-title *ngIf="itemDetails">{{ itemDetails.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="itemDetails">
  <div id="fill"></div>
  <button id="icon-button" ion-button icon-only>
      <ion-icon id="mail-icon" name="mail-open"></ion-icon>
    </button>
    <div padding>
      <br>
      <br>
      <h4 id="h4">
        {{ itemDetails.title }}
      </h4>
      <br>
      <ion-note id="note">
        Issued by: <span id="staff-name">{{ itemDetails.staff_name }}</span>
      </ion-note>
      <br>
      <ion-note id="note">
        Time & Date: <span id="staff-name">{{ displayDate(itemDetails.message_id) }}</span>
      </ion-note>
      <br>
      <br>
      <br>
      <article [innerHTML]="sanitize(itemDetails?.content)"></article>
    </div>
</ion-content>
