<ion-header no-border>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="notifications" color="light">
      <ion-segment-button value="all"> All messages </ion-segment-button>
      <ion-segment-button value="unread"> Unread messages </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ng-template [ngIf]='cordova' [ngIfElse]='notCordova'>
    <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="refresh">
      </ion-refresher-content>
    </ion-refresher>

    <ng-container [ngSwitch]="notifications">
        <ion-list *ngSwitchCase="'all'">
          <button
            class="message-btn"
            *ngFor="let message of (message$ | async)"
            (click)="openBasicModal(message, message.message_id)"
            [style.font-weight]="message.read ? '400' : 'bold'"
            ion-item
          >
            <ion-icon
              [name]="message.read ? 'mail-open' : 'mail'"
              [style.color]="message.read ? '#c6c2c2' : '#f04141'"
              item-left
            ></ion-icon>
            <h4 [style.color]="message.read ? '#c6c2c2' : '#f04141'">
              {{ message.title }}
            </h4>
            <ion-note
              class="message_content"
              [innerHTML]="sanitize(message?.content)"
            ></ion-note>
            <ion-note
              class="message-time"
              [style.color]="message.read ? '#c6c2c2' : '#f04141'"
              item-right
            >
              {{ message.message_id * 1000 | date }}
            </ion-note>
          </button>
        </ion-list>
    
        <ion-list *ngSwitchCase="'unread'">
          <button
            class="message-btn"
            *ngFor="let message of (message$ | async | unread)"
            (click)="openBasicModal(message, message.message_id)"
            [style.font-weight]="message.read ? '400' : 'bold'"
            ion-item
          >
            <ion-icon name="mail" style="color: #f04141" item-left></ion-icon>
            {{ message.title }} <br />
            <ion-note
              class="message_content"
              [innerHTML]="sanitize(message?.content)"
            ></ion-note>
            <ion-note class="message-time" item-right>{{
              message.message_id * 1000 | date
            }}</ion-note>
          </button>
        </ion-list>
      </ng-container>

    <ng-container *ngIf="isLoading">
      <ion-item *ngFor="let i of numOfSkeletons">
        <ion-avatar item-start>
          <skeleton-item height="50px" width="50px" rounded></skeleton-item>
        </ion-avatar>
        <skeleton-item height="50px" width="100%"></skeleton-item>
        <skeleton-item height="5px" width="150px"></skeleton-item>
      </ion-item>
    </ng-container>
  </ng-template>
  <ng-template #notCordova>
        <h5 class="p-4 text-center notification-desktop">
          Notification is only available in the mobile application
        </h5>
  </ng-template>
</ion-content>
