.no-background-color {
  --background: transparent !important;
}

.form-input {
  border-radius: 7px;
  background: var(--ion-color-light);
  padding: 3px 10px !important;
  margin-top: 10px;
  border: 1px solid var(--ion-color-medium);
  min-height: 40px;
}

ion-select.form-input {
  padding: 8px 10px 9px 10px !important;
  width: 100%;
  max-width: 100%;
}

.img-wrapper {
  max-height: 90px;
  max-width: 90%;
  overflow: hidden;
  margin: auto;
}
.input-elements-wrabber {
  border-radius: 7px;
  border: 1.4px solid var(--ion-color-medium);
  .input-wrapper {
    border-right: 2px solid var(--ion-color-medium);
    ion-input {
      --background: var(--ion-color-light);
      border-radius: 7px 0 0 7px;
      padding: 3px 10px !important;
    }
  }
  ion-button {
    min-height: 47px;
  }
}

.small-margin-bottom {
  margin-bottom: 7px;
}

%remain-steps {
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  &:after {
    background-color: var(--ion-color-medium);
  }
}

.multi-steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: var(--ion-color-primary);
    &:before {
      content: "\2713";
      display: block;
      margin: 0 auto 4px;
      background-color: var(--ion-color-light);
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border: {
        width: 2px;
        style: solid;
        color: var(--ion-color-primary);
        radius: 50%;
      }
    }
    &:after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: var(--ion-color-primary);
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: -1;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &.is-active {
      @extend %remain-steps;
      &:before {
        background-color: var(--ion-color-light);
        border-color: var(--ion-color-primary);
      }
      ~ li {
        color: var(--ion-color-medium);
        @extend %remain-steps;
        &:before {
          background-color: var(--ion-color-light);
          border-color: var(--ion-color-medium);
        }
      }
    }
  }
}

.margin-auto {
  margin: auto;
}
ion-avatar {
  width: 140px;
  height: 140px;
}


.text-wrap-normal{
  white-space: normal !important;
}