
ion-navbar[hidebackbutton] button[menutoggle] {
    display: block !important;
}

.title-news {
    background-color: #484c73;
    font-size: 17px;
    
}

.item-body {
    background-color: #cfd8dc;
}
