.glob-clearfix {
  clear: both;
}

.glob-margin-auto {
  margin: auto;
}

.glob-text-bold {
  font-weight: bold !important;
}

.glob-limit-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &.glob-one-line {
    -webkit-line-clamp: 1;
  }

  &.glob-two-lines {
    -webkit-line-clamp: 2;
  }

  &.glob-three-lines {
    -webkit-line-clamp: 3;
  }

  &.glob-four-lines {
    -webkit-line-clamp: 4;
  }
}

.glob-text-success {
  color: var(--ion-color-success) !important;
}

.glob-system-title {
  font-family: 'Righteous', cursive;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  font-weight: bolder;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  span {
    background-color: #63a91f;
    background-image: linear-gradient(314deg, #1a512e 0%, #509111 74%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

  }
}
