// THEMES' COLORS
:root .pink-accent-color {
  --primary-color: #ec2a4d;
  --sub-primary-color: #e84d69;
}

:root .red-accent-color {
  --primary-color: #e54d42;
  --sub-primary-color: #d96159;
}

// :root .white-accent-color {
//   --primary-color: #ffffff;
//   --sub-primary-color: #cccccc;
// }

:root .green-accent-color {
  --primary-color: #08a14f;
  --sub-primary-color: #49bf80;
}

:root .blue-accent-color {
  --primary-color: #3a99d9;
  --sub-primary-color: #5ba3d4;
}

:root .yellow-accent-color {
  --primary-color: #dfa847;
  --sub-primary-color: #d9ac5d;
}

// IONIC VARIABLES IN LIGHT THEME
:root .light-theme {
  --main-bg-color: #fafafa;
  --secondary-bg-color: #f5f5f5;
  --tertiary-bg-color: #e0e0e0;

  --main-txt-color: #3b3939ee;
  --secondary-txt-color: #3b3939d1;
  --tertiary-txt-color: #3b3939a0;

  --danger-color: #ec2a4d;
  --success-color: #49b571;

  --ion-background-color: var(--main-bg-color);
  ion-toolbar {
    --background: var(--secondary-bg-color);
  }
  ion-card {
    --background: var(--secondary-bg-color);
  }
  ion-item {
    --background: var(--secondary-bg-color);
  }
  ion-item-divider {
    --background: var(--secondary-bg-color);
  }
  ion-slides {
    --bullet-background: var(--main-txt-color);
  }
  ion-tab-button {
    --color: var(--tertiary-txt-color);
  }
  ion-radio {
    --color: var(--main-txt-color);
  }
  quick-access-item {
    &:hover {
      ion-card {
        --background: var(--tertiary-bg-color);
      }
    }
  }
}

// IONIC VARIABLES IN DARK THEME
:root .dark-theme {
  --main-bg-color: #212121;
  --secondary-bg-color: #303030;
  --tertiary-bg-color: #424242;

  --main-txt-color: #ffffffd1;
  --secondary-txt-color: #999999;
  --tertiary-txt-color: #ffffffba;

  --danger-color: #ec2a4d;
  --success-color: #49b571;

  --ion-background-color: var(--main-bg-color);
  ion-toolbar {
    --background: var(--secondary-bg-color);
  }
  ion-card {
    --background: var(--secondary-bg-color);
  }
  ion-item {
    --background: var(--secondary-bg-color);
  }
  ion-item-divider {
    --background: var(--secondary-bg-color);
  }
  ion-slides {
    --bullet-background: var(--main-txt-color);
  }
  ion-tab-button {
    --color: var(--tertiary-txt-color);
  }
  ion-radio {
    --color: var(--main-txt-color);
  }
  quick-access-item {
    &:hover {
      ion-card {
        --background: var(--tertiary-bg-color);
      }
    }
  }
}

// IONIC VARIABLES IN DARK THEME
:root .dark-theme.pure {
  --primary-color: #000000;
  --main-bg-color: #101010;
  --secondary-bg-color: #151515;
  --tertiary-bg-color: #424242;

  --main-txt-color: #ffffffd1;
  --secondary-txt-color: #999999;
  --tertiary-txt-color: #ffffffba;

  --danger-color: #ec2a4d;
  --success-color: #49b571;

  --ion-background-color: var(--main-bg-color);
  ion-toolbar {
    --background: var(--secondary-bg-color);
  }
  ion-card {
    --background: var(--secondary-bg-color);
  }
  ion-item {
    --background: var(--secondary-bg-color);
  }
  ion-item-divider {
    --background: var(--secondary-bg-color);
  }
  ion-slides {
    --bullet-background: var(--main-txt-color);
  }
  ion-tab-button {
    --color: var(--tertiary-txt-color);
  }
  ion-radio {
    --color: var(--main-txt-color);
  }
  quick-access-item {
    &:hover {
      ion-card {
        --background: var(--tertiary-bg-color);
      }
    }
  }
  ion-button.colored-background {
    --background: var(--primary-color) !important;
    --color: var(--tertiary-txt-color) !important;
    &[aria-disabled="true"] {
      --background: var(--primary-color) !important;
      --color: var(--secondary-txt-color) !important;
    }
  }
}

ion-list {
  background: var(--secondary-bg-color) !important;
}
.main-txt-color {
  color: var(--main-txt-color);
}
ion-toolbar {
  color: var(--tertiary-txt-color);
}
ion-card {
  ion-card-subtitle,
  .small-text {
    color: var(--secondary-txt-color);
  }
}
ion-item {
  color: var(--main-txt-color);
}

ion-slide {
  color: var(--main-txt-color);
}

// PAGES
app-apcard {
  .strip-top,
  .strip-bottom {
    background-image: linear-gradient(to bottom, var(--sub-primary-color), var(--primary-color)) !important;
  }
}

// COMPONENETS
events-list {
  .event-container {
    background: var(--secondary-bg-color);
    color: var(--main-txt-color);
    &:not(.no-hover):hover {
      background: var(--tertiary-bg-color);
    }
    &.passed-event {
      border-color: #aaaaaa !important;
      background-color: var(--secondary-bg-color) !important;
      .left-part,
      .title,
      .description a,
      .description {
        color: #aaaaaa !important;
      }
      .type {
        background-color: #aaaaaa !important;
      }
    }
    .left-part {
      color: var(--main-txt-color);
    }
  }
  .spacer {
    border-color: var(--main-bg-color);
  }
}

:host ::ng-deep quick-access-item {
  &:hover {
    ion-card {
      box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
  }
}

// FOLLOWING PRIMARY COLOR
ion-slides {
  --bullet-background-active: var(--primary-color) !important;
}
ion-card {
  ion-card-title {
    color: var(--primary-color);
  }
}
ion-tab-button {
  --color-selected: var(--primary-color) !important;
}
ion-radio {
  --color-checked: var(--primary-color);
}
ion-toggle {
  --background: var(--secondary-txt-color);
  --handle-background: var(--main-bg-color);
  --background-checked: var(--main-txt-color);
  --handle-background-checked: var(--primary-color);
}
.normal-text {
  color: var(--main-txt-color) !important;
}
.colored-text {
  color: var(--primary-color) !important;
}
.colored-border {
  border-color: var(--primary-color) !important;
}
.colored-background {
  background: var(--primary-color) !important;
}
ion-button.colored-background {
  --background: var(--primary-color) !important;
  &[aria-disabled="true"] {
    --background: var(--primary-color) !important;
  }
}
