// Main Font /Source Sans Pro/ (Light: 300, Normal: 400, Bold: 700)
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-display: swap;
  src: url('source-sans-pro/WOFF2/TTF/SourceSansPro-Light.ttf.woff2') format('woff2'),
       url('source-sans-pro/WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'),
       url('source-sans-pro/OTF/SourceSansPro-Light.otf') format('opentype'),
       url('source-sans-pro/TTF/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-display: swap;
  src: url('source-sans-pro/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
       url('source-sans-pro/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
       url('source-sans-pro/OTF/SourceSansPro-Regular.otf') format('opentype'),
       url('source-sans-pro/TTF/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 500;
  font-display: swap;
  src: url('source-sans-pro/WOFF2/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'),
       url('source-sans-pro/WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'),
       url('source-sans-pro/OTF/SourceSansPro-Black.otf') format('opentype'),
       url('source-sans-pro/TTF/SourceSansPro-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-display: swap;
  src: url('source-sans-pro/WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'),
       url('source-sans-pro/WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'),
       url('source-sans-pro/OTF/SourceSansPro-Bold.otf') format('opentype'),
       url('source-sans-pro/TTF/SourceSansPro-Bold.ttf') format('truetype');
}

