/* 01. UTILITIES */
/* ********************************************************************** */
ion-button,
a {
  cursor: pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.text_center {
  text-align: center !important;
}

.clearfix {
  clear: both !important;
}

.float-left {
  float: left !important;
}

.text-bold {
  font-weight: 500 !important;
}

.text-bolder {
  font-weight: 700 !important;
}

.margin-top {
  margin-top: 16px !important;
}

.small-margin-top {
  margin-top: 5px;
}

/* 03. TEXT COLORS */
/* ********************************************************************** */

/* 04. OVERRIDE DEFAULT SETTINGS FOR BROWSER & FRAMEWORK */
/* ********************************************************************** */

/* REMOVE INPUT BACKGROUND FOR CHROME BROWSER */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/* FIX OVERLAPPING ISSUE IN SWIPER */
.swiper-wrapper {
  margin-bottom: 15px !important;
}
.swiper-pagination {
  position: relative !important;
  bottom: 5px !important;
}

.ios {
  .small-text {
    font-size: 0.4em !important;
  }
}

.md {
  .small-text {
    font-size: 0.6em !important;
  }
}

// ANIMATIONS
.animated {
  transition: all 0.5s;
}
.anim-rotate-270-deg {
  &:hover {
    transform: rotate(270deg);
  }
}

.anim-rotate-360-deg {
  &:hover {
    transform: rotate(360deg);
  }
}

.anim-scale {
  &:hover {
    transform: scale(1.2);
  }
}
