/* 
    THIS FILE CONTAINS ALL THE MEDIA QUERIES USED TO MAKE THE DESIGN RESPONSIVE.
    IT IS FOLLOWING THE BOOTSTRAP MEDIA QUERIES (EXCEPT THE EXTRA SMALL ONE):
        1. EXTRA SMALL DEVICES (old small iPhone devices) (NOT IN BOOTSTRAP)
        2. SMALL DEVICES (landscape phones, 576px and up)
        3. MEDIUM DEVICES (tablets, 768px and up)
        4. LARGE DEVICES (desktops, 992px and up)
        5. EXTRA LARGE DEVICES (large desktops, 1200px and up)
*/

// #373B44 DARK GRAY

/* EXTRA SMALL DEVICES - MORE THAN 1px */
@media only screen and (min-width: 1px) {
  .responsive-h1 {
    font-size: 1rem;
  }
  .responsive-h2 {
    font-size: 0.7rem;
  }
  .responsive-icon {
    font-size: 1.8rem;
  }
  .d-block {
    display: block;
  }
  .d-inline {
    display: inline;
  }
  .d-none {
    display: none;
  }
  .pt-1-xs {
    padding-top: 0.5em !important;
  }
  .pb-1-xs {
    padding-bottom: 0.5em !important;
  }
  .mt-1-xs {
    margin-top: 0.5em !important;
  }
  .mb-1-xs {
    margin-bottom: 0.5em !important;
  }
  .mt-2-xs {
    margin-top: 1em !important;
  }
  .mb-2-xs {
    margin-bottom: 1em !important;
  }
  .masonry-list {
    column-count: 1;
  }
  .masonry-item {
    display: inline-block;
    width: 100%;
    &:not(.no-padding) {
      padding: 5px;
    }
  }

  ion-badge {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-bottom: 7px;
    --padding-top: 5px;
  }
}

/* SMALL DEVICES - 576px AND UP */
@media only screen and (min-width: 576px) {
  .responsive-h1 {
    font-size: 1.2rem;
  }
  .responsive-h2 {
    font-size: 0.9rem;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-inline {
    display: inline;
  }
}

/* MEDIUM DEVICES - 768px AND UP */
@media only screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-none {
    display: none;
  }
  .masonry-list {
    column-count: 2;
  }
  .masonry-item {
    &:not(.no-padding) {
      padding: 10px;
    }
  }
  .m-0-md{
    margin: 0 !important;
  }
}

/* LARGE DEVICES - 992px AND UP */
@media only screen and (min-width: 992px) {
  .responsive-icon {
    font-size: 2rem;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline {
    display: inline;
  }
  .masonry-list {
    column-count: 3;
  }
}

/* EXTRA LARGE DEVICES -  1200px AND UP */
@media only screen and (min-width: 1200px) {
  .d-xl-block {
    display: block;
  }
  .d-xl-inline {
    display: inline;
  }
  .masonry-item {
    &:not(.no-padding) {
      padding: 16px;
    }
  }
}
