// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:        #334252,
  secondary:      #ffab00,
  warn:           #fd5000,
  foreground:     #FFFFFF,
  background-login:     #3DC7BE,
  segment:        #6200ea,
  resultsCard:    #484c73,
  login-text-color: #F75940,
  highlighter:    #bfbcbc,
  red:            #cf3425,
  green:          #008000,
  dark-grey:      #404040,
  text-color:     #292525,
  black:          #000000
);

@font-face {
  font-family: 'Bungee';
  src: url('../assets/fonts/Bungee.woff2');
}

@font-face {
  font-family: 'Do Hyeon';
  src: url('../assets/fonts/Do_Hyeon.woff2');
}

@font-face {
  font-family: 'Francois One';
  src: url('../assets/fonts/Francois_One.woff2');
}





// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


$toolbar-md-background: color($colors, primary);




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
