page-upcomingstd {
    div.consultationNote{
        margin-top: 10px;
    }

    .icon1{
        background-color: green;
    }

    .icon2{
        background-color: rgb(240, 31, 31);
    }

    .icon3{
        background-color: rgb(250, 170, 21);
    }

    div.consultationNote .icon{
        margin-bottom: 5px;
    }

    .canceledcard{
        border-left: 1rem solid red
    }
    .availablecard{
        border-left: 1rem solid rgb(24, 237, 124)
    }
    .cancelledbylec{
        background-color: rgb(240, 31, 31);
    }

    .canceledstucard {
      border-left: 1rem solid red
    }
    
    .backbutton{
        text-transform: capitalize;
        margin-left: 3px;
    }

    .line-break{
        overflow: inherit ;
        text-overflow: inherit ;
        white-space: normal;
        vertical-align: middle; 
        text-align: center; 
        font-size: large;
        font-family: initial;
        margin-top: 181px;
        margin-left: 20px;
        color: slategrey;
    }

}

