<ion-header>
  <ion-toolbar mode="md">
    <ion-title>
      Reset Webspace ID Password
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2">
        <ion-card>
          <ion-card-content class="ion-no-padding">
            <form [formGroup]="resetWebspaceIDPasswordForm" (ngSubmit)="resetPassword()">
              <ion-item lines="none">
                <ion-label class="text-bold" position="stacked">Username / TP Number</ion-label>
                <ion-input clear-on-edit="false" class="form-input" type="text"
                  formControlName="usernameOrTPNumber">
                </ion-input>
              </ion-item>
              <ion-item lines="none" class="ion-margin-bottom">
                <ion-label position="stacked" class="text-bold">IC / Passport Number</ion-label>
                <ion-input clear-on-edit="false" class="form-input" formControlName="ICOrPassportNumber" type="text">
                </ion-input>
              </ion-item>
              <!-- <h4 class="text-bold ion-padding-start ion-padding-end ion-padding-top">Password Policy Requirements:</h4>
              <div class="ion-padding-start ion-padding-end">
                <ion-label class="fail"
                  *ngIf="changePasswordForm.get('new_password').hasError('required')  ; else done">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password can't be empty!
                </ion-label>
                <ng-template #done>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      Password can't be empty!
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <div class="ion-padding-start ion-padding-end">
                <ion-label class="fail" *ngIf="!passwordLengthMatch; else moreThan8">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password must have a minimum of eight characters in length
                </ion-label>
                <ng-template #moreThan8>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      Password must have a minimum of eight characters in length
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <div class="ion-padding-start ion-padding-end">
                <ion-label class="fail" *ngIf="!hasLowerCase; else hasLower">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password must have at least one lower case English letter (i.e. A-Z)
                </ion-label>
                <ng-template #hasLower>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      Password must have at least one lower case English letter (i.e. A-Z)
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <div class="ion-padding-start ion-padding-end">
                <ion-label class="fail" *ngIf="!hasUpperCase; else hasUpper">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password must have at least one upper case English letter (i.e. A-Z)
                </ion-label>
                <ng-template #hasUpper>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      Password must have at least one upper case English letter (i.e. A-Z)
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <div class="ion-padding-start ion-padding-end">
                <ion-label class="fail" *ngIf="!hasDigit; else passwordHasDigit">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Password must have at least one digit (i.e. 0-9)
                </ion-label>
                <ng-template #passwordHasDigit>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      Password must have at least one digit (i.e. 0-9)
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <div class="ion-padding-start ion-padding-end">
                <ion-label class="fail" *ngIf="!hasSpeacialCharacter; else hasSpe">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  {{'Password must have at least one special character (e.g. #?!@$%~()_{}-)'}}
                </ion-label>
                <ng-template #hasSpe>
                  <ion-label class="pass">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <ion-label>
                      {{'Password must have at least one special character (e.g. #?!@$%~()_{}-)'}}
                    </ion-label>
                  </ion-label>
                </ng-template>
              </div>
              <div class="ion-padding-start ion-padding-end">
                <ion-label class="fail"
                  *ngIf="!!changePasswordForm.get('confirm_password').errors?.required && changePasswordForm.get('confirm_password').touched">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Confirm password can't be empty!
                </ion-label>
              </div>
              <div class="ion-padding-start ion-padding-end">
                <ion-label class="fail"
                  *ngIf="!!changePasswordForm.errors?.mismatch && !changePasswordForm.get('confirm_password').errors?.required">
                  <ion-icon name="close-circle">
                  </ion-icon>
                  Confirm password does not match new password!
                </ion-label>
              </div> -->
              <div class="ion-padding">
                <ion-button class="colored-background" type="submit" [disabled]="!resetWebspaceIDPasswordForm.valid">
                  Reset</ion-button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>