ion-list {
  border-top: 1px solid var(--ion-color-step-150);
}

ion-badge {
  padding: 10px;
}

ion-label h2 {
  white-space: normal;
}
// To Be enabled in the Future
// .hidden-data {
//   overflow: hidden;
// }
