.no-holiday-message {
  font-size: 20px;
}

  ion-badge {
      min-width: 24px;
      border-radius: 19px;
      padding: 10px;
  }

// To Be enabled in the Future
// .hidden-data {
//   overflow: hidden;
// }
