<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Holidays</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- refresher -->
  <ion-refresher slot="fixed" pullMax="400" pullMin="60 " (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <div class="glob-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4" offset-md="8">
          <ion-list *ngIf="filterObject">
            <ion-item lines="none">
              <ion-label>Affecting:</ion-label>
              <ion-select interface="popover" [(ngModel)]="filterObject.affecting" (ngModelChange)="onFilter()">
                <ion-select-option value="students">Students only</ion-select-option>
                <ion-select-option value="staff">Staff only</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card>
      <ion-card-content>
        <ng-container *ngIf="filteredHoliday$ | async; else loadingHolidays">
          <ion-calendar [(ngModel)]="openDate" (change)="holidayItemOnChange($event)" [options]="options"
            [type]="'string'" [format]="'YYYY-MM-DD'">
          </ion-calendar>
          <ng-container *ngIf="userClickedOnce; else noClick">
            <ng-container *ngIf="showDetails; else NoHolidaySelected">
              <ion-list>
                <ion-item lines="none" style="width: 90%;" class="glob-margin-auto">
                  <!-- (click)="showMore = !showMore" to be enabled in the future -->
                  <ion-label>
                    <h2>{{ holidayTitle }}</h2>
                    <p>{{ remainingDays }}</p>
                  </ion-label>
                  <ion-badge color="primary">
                    {{holidaysAffected === 'students,staff' ? 'Students & Staff' : holidaysAffected === 'students' ? 'Students' : 'Staff'}}
                  </ion-badge>
                </ion-item>
                <!-- To Be enabled in the Future -->
                <!-- <ion-item class="hidden-data" [style.maxHeight]="showMore ? '1000px' : 0">
                  <ion-label>Affecting</ion-label>
                  <ion-badge color="tertiary">
                    {{holidaysAffected === 'students,staff' ? 'Students & Staff' : holidaysAffected === 'students' ? 'Students' : 'Staff'}}
                  </ion-badge>
              </ion-item> -->
              </ion-list>
            </ng-container>
            <ng-template #NoHolidaySelected>
              <ion-list>
                <ion-item lines="none" style="width: 90%;" class="glob-margin-auto">
                  <ion-label>
                    <p>No Events to View On This Day</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ng-template>
          </ng-container>
          <ng-template #noClick>
            <ion-list>
              <ion-item lines="none">
                <ion-label color="tertiary" class="ion-text-center ion-margin-top" style="font-size: 20px;">
                  Please select a day to view more details
                </ion-label>
              </ion-item>
            </ion-list>
          </ng-template>
        </ng-container>
        <ng-template #loadingHolidays>
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-xl="10" offset-xl="1">
                <ion-skeleton-text animated style="width: 100%; line-height: 300px"></ion-skeleton-text>
                <ion-list>
                  <ion-item lines="none">
                    <ion-label class="colored-text text-bold">
                      <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
                    </ion-label>
                    <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
                  </ion-item>
                  <ion-item>
                    <ion-label class="colored-text text-bold">
                      <ion-skeleton-text animated style="width: 20%; line-height: 10px"></ion-skeleton-text>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
