page-addfreeslots {

    .item{
        font-size: 1.3rem;
        height: 40px;
    }
    .or{
        color: #a1c1e7;
    }

    .secondcard{
        margin-bottom: 18px !important;
    }

    .remove-card{
        width: 22px;
        top: -65px;
        height: 21px;
        background-color: #FF0000 ;
    }

    .add-card{
        top: -15px;
        left: 412px;
        width: 30px;
        height: 30px;
    }

    .item-selectdate{
        font-size: 1.4rem;
        height: 70px;
    }

    .item-repeatday{
        height: 85px;
    }

    .fab[mini] {
        margin: 8px;
        width: 30px;
        height: 30px;
        line-height: 30px;

    }

    .label[stacked] {
        font-size: 1.4rem;
    }


    .M {
        left: -53px;
        top: 22px;
        background: transparent;
        color: black;
        border: 1px solid #b4b4b4;
    }

    .Tu {
        left: -3px;
        top: 22px;
        background: transparent;
        color: black;
        border: 1px solid #b4b4b4;
    }

    .W {
        left: 51px;
        top: 22px;
        background: transparent;
        color: #18c4d5;
        border: 1px solid #b4b4b4;
    }

    .T {
        left: 105px;
        top: 22px;
        background: transparent;
        color: #18c4d5;
        border: 1px solid #b4b4b4;
    }

    .F {
        left: 160px;
        top: 22px;
        background: transparent;
        color: black;
        border: 1px solid #b4b4b4;
    }

    .S {
        left: 211px;
        top: 22px;
        background: transparent;
        color: black;
        border: 1px solid #b4b4b4;
    }

    .hide {
        visibility: hidden;
    }
    
    .options {
        width: 43%;
        float: left;
    }
      
    .orclass{
        width: 10%;
        float: left;
    }
    button[ion-button] {
        height: 3em;
        text-transform: capitalize;
    }

}
