<ion-header>
  <ion-toolbar>
    <ion-title>Staff Directory</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="400" pullMin="60" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list lines="none" style="margin-bottom: 0px">
    <ion-item>
      <ion-searchbar [(ngModel)]="term" placeholder="Search (e.g. 'rasodin', 'ras', '5105', ...)">
      </ion-searchbar>
    </ion-item>
    <ion-item *ngIf="staffType$ | async as staffTypes">
      <ion-label floating>Functional Area</ion-label>
      <ion-select [(ngModel)]="dept" interface="popover">
        <ion-select-option selected></ion-select-option>
        <ion-select-option *ngFor="let type of staffTypes"
          [innerHTML]="type.toUpperCase()" [value]="type"></ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ng-template let-staffs [ngIf]="staff$ | async">
    <ion-virtual-scroll [items]="staffs | department:dept | fuse:term:options"
      [trackBy]="trackById" approxItemHeight="68px">
      <ion-item *virtualItem="let staff" button [routerLink]="[staff.ID]" style="padding-top: 1px">
        <ion-avatar slot="start">
          <ion-img [src]="'https://d37plr7tnxt7lb.cloudfront.net/' + staff.RefNo + '_64x64.jpg'"
            (ionError)="$event.target.src = 'assets/img/no_img.png'"></ion-img>
        </ion-avatar>
        <ion-text>
          <h2>{{ staff.FULLNAME }}</h2>
          <p>{{ staff.EMAIL }}</p>
        </ion-text>
      </ion-item>
    </ion-virtual-scroll>
  </ng-template>
</ion-content>
