<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Attendance</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top color="primary">
    <ion-segment *ngIf="courses$ | async as courses" [(ngModel)]="selectedIntake" color="light">
      <ion-segment-button *ngFor="let c of courses" [value]="c.INTAKE_CODE" (click)="getAttendance(c.INTAKE_CODE)">
        {{ c.INTAKE_CODE }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content parallax-header>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="cover">
    <circle-progress [percent]="percent" radius="60" outerStrokeWidth="7" innerStrokeWidth="4" [outerStrokeColor]="averageColor"
      innerStrokeColor="#FFFFFF" titleColor="#FFFFFF" unitsColor="#FFFFFF" animation="true" animationDuration="500" unitsFontSize="20"
      titleFontSize="30" [showSubtitle]="false" [responsive]="true">
    </circle-progress>
  </div>

  <div class="main-content">
    <ion-card *ngFor="let a of attendance$ | async">
      <div class="progress-bar" [style.width]="a.PERCENTAGE + '%'" [style.background]="(a.PERCENTAGE >= 80 && a.PERCENTAGE <= 100) ? '#0dbd53' : '#f04141'"></div>
      <ion-item color="light-shade" class="subj-title">
        {{ a.MODULE_ATTENDANCE }}
      </ion-item>
      <ion-item>
        Classes
        <div item-content>
          {{ (a.TOTAL_CLASSES - a.TOTAL_ABSENT) + '/' + a.TOTAL_CLASSES + ' (' + a.PERCENTAGE + '%)' }}
        </div>
      </ion-item>
      <ion-item>
        Exam Eligibility
        <div item-content [style.font-weight]="'bold'" [style.color]="a.EXAM_ELIGIBILITY === 'Eligible' ? '#0dbd53' : '#f04141'">{{ a.EXAM_ELIGIBILITY }}</div>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
