page-attendance {
  ion-segment {
    display: block;
    white-space: nowrap;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 125px;
      width: auto;
    }
  }

  .scroll-content {
    background-color: map-get($colors, light);
  }

  ion-card-header {
    font-weight: bold;
  }

  .segment-md .segment-button{
    font-size: 1.1em;
  }

  .segment-ios .segment-button{
    font-size: 1.1em;
  }

  .subj-title {
    font-weight: 900;
  }

  .content-ios{
    text-align: center;
  }

  .content-md{
    text-align: center;
  }

}
