page-attendance {
  ion-segment {
    display: block;
    white-space: nowrap;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      display: none;
    }

    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 135px;
      width: auto;
    }
  }

  .segment-md .segment-button{
    font-size: 1.1em;
  }

  .segment-ios .segment-button{
    font-size: 1.1em;
  }

  .subj-title {
    font-size: small;
    font-weight: 500;
  }

  .progress-inner{
    height: 8px;
  }

  .progress-outer[_ngcontent-c0] {
    width: 100px;
    margin: 10px 2%;
    padding: 3px;
    text-align: center;
    background-color: color($colors, 'medium');
    border: 1px solid #dcdcdc;
    color: color($colors, success);
    border-radius: 20px;
  }

  .progress-bar {
    position: relative;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    padding: 3px;
  }

  .cover{
    height: 200px;
    background: rgb(77,169,255);
    background: linear-gradient(150deg, rgba(77,169,255,1) 0%, rgba(148,233,186,1) 100%);
  }

  ion-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  .item-header{
    font-size: small;
    font-weight: 500;
  }

  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
  }
}
