/* Settings font size
  =========================================*/
$settings-font-size-header: 24px;
$settings-font-size-button: 16px;
$settings-font-size-input-field: 14px;
$settings-font-size-input-placeholder: 14px;
$settings-font-size-description: 0.8em;
$settings-font-size-label: 10px;

/* Settings font weight
  =========================================*/
$settings-font-weight-header: 300;
$settings-font-weight-button: 700;
$settings-font-weight-input-field: 400;
$settings-font-weight-input-placeholder: 400;
$settings-font-weight-description: 400;
$settings-font-weight-label: 600;

/* Settings text color
  =========================================*/
$settings-text-color-header: #cccccc;
$settings-text-color-button: #ffffff;
$settings-text-input-color: #242424;
$settings-text-input-placeholder: #cccccc;
$settings-text-color-description: #242424;
$settings-text-color-description-links: #687dfc;
$settings-text-label-color: #ff0000;

/* Content
  ===============================*/
ion-content {
  position: relative;
  --background: #fafafa !important; // always light theme
}

ion-item {
  // always light theme
  --background: #f5f5f5 !important;
  --color: #454343 !important;
  --button-background-activated: #e0e0e0 !important;
  --border-color: #e0e0e0 !important;
}

.main-grid {
  padding-top: constant(safe-area-inset-top); //for iOS 11.2
  padding-top: env(safe-area-inset-top); //for iOS 11.1
}

.btn_center {
  margin: 0 auto;
  width: 40%;
  display: block;
}

ion-grid {
  min-height: 100%;
}

[header] {
  flex: 1;
}

/* Settings logo
    ===============================*/
[logo] {
  margin-bottom: 20px;
}

/* Settings title
    ===============================*/
h1,
h2 {
  color: $settings-text-color-header;
  font-size: $settings-font-size-header;
  font-weight: $settings-font-weight-header;
  line-height: 29px;
  font-size: 26px;
  text-align: center;
}

.title-text-wrapper {
  margin: 15px 0 !important;
}

strong {
  display: block;
}

/* Settings form
    ===============================*/
ion-input {
  padding-left: 16px !important;
  --background: transparent;
}

/* Settings input-field
      ===============================*/
[input-field] {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #cccccc;
}

[input-field] .item:nth-last-child(1) .item-inner {
  border-bottom: none !important;
}

[input-field] .item-block {
  overflow: visible !important;
}

ion-item {
  --ion-background-color: transparent;
}

ion-item ion-label:not(.web) {
  position: absolute;
  right: 0;
  bottom: 0;
  color: $settings-text-label-color !important;
  font-size: $settings-font-size-label;
  font-weight: $settings-font-weight-label;
  line-height: 17px;
  margin-right: 10px;
}

ion-item .item-inner {
  display: block !important;
  overflow: visible !important;
  border-bottom: 1px solid #cccccc !important;
  box-shadow: none !important;
}

/* Settings text-input
        ===============================*/
.text-input {
  color: $settings-text-input-color;
  font-size: $settings-font-size-input-field;
  font-weight: $settings-font-weight-input-field;
  width: 100% !important;
  margin: 19px 20px;
}

/* Settings input-placeholder
        ===============================*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $settings-text-input-placeholder !important;
  font-size: $settings-font-size-input-placeholder !important;
  font-weight: $settings-font-weight-input-placeholder !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $settings-text-input-placeholder !important;
  font-size: $settings-font-size-input-placeholder !important;
  font-weight: $settings-font-weight-input-placeholder !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $settings-text-input-placeholder !important;
  font-size: $settings-font-size-input-placeholder !important;
  font-weight: $settings-font-weight-input-placeholder !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $settings-text-input-placeholder !important;
  font-size: $settings-font-size-input-placeholder !important;
  font-weight: $settings-font-weight-input-placeholder !important;
}

/*Settings description
      ===============================*/
[description] {
  margin: 20px 0;
}

[description] a {
  color: $settings-text-color-description-links;
  font-size: $settings-font-size-description;
  font-weight: $settings-font-weight-description;
  text-decoration: none;
}

[description] p {
  color: $settings-text-color-description;
  font-size: $settings-font-size-description;
  font-weight: $settings-font-weight-description;
  line-height: 13px;
}

/* Settings full button - Login button
      ===============================*/
.login-button {
  display: block;
  min-height: 50px;
  border-radius: 50px;
  margin-top: 25px;
  color: $settings-text-color-button;
  font-size: $settings-font-size-button;
  font-weight: $settings-font-weight-button;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16) !important;
}

/* Responsive for tablet
 ===============================*/
@media (min-width: 576px) {
  ion-grid {
    position: relative;
  }

  .title-text-wrapper {
    margin: 30px 0 !important;
  }

  h1,
  h2 {
    line-height: 40px !important;
    font-size: 37px;
    text-align: left;
  }

  form {
    margin-top: 0 !important;
  }
}


// Web Version
.web-grid {
  .logo {
    max-height: 100%;
    max-width: 100%;
  }

  .system-name {
    position: absolute;
    bottom: 30px;

    h1 {
      font-size: 4.2rem;
      line-height: 95px !important;
      font-weight: bold;
      text-shadow: 1px 1px 2px #2b6f29, -1px -1px 2px #2b6f29;
    }

    h2 {
      font-size: 2.2rem;
      line-height: 39px;
    }
  }

  .full-screen-section {
    height: 100vh;
  }

  .image-background {
    background-image: url('../../../assets/img/apu.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(47, 48, 51, 0.5);
    border: 10px 10px 10px 1px;
    z-index: 2;
  }

  .blue-background {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 24%, rgba(9, 57, 107, 1) 84%);
  }

  .login-section {
    .background-height {
      height: 100vh;

      div.login-form-container {
        background: rgba(29, 71, 94, 0.42);
        box-shadow: 0px 0px 1rem 0px #fff;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:before {
          content: "";
          position: absolute;
          background: inherit;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }


        .avatar-container {
          margin: auto;

          ion-avatar {
            padding: 4px;
            border: 3px solid #B1ADAD;
            margin: auto;
            height: 90px;
            width: 90px;
          }
        }


        .input-container {
          p {
            margin-bottom: 4px;
            color: #FFFFFF !important;
          }

          ion-input {
            color: #091a26 !important;
            overflow: hidden;
            border-radius: 10px;

            &:before {
              content: "";
              position: absolute;
              background: inherit;
              z-index: -1;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              box-shadow: inset 0 0 2000px rgba(222, 227, 240, 0.56);
              filter: blur(2px);
            }

            &.passowrd-input {
              position: relative;

              .eye-button {
                z-index: 200;
                position: absolute;
                top: 0px;
                right: 10px;

                .show-password {
                  color: rgba(29, 71, 94, 1);
                }
              }
            }
          }
        }

        .login-button-container {
          margin-top: 25px;

          ion-button {
            --border-radius: 9px;
          }
        }
      }
    }
  }
}



// Slider

.slider-section {
  .wrapper {
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 1;

    .content {
      color: white;
      position: absolute;
      top: 22%;
      width: 90%;
      left: 9%;
      z-index: 5;

      .section-header {
        font-size: 3.9em;
        word-spacing: 9999rem;
        word-wrap: normal;
      }

      ion-card {
        border-radius: 20px;

        .slider-img {
          width: 100%;
          height: 490px;
          object-fit: cover;
        }

        .slider-title {
          color: #cc2b5e;
          margin-top: 5px;
        }

        .slider-subtitle {
          margin-bottom: 8px;
        }
      }


      .swiper-button-prev {
        left: -30px;
      }

      .swiper-button-next {
        right: -30px;
      }

      .swiper-button-next,
      .swiper-button-prev {
        background-image: none !important;

        ion-icon {
          // --color: red;
          color: #cc2b5e;
        }
      }
    }

    .background-shape {
      background: #cc2b5e;
      background: linear-gradient(30deg,
          #cc2b5e 0%,
          #753a88 66%);
      width: 100%;
      height: 72%;
      transform: skewY(-15deg);
      border-radius: 80px;
      position: absolute;
      top: -2vh;
      left: 7%;
      z-index: 1;
    }
  }
}

.news-section {
  .wrapper {
    width: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 1;

    .content {
      // color: white;
      position: absolute;
      // top: 22%;
      // width: 90%;
      // left: 9%;
      z-index: 5;
      height: 100%;

      ion-row.content-wrapper{
        height: 100vh;
        ion-col{
          margin: auto;
        }
      }

      .section-header {
        font-size: 3.9em;
        word-spacing: 9999rem;
        word-wrap: normal;
      }
    }

    .background-shape {
      background: linear-gradient(30deg, #cc2b5e 0%, #753a88 66%);
      width: 110%;
      height: 50%;
      transform: skewY(0deg);
      border-radius: 80px;
      position: absolute;
      top: 25vh;
      left: -5%;
      z-index: 1;
    }
  }
}

.margin-auto {
  margin: auto 0;
}

.scroll-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.scroll-pannel {
  width: 30px;
  border-radius: 100px;
  right: 35px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 4px 9px 0 rgba(43, 43, 49, .1), 0 7px 14px 0 rgba(43, 43, 49, .13);
  transition: right 0.5s;
  position: fixed;
  z-index: 1000 !important;
  margin-top: -32px;
  top: 46%;
  opacity: 1;
  transform: translate3d(0, 0, 0);

  .scroll-pannel-item {
    padding: 10px 10px;
    display: block;
    position: relative;
    z-index: 1001;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;

    span {
      border-radius: 50%;
      position: absolute;
      z-index: 1;
      height: 6px;
      width: 6px;
      box-shadow: inset 0 0 0 6px rgba(0, 0, 0, 0.4);
      left: 50%;
      top: 50%;
      display: block;
      margin: -3px 0 0 -3px;
      -webkit-transition: -webkit-transform 0.1s ease-in-out, background-color 0.2s ease 0.3s, box-shadow 0.25s ease-out;
      -moz-transition: transform 0.1s ease-in-out, background-color 0.2s ease 0.3s, box-shadow 0.25s ease-out;
      -o-transition: transform 0.1s ease-in-out, background-color 0.2s ease 0.3s, box-shadow 0.25s ease-out;
      transition: transform 0.1s ease-in-out, background-color 0.2s ease 0.3s, box-shadow 0.25s ease-out;
      box-shadow: inset 0 0 0 8px rgba(0, 0, 0, 0.3);
    }

    &.active {
      span {
        background-color: var(--ion-color-success) !important;
      }
    }
  }
}
