<ion-menu [content]="mainContent" id="menu1">
  <ion-content id="side-menu21" class="side-menu-gradient-after-login" color = "menu-background">
    <div id="menu-info">
      <img class="user_photo" [src]="user_photo"
        onerror="this.src='assets/img/profile.svg'" alt="Avatar">
      <p *ngIf="user_profile$ | async as user_profile">{{user_profile[0].NAME}}</p>
    </div>
    <ion-list id="menu-list1" no-lines>
      <ion-item menuClose  *ngFor='let p of pages' (click) = 'openPage(p)' color="none"  class="side-menu-item" [class.activeHighlight] = 'checkActive(p)' >
        <ion-icon item-left [name] = 'p.icon'></ion-icon>
        {{p.title}}
      </ion-item>
      <ion-item color="none" menuClose="" on-click="logOut()" id="menu-list-item8" class="side-menu-item">
          <ion-icon name="log-out" item-left></ion-icon>
          Logout
        </ion-item> 
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>
