.side-menu-background {
  background-color: map-get($colors, menu-backgroud);
}

.side-menu-item {
  background: none;
  color: #292525;
  font-weight: 600;
  height: 50px;
}

.activeHighlight {
  background-color: map-get($colors, highlighter);
}

.spacer {
  width: 10px;
  height: 10px;
}

.spacer-5 {
  width: 10px;
  height: 3px;
}

.ion-icon {
  color: color($colors, primary);
}

.ion-col {
  margin-top: 0px;

  .p {
    font-size: 2em;
    padding-top: 5px;
  }
}

#menu-info {
  background-color: color($colors, primary);
  height: 150px;
  padding-top: 10px;

  img {
    display: block;
    text-align: left;
    border-radius: 50%;
    border: 2px solid map-get($colors, foreground);
    width: 60px;
    height: 70px;
    margin-left: 16px;
  }

  p {
    color: map-get($colors, foreground);
    text-align: left;
    letter-spacing: 0.3px;
    margin-top: 10px;
    margin-left: 16px;
    font-weight: 500;
  }
}
