$SIDEMENU_BOTTOM: #2c2a28;
$SIDEMENU_TRANSPARENCY: rgba(255, 255, 255, 0.4);
$ionicons-font-path: "../lib/ionic/fonts" !default;

.side-menu-gradient-after-login {
  background: $SIDEMENU_BOTTOM;
}

.side-menu-item {
  background: none;
  color: white;
  font-weight: 500;
  border: none;
  height: 50px;

  .item-content {
    background: none;

    &.activated {
      background: $SIDEMENU_TRANSPARENCY;
    }
  }

  &.active-page-highlight {
    .item-content {
      background: $SIDEMENU_TRANSPARENCY;
    }
  }
}

.side-menu-item-logout {
  background: #ff4500;
  color: white;
  font-weight: 500;
  border: 0px;
  height: 50px;

  .item-content {
    background: none;

    &.activated {
      background: $SIDEMENU_TRANSPARENCY;
    }
  }

  &.active-page-highlight {
    .item-content {
      background: $SIDEMENU_TRANSPARENCY;
    }
  }
}

.activeHighlight {
  background-color: map-get($colors, primary);
}

#menu-info {
  height: 150px;
  background: url(../assets/img/back2.jpg) 100%;
  

  * {
    margin: 0 3ex 1ex;
  }

  img {
    display: block;
    text-align: center;
    border-radius: 50%;
    border: 3px solid $SIDEMENU_TRANSPARENCY;
    width: 70px;
    height: auto;
    margin:auto;
  }

  p {
    font-weight: bold;
    color: map-get($colors, foreground);
    text-align: center;
    margin: auto;
  }
}
