.back-btn:hover {
  padding: 4px 8px;
  background-color: rgba(4, 54, 95, 0.925);
  color: white;
  border-radius: 5px;
}

.otp {
  display: inline-block;
  background-color: #eeeeee;
  font-size: 48px;
  margin: 5px 9px;
  padding: 12px;
  padding-bottom: calc(12px - 5px);
  border-bottom: 5px solid #bcbcbc;
  font-family: 'Hack', 'Iconsolata', monospace;
}

.stateA {
  background-color: #e57373;
}

.stateL {
  background-color: #fff176;
}

.stateP {
  background-color: #81c784;
}
