<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn" defaultHref="/attendix/classes"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Take Attendance</ion-title>
    <ion-buttons slot="end">
      <ion-button class="#" defaultHref="#">End Session</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="otp$ | async as otp">
      <ion-col size="8">
        <ion-card class="cols">
          <ion-card-content>
            <qrcode *ngIf="otp" [qrdata]="otp" level="H"></qrcode>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="cols">
          <ion-card-header>
            <ion-card *ngFor="let c of otp | chars" style="display: inline-block">
              {{ c }}
            </ion-card>
          </ion-card-header>
          <ion-card-content>
            <ion-list *ngFor="let marked of lastMarked$ | async">
              <ion-item>
                {{ marked }}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
