<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back-btn" defaultHref="/attendix/classes"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Take Attendance</ion-title>
    <ion-buttons slot="end">
      <ion-button class="#" defaultHref="#">End Session</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-card class="cols">
          <ion-card-content>
            <qrcode [qrdata]="otp$ | async" level="H"></qrcode>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="cols">
          <ion-card-header color="medium">
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
