page-r-esults {
  ion-content ion-card {
    ion-card-header {
      background: color($colors, secondary);
    }

    .item {
      background-color: #cfd8dc;
    }

    ion-label {
      font-size: 90%;
      font-weight: lighter !important;
    }
  }

  .subj-title{
    font-weight: 900;
  }

  ion-segment {
    display: block;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    ion-segment-button.segment-button {
        display: inline-block;
        min-width: 100px;
        width: auto;
    }
}

.activeHighlight {
  background-color: map-get($colors, active_highlight);
}

}
