<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Results
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content id="page3">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="seg" color="primary">
    <ion-segment-button *ngFor="let result of respond4" [value]="result.INTAKE_CODE" style="font-size:1.0rem;">
      {{result.INTAKE_CODE}}
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let res of respond5">
    <ion-card-header>
      {{res.MODULE_DESCRIPTION}}
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-label>Grade</ion-label>
        <div item-content>{{ res.GRADE || 'N/A' }}</div>
      </ion-item>
      <ion-item>
        <ion-label>Grade Point</ion-label>
        <div item-content>{{ res.GRADE_POINT || 'N/A' }}</div>
      </ion-item>
      <ion-item *ngIf="res.INTERNAL_RESULT_RELEASE_DATE">
        <ion-label>Internal Result Release Date</ion-label>
        <div item-content>{{ res.INTERNAL_RESULT_RELEASE_DATE }}</div>
      </ion-item>
      <ion-item *ngIf="res.RECOMMENDATION">
        <ion-label>Recommendation</ion-label>
        <div item-content>{{ res.RECOMMENDATION }}</div>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
