<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            RESULTS
        </ion-title>
    </ion-navbar>
    <div class="spacer" style="width:300px;height:10px;" id="lOGIN-spacer8"></div>
    <ion-segment [(ngModel)]="seg" color="primary2">
        <ion-segment-button value="lev2">
            UC2F1609SE
        </ion-segment-button>
        <ion-segment-button value="lev1">
            UC1F1509SE
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content [ngSwitch]="seg" padding id="page3" style="background-color:#C8DAE8;">
    <div *ngFor = "let result of resultList">
    <div *ngSwitchCase="'lev2'" id="rESULTS-container1">
        <ion-card>
            <ion-list id="rESULTS-list5">
                <ion-item color="resultsCard" id="rESULTS-list-item13">
                    {{result.SubjectName[0].value}}
                </ion-item>
                <ion-item id="rESULTS-list-item-container5" color = "segment">
                    <div id="rESULTS-markdown8" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            Result:
                            <span style="float:right; text-align:right;">
                                <strong>
                                    {{result.result[0].value}}
                            </strong>
                            </span>
                        </p>
                        <br>
                    </div>
                    <div id="rESULTS-markdown9" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            Grade Point:
                            <span style="float:right; text-align:right;">
                                <strong>{{result.GradePoint[0].value}}</strong>
                            </span>
                        </p>
                        <br>
                    </div>
                    <div id="rESULTS-markdown10" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            Internal Result Release Date:
                            <span style="float:right; text-align:right;">
                                <strong>{{result.InternalResultReleaseDate[0].value}}</strong>
                            </span>
                        </p>
                        <br>
                    </div>
                    <div id="rESULTS-markdown11" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            Recommendation:
                            <span style="float:right; text-align:right;">
                                <strong>{{result.Recommendation[0].value}}</strong>
                            </span>
                        </p>
                    </div>
                </ion-item>
            </ion-list>
        </ion-card>
    </div>
    </div>
    <div *ngFor = "let result2 of resultList2">
    <div *ngSwitchCase="'lev1'" id="rESULTS-container2">
        <ion-card>
            <ion-list id="rESULTS-list6">
                <ion-item color="resultsCard" id="rESULTS-list-item14">
                    {{result2.SubjectName[0].value}}
                </ion-item>
                <ion-item id="rESULTS-list-item-container6" color = "segment">
                    <div id="rESULTS-markdown8" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            Result:
                            <span style="float:right; text-align:right;">
                                <strong>{{result2.result[0].value}}</strong>
                            </span>
                        </p>
                        <br>
                    </div>
                    <div id="rESULTS-markdown9" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            Grade Point:
                            <span style="float:right; text-align:right;">
                                <strong>{{result2.GradePoint[0].value}}</strong>
                            </span>
                        </p>
                        <br>
                    </div>
                    <div id="rESULTS-markdown10" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            Internal Result Release Date:
                            <span style="float:right; text-align:right;">
                                <strong>{{result2.InternalResultReleaseDate[0].value}}</strong>
                            </span>
                        </p>
                        <br>
                    </div>
                    <div id="rESULTS-markdown11" class="show-list-numbers-and-dots">
                        <p style="margin-top:0px;color:#000000;">
                            Recommendation:
                            <span style="float:right; text-align:right;">
                                <strong>{{result2.Recommendation[0].value}}</strong>
                            </span>
                        </p>
                    </div>
                </ion-item>
            </ion-list>
            </ion-card>
            </div>
            </div>
            </ion-content>