ion-card {
    ion-item {
        margin-top: 10px;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .text {
        margin-top: 20px;
    }
    
    p, h5, ion-label {
        color: var(--secondary-text-color) !important;
    }

    ion-grid {
        padding: 10px !important;
    }
    

    ion-card-header {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        border-bottom: 2px solid;
    }

    a {
        text-decoration: underline;
    }

    ion-input, ion-textarea {
        padding-left: 5px !important;
    }
}

.form-input {
    border-radius: 7px;
    background: var(--main-bg-color);
    padding: 3px 10px !important;
    margin-top: 10px;
    border: 1px solid var(--tertiary-bg-color);
    min-height: 40px;
  }
