<ion-header>
  <ion-toolbar>
    <ion-title>Fees</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-no-padding">
    <ng-template let-totalSummary [ngIf]="totalSummary$ | async" [ngIfElse]="loadingTotalSummary">
      <ion-card class="total-summary ion-padding" [style.color]="
          totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
        " [style.boxShadow]="
          totalSummary[0].TOTAL_OUTSTANDING == 0
            ? '1px 1px 2px #0dbd53, -1px -1px 2px #0dbd53'
            : '1px 1px 2px #f04141, -1px -1px 2px #f04141'
        ">
        <ion-item class="total-summary" [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          " lines="none">
          Total Payable
          <ion-note [style.color]="
              totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
            " slot="end">{{ (totalSummary[0]?.TOTAL_PAYABLE || 0) | currency:'MYR':'RM' }}</ion-note>
        </ion-item>
        <ion-item class="total-summary" [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          " lines="none">
          Total Paid
          <ion-note [style.color]="
              totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
            " slot="end">{{ (totalSummary[0]?.TOTAL_PAID || 0) | currency:'MYR':'RM' }}</ion-note>
        </ion-item>
        <ion-item class="total-summary" [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          " lines="none">
          Total Outstanding
          <ion-note [style.color]="
              totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
            " slot="end">{{ (totalSummary[0]?.TOTAL_OUTSTANDING || 0) | currency:'MYR':'RM' }}</ion-note>
        </ion-item>
        <ion-item class="total-summary" [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          " lines="none">
          Total Overdue
          <ion-note [style.color]="
              totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
            " slot="end">{{ (totalSummary[0]?.TOTAL_OVERDUE || 0) | currency:'MYR':'RM' }}</ion-note>
        </ion-item>
        <ion-item class="total-summary" [style.color]="
            totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
          " lines="none">
          Fine
          <ion-note slot="end" [style.color]="
              totalSummary[0].TOTAL_OUTSTANDING == 0 ? '#0dbd53' : '#f04141'
            ">{{ (totalSummary[0]?.FINE || 0) | currency:'MYR':'RM' }}</ion-note>
        </ion-item>
      </ion-card>
    </ng-template>

    <ng-template #loadingTotalSummary>
      <ion-card>
        <ion-item class="total-summary" lines="none">
          <ion-skeleton-text width="100%" style="height: 46px;" animated></ion-skeleton-text>
        </ion-item>
        <ion-item class="total-summary" lines="none">
          <ion-skeleton-text width="100%" style="height: 46px;" animated></ion-skeleton-text>
        </ion-item>
        <ion-item class="total-summary" lines="none">
          <ion-skeleton-text width="100%" style="height: 46px;" animated></ion-skeleton-text>
        </ion-item>
        <ion-item class="total-summary" lines="none">
          <ion-skeleton-text width="100%" style="height: 46px;" animated></ion-skeleton-text>
        </ion-item>
        <ion-item class="total-summary" lines="none">
          <ion-skeleton-text width="100%" style="height: 46px;" animated></ion-skeleton-text>
        </ion-item>
      </ion-card>
    </ng-template>

    <ng-template let-bankDrafts [ngIf]="bankDraft$ | async" [ngIfElse]="loadingSegment">
      <ion-segment [(ngModel)]="selectedSegment">
        <ion-segment-button value="Summary">Summary</ion-segment-button>
        <ion-segment-button *ngIf="bankDrafts[0].BANKDRAFT_AMOUNT !== 0" value="Bank Draft">SU Fees</ion-segment-button>
        <ion-segment-button value="Details">Details</ion-segment-button>
      </ion-segment>
    </ng-template>

    <ng-template #loadingSegment>
      <ion-item lines="none">
        <ion-skeleton-text width="100%" style="height: 48px;" animated></ion-skeleton-text>
      </ion-item>
    </ng-template>

    <ng-container [ngSwitch]='selectedSegment'>

      <ng-container *ngSwitchCase="'Summary'">
        <ng-template let-summaries [ngIf]="summary$ | async" [ngIfElse]="loadingSummary">
          <ion-card *ngFor="let summary of summaries">
            <h4 class="ion-margin">{{ summary.INVOICE_DESCRIPTION }}</h4>
            <ion-card-content class="ion-no-padding">
              <ion-item lines="none">
                Due Date
                <ion-note color="text-color" slot="end">
                  {{ summary.PAYMENT_DUE_DATE || 'N/A' }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Amount Payable
                <ion-note color="text-color" slot="end">
                  {{ (summary.PAYABLE_AMOUNT | currency:'MYR':'RM') || 'N/A' }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Total Collected
                <ion-note color="text-color" slot="end">
                  {{ (summary.TOTAL_COLLECTED | currency:'MYR':'RM') || 'N/A' }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Outstanding
                <ion-note color="text-color" slot="end">
                  {{ (summary.OUTSTANDING | currency:'MYR':'RM') || 'N/A' }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Fine
                <ion-note color="text-color" slot="end">
                  {{ (summary.FINE | currency:'MYR':'RM') || 'N/A' }}
                </ion-note>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ng-template>
        <ng-template #loadingSummary>
          <ion-card>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px;" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px;" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px;" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px;" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px;" animated></ion-skeleton-text>
            </ion-item>
          </ion-card>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'Bank Draft'">
        <ng-template let-bankDrafts [ngIf]="bankDraft$ | async" [ngIfElse]="loadingBankDraft">
          <ion-card *ngFor="let bankDraft of bankDrafts">
            <ion-list-header>
              {{ bankDraft.COURSE_CODE || 'Course Code' }}
            </ion-list-header>
            <ion-card-content class="ion-no-padding">
              <ion-item lines="none">
                Amount Payable
                <ion-note color="text-color" slot="end">
                  {{ bankDraft.BANKDRAFT_AMOUNT | currency:'GBP' }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Due Date
                <ion-note color="text-color" slot="end">
                  {{ bankDraft.BANKDRAFT_DUE_DATE }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Date Collected
                <ion-note color="text-color" slot="end">
                  {{ bankDraft.DATE_COLLECTED }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Registration Date
                <ion-note color="text-color" slot="end">
                  {{ bankDraft.REGISTRATION_DATE }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Amount Collected
                <ion-note color="success" slot="end">
                  {{ bankDraft.AMOUNT_COLLECTED | currency:'GBP' }}
                </ion-note>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ng-template>
        <ng-template #loadingBankDraft>
          <ion-card>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
          </ion-card>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="'Details'">
        <ng-template let-details [ngIf]="detail$ | async" [ngIfElse]="loadingDetails">
          <ion-card *ngFor="let detail of (details | reverse)">
            <h4 class="ion-margin">{{ detail.ITEM_DESCRIPTION }}</h4>
            <ion-card-content class="ion-no-padding">
              <ion-item lines="none">
                Due Date
                <ion-note color="text-color" slot="end">
                  {{ detail.DUE_DATE }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Amount Payable
                <ion-note color="text-color" slot="end">
                  {{ isNumber(detail.AMOUNT_PAYABLE)
                        ? (detail.AMOUNT_PAYABLE | currency:'MYR':'RM')
                        : detail.AMOUNT_PAYABLE }}
                </ion-note>
              </ion-item>
              <ion-item lines="none">
                Total Collected
                <ion-note slot="end">
                  {{ isNumber(detail.TOTAL_COLLECTED)
                        ? (detail.TOTAL_COLLECTED | currency:'MYR':'RM')
                        : detail.TOTAL_COLLECTED }}
                </ion-note>
              </ion-item>
              <ion-item [style.color]="detail.OUTSTANDING>0 ? 'rgb(240, 65, 65)': ''" lines="none">
                Outstanding
                <ion-note [style.color]="detail.OUTSTANDING>0 ? 'rgb(240, 65, 65)': ''" slot="end">
                  {{ isNumber(detail.OUTSTANDING)
                        ? (detail.OUTSTANDING | currency:'MYR':'RM')
                        : detail.OUTSTANDING }}
                </ion-note>
              </ion-item>
              <ion-item [style.color]="detail.FINE>0 ? 'rgb(240, 65, 65)': ''" lines="none">
                Fine
                <ion-note [style.color]="detail.FINE>0 ? 'rgb(240, 65, 65)': ''" slot="end">
                  {{ isNumber(detail.FINE)
                        ? (detail.FINE | currency:'MYR':'RM')
                        : detail.FINE }}
                </ion-note>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ng-template>
        <ng-template #loadingDetails>
          <ion-card>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
            <ion-item lines="none">
              <ion-skeleton-text width="100%" style="height: 42px" animated></ion-skeleton-text>
            </ion-item>
          </ion-card>
        </ng-template>
      </ng-container>

    </ng-container>
  </div>
</ion-content>