<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Fees</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="(bankDraft$ | async) as bankDrafts; else loadingSegment">
    <ion-segment [(ngModel)]="selectedSegment" (ngModelChange)="segmentValueChanged()">
      <ion-segment-button value="Summary">Summary</ion-segment-button>
      <ion-segment-button *ngIf="bankDrafts[0].BANKDRAFT_AMOUNT !== 0" value="Bank Draft">
        SU Fees
      </ion-segment-button>
      <ion-segment-button value="Details">Details</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ng-template #loadingSegment>
    <ion-toolbar>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-padding-horizontal" size="12" size-md="6" size-lg="4">
            <ion-item lines="none">
              <ion-skeleton-text style="width: 100%; height: 38px;" animated></ion-skeleton-text>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ng-template>

</ion-header>

<ion-content id="fee-content" #content>
  <!-- refresher -->
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="glob-container">
    <ion-grid>
      <ion-row class="ion-margin-top">
        <ion-col size-xs="12" size-md="6" push-md="6">
          <ng-template let-totalSummary [ngIf]="totalSummary$ | async" [ngIfElse]="loadingTotalSummary">
            <ion-card class="content-card" #total_summary_card [ngClass]="{
            'green-total-summary-card': (totalSummary[0].TOTAL_PAYABLE === totalSummary[0].TOTAL_PAID),
            'yellow-total-summary-card': (totalSummary[0].TOTAL_OUTSTANDING > 0),
            'pink-total-summary-card': (totalSummary[0].FINE > 0),
            'red-total-summary-card': (totalSummary[0].TOTAL_OVERDUE > 0)
          }">
              <ion-card-header>
                <ion-card-title class="ion-text-center">Total Summary</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <div style="text-align: center; justify-content: center;">
                  <chart #financialsChartComponent *ngIf="financialsChart.data" [type]="financialsChart.type"
                    [data]="financialsChart.data" [options]="financialsChart.options">
                  </chart>
                </div>
                <div class="ion-padding" style="border-bottom: 1px solid;"></div>
                <ion-row class="ion-margin-top " style="text-align: center;">
                  <ion-col>
                    <ion-text>
                      <h3>Fine</h3>
                    </ion-text>
                    <ion-text *ngIf="totalSummary[0]?.FINE; else noTotalSummaryFine">
                      <h3 class="amount">
                        {{ totalSummary[0]?.FINE | currency:'MYR':'RM' }}
                      </h3>
                    </ion-text>
                    <ng-template #noTotalSummaryFine>
                      <ion-text>
                        <h3 class="amount">
                          N/A
                        </h3>
                      </ion-text>
                    </ng-template>
                  </ion-col>
                  <ion-col class="border">
                    <ion-text>
                      <h3>Overdue</h3>
                    </ion-text>
                    <ion-text *ngIf="totalSummary[0]?.TOTAL_OVERDUE; else noTotalSummaryTotalOverdue">
                      <h3 class="amount">
                        {{ totalSummary[0]?.TOTAL_OVERDUE | currency:'MYR':'RM' }}
                      </h3>
                    </ion-text>
                    <ng-template #noTotalSummaryTotalOverdue>
                      <ion-text>
                        <h3 class="amount">
                          N/A
                        </h3>
                      </ion-text>
                    </ng-template>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-margin-top" style="text-align: center;">
                  <ion-col>
                    <ion-text>
                      <h3>Paid</h3>
                    </ion-text>
                    <ion-text *ngIf="totalSummary[0]?.TOTAL_PAID; else noTotalSummaryTotalPaid">
                      <h3 class="amount">
                        {{ (totalSummary[0]?.TOTAL_PAID || 0) | currency:'MYR':'RM' }}
                      </h3>
                    </ion-text>
                    <ng-template #noTotalSummaryTotalPaid>
                      <ion-text>
                        <h3 class="amount">
                          N/A
                        </h3>
                      </ion-text>
                    </ng-template>
                  </ion-col>
                  <ion-col class="border">
                    <ion-text>
                      <h3>Outstanding</h3>
                    </ion-text>
                    <ion-text *ngIf="totalSummary[0]?.TOTAL_OUTSTANDING; else noTotalSummaryTotalOutstanding">
                      <h3 class="amount">
                        {{ (totalSummary[0]?.TOTAL_OUTSTANDING || 0) | currency:'MYR':'RM' }}
                      </h3>
                    </ion-text>
                    <ng-template #noTotalSummaryTotalOutstanding>
                      <ion-text>
                        <h3 class="amount">
                          N/A
                        </h3>
                      </ion-text>
                    </ng-template>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-margin-top" style="text-align: center;">
                  <ion-col>
                    <ion-text>
                      <h3>Payable</h3>
                    </ion-text>
                    <ion-text *ngIf="totalSummary[0]?.TOTAL_PAYABLE; else noTotalSummaryTotalPayable">
                      <h3 class="amount">
                        {{ totalSummary[0]?.TOTAL_PAYABLE | currency:'MYR':'RM' }}
                      </h3>
                    </ion-text>
                    <ng-template #noTotalSummaryTotalPayable>
                      <ion-text>
                        <h3 class="amount">
                          N/A
                        </h3>
                      </ion-text>
                    </ng-template>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ng-template>

          <ng-template #loadingTotalSummary>
            <ion-card class="content-card">
              <ion-card-header>
                <ion-skeleton-text class="glob-margin-auto" style="width: 50%; height: 20px" animated>
                </ion-skeleton-text>
              </ion-card-header>

              <ion-card-content>
                <loading-spinner size="50px" message="Loading..." style="padding: 20px"></loading-spinner>
                <ion-row class="ion-margin-top">
                  <ion-col>
                    <ion-skeleton-text animated class="glob-margin-auto" style="width: 70%; line-height: 20px;">
                    </ion-skeleton-text>
                  </ion-col>
                  <ion-col>
                    <ion-skeleton-text animated class="glob-margin-auto" style="width: 70%; line-height: 20px;">
                    </ion-skeleton-text>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-margin-top">
                  <ion-col>
                    <ion-skeleton-text animated class="glob-margin-auto" style="width: 70%; line-height: 20px;">
                    </ion-skeleton-text>
                  </ion-col>
                  <ion-col>
                    <ion-skeleton-text animated class="glob-margin-auto" style="width: 70%; line-height: 20px;">
                    </ion-skeleton-text>
                  </ion-col>
                  <ion-col>
                    <ion-skeleton-text animated class="glob-margin-auto" style="width: 70%; line-height: 20px;">
                    </ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ion-col>

        <ion-col size-xs="12" size-md="6" pull-md="6">
          <ng-container [ngSwitch]='selectedSegment'>
            <ng-container *ngSwitchCase="'Summary'">
              <ng-template let-summaries [ngIf]="summary$ | async" [ngIfElse]="loadingSummary">
                <ng-container *ngIf="!summaries[0].MESSAGE else noSummary">
                  <ion-card class="content-card" *ngFor="let summary of summaries">
                    <ion-card-header color="primary">
                      <ion-card-subtitle>{{ summary.INVOICE_DESCRIPTION }}</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content class="ion-no-padding">
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Due Date</h3>
                        </ion-label>
                        <ion-text slot="end" *ngIf="summary.PAYMENT_DUE_DATE; else noSummaryDueDate">
                          <h3 class="glob-text-bold">
                            {{ summary.PAYMENT_DUE_DATE | dateWithTimezone: "EEE, d MMM y" }}
                          </h3>
                        </ion-text>
                        <ng-template #noSummaryDueDate>
                          <ion-text slot="end">
                            <h3 class="glob-text-bold">
                              N/A
                            </h3>
                          </ion-text>
                        </ng-template>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Amount Payable</h3>
                        </ion-label>
                        <ion-text slot="end" *ngIf="summary.PAYABLE_AMOUNT; else noSummaryPayableAmount">
                          <h3 class="glob-text-bold">
                            {{ summary.PAYABLE_AMOUNT | currency:'MYR':'RM' }}
                          </h3>
                        </ion-text>
                        <ng-template #noSummaryPayableAmount>
                          <ion-text slot="end">
                            <h3 class="glob-text-bold">
                              N/A
                            </h3>
                          </ion-text>
                        </ng-template>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Total Collected</h3>
                        </ion-label>
                        <ion-text slot="end" *ngIf="summary.TOTAL_COLLECTED; else noSummaryTotalCollected">
                          <h3 class="glob-text-bold">
                            {{ summary.TOTAL_COLLECTED | currency:'MYR':'RM' }}
                          </h3>
                        </ion-text>
                        <ng-template #noSummaryTotalCollected>
                          <ion-text slot="end">
                            <h3 class="glob-text-bold">
                              N/A
                            </h3>
                          </ion-text>
                        </ng-template>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Outstanding</h3>
                        </ion-label>
                        <ion-text *ngIf="summary.OUTSTANDING; else noSummaryOutstanding"
                          [style.color]="summary.OUTSTANDING > 0 ? '#ffc409': ''" slot="end">
                          <h3 class="glob-text-bold">
                            {{ summary.OUTSTANDING | currency:'MYR':'RM' }}
                          </h3>
                        </ion-text>
                        <ng-template #noSummaryOutstanding>
                          <ion-text slot="end">
                            <h3 class="glob-text-bold">
                              N/A
                            </h3>
                          </ion-text>
                        </ng-template>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Fine</h3>
                        </ion-label>
                        <ion-text *ngIf="summary.FINE; else noSummaryFine"
                          [style.color]="summary.FINE > 0 ? '#eb445a' : ''" slot="end">
                          <h3 class="glob-text-bold">
                            {{ summary.FINE | currency:'MYR':'RM' }}
                          </h3>
                        </ion-text>
                        <ng-template #noSummaryFine>
                          <ion-text slot="end">
                            <h3 class="glob-text-bold">
                              N/A
                            </h3>
                          </ion-text>
                        </ng-template>
                      </ion-item>
                    </ion-card-content>
                  </ion-card>
                </ng-container>
              </ng-template>

              <ng-template #noSummary>
                <ion-card>
                  <ion-card-content>
                    <app-message-with-svg imageUrl="assets/img/search-not-found.svg"
                      messageTitle="Opps! No summary available."
                      messageContent="In the case if you are looking for something else:" wrapperSize="4"
                      wrapperMarginTop="30px" wrapperOffset="4" [advancedMode]="true">
                      <div class="flex-container">
                        <ul class="list-txt-color">
                          <li>Click on the Details button at the top of this window</li>
                        </ul>
                        <p>Still having trouble? No worries! Just click <a [routerLink]="'/feedback'">here</a> and
                          report to
                          us for this issue.</p>
                      </div>
                    </app-message-with-svg>
                  </ion-card-content>
                </ion-card>
              </ng-template>

              <ng-template #loadingSummary>
                <ion-card class="content-card">
                  <ion-card-header>
                    <ion-card-subtitle>
                      <ion-skeleton-text style="width: 70%; height: 15px" animated></ion-skeleton-text>
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 20%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 25%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 30%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 28%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 26%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 24%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 17%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'Bank Draft'">
              <ng-template let-bankDrafts [ngIf]="bankDraft$ | async" [ngIfElse]="loadingBankDraft">
                <ion-card class="content-card" *ngFor="let bankDraft of bankDrafts">
                  <ion-list-header>
                    <ion-label>{{ bankDraft.COURSE_CODE || 'Course Code' }}</ion-label>
                  </ion-list-header>
                  <ion-card-content class="ion-no-padding">
                    <ion-item lines="none">
                      <ion-label color="primary">
                        <h3>
                          Amount Payable
                        </h3>
                      </ion-label>
                      <ion-text slot="end">
                        <h3 class="glob-text-bold">
                          {{ bankDraft.BANKDRAFT_AMOUNT | currency:'GBP' }}
                        </h3>
                      </ion-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label color="primary">
                        <h3>
                          Due Date
                        </h3>
                      </ion-label>
                      <ion-text slot="end">
                        <h3 class="glob-text-bold">
                          {{ bankDraft.BANKDRAFT_DUE_DATE | dateWithTimezone: "EEE, d MMM y"  }}
                        </h3>
                      </ion-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label color="primary">
                        <h3>
                          Date Collected
                        </h3>
                      </ion-label>
                      <ion-text slot="end">
                        <h3 class="glob-text-bold">
                          {{ bankDraft.DATE_COLLECTED | dateWithTimezone: "EEE, d MMM y"  }}
                        </h3>
                      </ion-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label color="primary">
                        <h3>
                          Registration Date
                        </h3>
                      </ion-label>
                      <ion-text slot="end">
                        <h3 class="glob-text-bold">
                          {{ bankDraft.REGISTRATION_DATE | dateWithTimezone: "EEE, d MMM y"  }}
                        </h3>
                      </ion-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label color="primary">
                        <h3>
                          Amount Collected
                        </h3>
                      </ion-label>
                      <ion-text color="success" slot="end">
                        <h3 class="glob-text-bold">
                          {{ bankDraft.AMOUNT_COLLECTED | currency:'GBP' }}
                        </h3>
                      </ion-text>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ng-template>

              <ng-template #loadingBankDraft>
                <ion-card class="content-card">
                  <ion-card-header>
                    <ion-card-subtitle>
                      <ion-skeleton-text style="width: 70%; height: 15px" animated></ion-skeleton-text>
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 20%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 25%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 30%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 28%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 26%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 24%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 17%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ng-template>
            </ng-container>

            <ng-container *ngSwitchCase="'Details'">
              <ion-row>
                <ion-searchbar [(ngModel)]="searchTerm" placeholder="Payment title, due date, amount paid.."
                  showCancelButton="focus">
                </ion-searchbar>
              </ion-row>
              <ng-template let-details [ngIf]="detail$ | async" [ngIfElse]="loadingDetails">
                <div *ngIf="(details | fuse:searchTerm:optionsDetails).length > 0; else notFound">
                  <ion-card class="content-card"
                    *ngFor="let detail of (details | reverse | fuse:searchTerm:optionsDetails)">
                    <ion-card-header color="primary">
                      <ion-card-subtitle>{{ detail.ITEM_DESCRIPTION }}</ion-card-subtitle>
                    </ion-card-header>

                    <ion-card-content class="ion-no-padding">
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Due Date</h3>
                        </ion-label>
                        <ion-text slot="end">
                          <h3 class="glob-text-bold">
                            {{ detail.DUE_DATE | dateWithTimezone: "EEE, d MMM y" }}
                          </h3>
                        </ion-text>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Amount Payable</h3>
                        </ion-label>
                        <ion-text slot="end">
                          <h3 class="glob-text-bold">
                            {{ detail.AMOUNT_PAYABLE | currency:'MYR':'RM' }}
                          </h3>
                        </ion-text>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Total Collected</h3>
                        </ion-label>
                        <ion-text slot="end">
                          <h3 class="glob-text-bold">
                            {{ detail.TOTAL_COLLECTED | currency:'MYR':'RM' }}
                          </h3>
                        </ion-text>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Outstanding</h3>
                        </ion-label>
                        <ion-text [style.color]="detail.OUTSTANDING>0 ? '#ffc409': ''" slot="end">
                          <h3 class="glob-text-bold">
                            {{ detail.OUTSTANDING | currency:'MYR':'RM' }}
                          </h3>
                        </ion-text>
                      </ion-item>
                      <ion-item lines="none">
                        <ion-label color="primary">
                          <h3>Fine</h3>
                        </ion-label>
                        <ion-text [style.color]="detail.FINE>0 ? '#eb445a': ''" slot="end">
                          <h3 class="glob-text-bold">
                            {{ detail.FINE | currency:'MYR':'RM' }}
                          </h3>
                        </ion-text>
                      </ion-item>
                    </ion-card-content>
                  </ion-card>
                </div>
              </ng-template>

              <ng-template #notFound>
                <ion-card>
                  <ion-card-content>
                    <app-message-with-svg imageUrl="assets/img/search-not-found.svg"
                      messageTitle="Opps! Item not found." messageContent="Perhaps you can try this:" wrapperSize="4"
                      wrapperMarginTop="30px" wrapperOffset="4" [advancedMode]="true">
                      <div class="flex-container">
                        <ul class="list-txt-color">
                          <li>Make sure the keyword is matched with one of the items</li>
                          <li>Make sure you have typed a valid item code.</li>
                          <li>Make sure there is no special characters included.</li>
                        </ul>

                        <p>Still having trouble? No worries! Just click <a [routerLink]="'/feedback'">here</a> and
                          report to
                          us for this issue.</p>
                      </div>
                    </app-message-with-svg>
                  </ion-card-content>
                </ion-card>

              </ng-template>

              <ng-template #loadingDetails>
                <ion-card class="content-card" *ngFor="let _ of numberOfSkeletons">
                  <ion-card-header>
                    <ion-card-subtitle>
                      <ion-skeleton-text style="width: 70%; height: 15px" animated></ion-skeleton-text>
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 20%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 25%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 30%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 28%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 26%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 24%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-skeleton-text style="width: 17%; height: 15px" animated></ion-skeleton-text>
                      <ion-skeleton-text slot="end" style="width: 10%; height: 15px" animated></ion-skeleton-text>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ng-template>
            </ng-container>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>