<ion-header>
  <ion-toolbar>
    <ion-title>ATTENDIX</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-card padding>
      <ion-card-header color="tint">
        <ion-card-title>
          One-Time Password (OTP)
        </ion-card-title>
      </ion-card-header>
      <ion-grid class="container">
          <ion-row>
            <ion-col id="rounded">
              <ion-input type="text" name="otp" placeholder="Enter OTP Here"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col id="rounded">
              <ion-button fill="solid" type="submit">Submit</ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card>
  </form>
</ion-content>
