<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Classes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Class code</ion-label>
  <ion-select [(ngModel)]="selClasscode">
    <ion-select-option *ngFor="let classcode of classcode$ | async"
      [value]="classcode" interface="action-sheet">{{ classcode }}</ion-select-option>
  </ion-select>

  <ion-label>Date Time</ion-label>
  <ion-input [(ngModel)]="selDatetime"></ion-input>

  <ion-button (click)="markAttendance">
    Submit
  </ion-button>
</ion-content>
