page-welcome {
    .content_background {
        background-color: #FFFFFF;
    }

    .spacer{
        width:300px;
        height:40px;
    }
    .apu_logo{
        display: block; 
        width: 100%; 
        height: auto; 
        margin: auto;
    }

    h3{
        text-align:center; 
        color:rgb(13, 51, 83);
    }

    p{
        text-align: center;
    }
}
