.margin-auto {
  margin: auto;
}

ion-item>ion-label {
  white-space: normal;
}

.profile-photo {
  margin-top: 16px;
  max-height: 150px;
  max-width: 122px;
  height: 100%;
  border-radius: 15px;
  margin: auto;
}

.link {
  text-decoration: underline !important;
}

@media (max-width: 767px) {
  .hide-on-small {
    display: none;
  }
}
