/* EXTRA SMALL DEVICES - LESS THAN 576px */
@media only screen and (max-width: 575px) {
  .welcome-message-wrapper {
    padding-top: 9px;
  }
}

/* SMALL DEVICES - 576px AND UP */
@media only screen and (min-width: 576px) {
  .welcome-message-wrapper {
    padding-top: 4px;
  }
}

/* MEDIUM DEVICES - 768px AND UP */
@media only screen and (min-width: 768px) {
  .welcome-message-wrapper {
    padding-top: 0px;
  }
}

/* LARGE DEVICES - 992px AND UP */
@media only screen and (min-width: 992px) {
  ion-avatar.dashboard-avatar {
    margin-top: 4px;
  }
}

.masonry-item {
  position: relative;
}

.edit-overlay {
  background: #c6c6c6;
  opacity: 0.4;
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  z-index: 10;
  position: absolute;
  ion-icon {
    cursor: move;
    font-size: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

.hide {
  display: none;
}
