ion-card {
    height: 45%;
    --background: var(--ion-color-primary);
    --color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s;

    ion-card-content {
      transition: background-color .3s;
    }

    .button-icon {
      width: 100%;
      height: 45vw;
    }
  }

  ion-card:hover {
    --background: var(--ion-color-primary-shade);
  }
