<ion-header>
  <ion-toolbar>
    <ion-title>Mentorship</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list">
    <ion-list lines="none" style="margin-bottom: 0px;">
      <ion-item>
        <ion-searchbar [(ngModel)]="search" placeholder="Search (e.g. 'Student Name, ID', 'Intake', 'Programme', ...)"
          showCancelButton="focus" animated>
        </ion-searchbar>
      </ion-item>
      <ion-item>
        <ion-label>Filter</ion-label>
        <ion-select [(ngModel)]="filter" interface="popover">
          <ion-select-option selected></ion-select-option>
          <ion-select-option value="pl">PL</ion-select-option>
          <ion-select-option value="mentor">Mentor</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="ion-padding" *ngIf="(students$ | async) as students; else loadingStudents"
      style="padding-top: 0px !important;">
      <ng-container *ngIf="students.length > 0; else noData">
        <ng-container *ngFor="let student of (students | search:search | filter:filter)">
          <ion-item button details
            [routerLink]="['/', 'mentorship', student.STUDENT_NUMBER, student.INTAKE_CODE, 'view']">
            <ion-avatar slot="start">
              <img src="https://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png">
            </ion-avatar>

            <ion-label>
              <h5 class="name"> {{ student.NAME }} </h5>
              <h3> {{ student.STUDENT_NUMBER }} | {{ student.INTAKE_CODE }} </h3>
              <h3> {{ student.PROGRAMME }} </h3>
            </ion-label>
          </ion-item>
        </ng-container>
      </ng-container>

      <ng-template #noData>
        <ion-card>
          <ion-card-content>
            <app-message-with-svg messageTitle="No students found!"
              messageContent="looks like our magical elves has no data to show" imageUrl="assets/img/empty.svg"
              wrapperOffset="3" wrapperSize="6">
            </app-message-with-svg>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ion-list>

    <!-- Loading -->
    <ng-template #loadingStudents>
      <ion-item style="padding: 10px 20px;" *ngFor="let _ of loadingSkeletons">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>

        <ion-label>
          <h5>
            <ion-skeleton-text animated style="width: 60%; line-height: 20px;"></ion-skeleton-text>
          </h5>
          <h5>
            <ion-skeleton-text animated style="width: 50%; line-height: 15px;"></ion-skeleton-text>
          </h5>
          <h3>
            <ion-skeleton-text animated style="width: 30%; line-height: 15px;"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
    </ng-template>
  </div>
</ion-content>