<ion-header>
  <ion-toolbar>
    <ion-title>Mentorship</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list">
    <ion-list lines="none">
      <ion-item>
        <ion-searchbar [(ngModel)]="search" placeholder="Search (e.g. 'Student Name, ID', 'Intake', 'Programme', ...)"
          showCancelButton="focus" animated>
        </ion-searchbar>
      </ion-item>
    </ion-list>

    <ion-list lines="none">
      <ion-item>
        <ion-label>Filter</ion-label>
        <ion-select [(ngModel)]="filter" interface="popover">
          <ion-select-option selected></ion-select-option>
          <ion-select-option value="mentor">PL</ion-select-option>
          <ion-select-option value="pl / mentor">PL / Mentor</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="ion-padding" *ngIf="(students$ | async) as students; else loadingStudents">
      <ng-container *ngIf="students.length > 0; else noData">
        <ng-container *ngIf="(students | search:search | filter:filter).length > 0; else noData">
          <ion-item 
            button details 
            *ngFor="let student of (students | search:search | filter:filter)"
            [routerLink]="['/', 'mentorship', student.STUDENT_NUMBER, student.INTAKE_CODE, 'view']">

            <ion-label>
              <h5 class="name"> {{ student.NAME }} </h5>
              <h3> {{ student.STUDENT_NUMBER }} | {{ student.INTAKE_CODE }} </h3>
              <h3> {{ student.PROGRAMME }} </h3>
            </ion-label>
          </ion-item>
        </ng-container>
      </ng-container>

      <ng-template #noData>
        <app-message-with-svg messageTitle="No student found!"
          messageContent="looks like our magical elves has no data to show" wrapperOffset="3" wrapperSize="6">
        </app-message-with-svg>
      </ng-template>
    </ion-list>

    <!-- Loading -->
    <ng-template #loadingStudents>
      <ion-item *ngFor="let _ of loadingSkeletons">
        <ion-label>
          <h5>
            <ion-skeleton-text animated style="width: 70%; line-height: 20px;"></ion-skeleton-text>
          </h5>
          <h5>
            <ion-skeleton-text animated style="width: 60%; line-height: 15px;"></ion-skeleton-text>
          </h5>
          <h3>
            <ion-skeleton-text animated style="width: 40%; line-height: 15px;"></ion-skeleton-text>
          </h3>
        </ion-label>
      </ion-item>
    </ng-template>
  </div>
</ion-content>