loading-spinner {
  .loader {
    width: 80px !important;
    height: 80px !important;
    left: calc(50% - 40px);
    top: -10px;
  }
}

.subj-title {
  font-size: small;
  font-weight: 500;
}

.progress-inner {
  height: 8px;
}

.progress-outer[_ngcontent-c0] {
  width: 100px;
  margin: 10px 2%;
  padding: 3px;
  text-align: center;
  background-color: var(--ion-color-medium);
  border: 1px solid #dcdcdc;
  color: var(--ion-color-success);
  border-radius: 20px;
}

.progress-bar {
  position: relative;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  padding: 1.5px;
}

.cover {
  padding-top: 10px;
  height: 200px;
  width: 100%;
  margin-bottom: -7px;
  overflow: hidden;
}

.circle-progress {
  display: block;
  margin: auto;
}

.current {
  position: absolute;
  color: var(--ion-color-light);
  font-weight: 300;
  line-height: 1;
  top: 90px;
  bottom: auto;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 3em;
}

.item-header {
  font-size: small;
  font-weight: 500;
}

ion-spinner * {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

// UPPER PART - TOTAL OVERALL ATTENDANCE (ANIMATIONS)
#widget-value {
  font-size: 2em;
  font-weight: 600;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 69px;
}

#widget-content {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

// START WAVES' STYLES
.fill {
  animation-name: fillAction;
  animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#waveShape {
  animation-name: waveAction;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1.7s;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes fillAction {
  0% {
    transform: translate(0, 90px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@-moz-keyframes fillAction {
  0% {
    transform: translate(0, 90px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes fillAction {
  0% {
    transform: translate(0, 90px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@-webkit-keyframes waveAction {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-120px, 0);
  }
}

@-moz-keyframes waveAction {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-120px, 0);
  }
}

@keyframes waveAction {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-120px, 0);
  }
}
// END WAVES' STYLES

// START BLUR CLASS
.blur {
  overflow: hidden;
  position: absolute;
  height: 200px;
  top: 0;
  left: 0px;
  right: -50px;
  bottom: -50px;
  width: 100%;
  opacity: 0.9;
}

.blur:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
}
// END BLUR CLASS

ion-skeleton-text {
  height: 140px;
}
