<ion-header>
  <ion-navbar color="primary">
    <ion-title>My Consultation Hour</ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <ng-template let-slots [ngIf]="slots$ | async" [ngIfElse]="loadingUpComLec">
    <ng-template [ngIf]="slots && slots.length > 0" [ngIfElse]="nodata">
      <ion-card class="card card-ios" *ngFor="let slot of slots" [ngClass]="{'UnAvailablecard':slot.status == 'Unavailable', 'bookedcard':slot.status == 'Booked', 'Availablecard':slot.status == 'Available', 'closedcard':slot.status == 'Clossed', 'passeCard':slot.status == 'Booked' && dateString > slot.date}">
        <ion-card-header *ngIf="slot.status == 'Booked'">
          <button *ngIf="slot.status == 'Booked'" ion-button round small style="float:right;" (click)="gotoChat()">Chat</button>
          {{slot.datetime}}
        </ion-card-header>

        <ion-card-content>
          <ion-label no-margin *ngIf="slot.status == 'Booked'">
            <ion-icon padding-right name="time"></ion-icon>
            <b>{{ slot.time }} - {{ slot.endTime }} -- {{slot.date}}</b>
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Booked'">
            <ion-icon padding-right name="locate"></ion-icon>
            {{ slot.venue }} │ {{ slot.location }}
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Unavailable'">
            <ion-icon padding-right name="calendar"></ion-icon>
            <b>From : </b>
            {{ slot.startdate | date:'EEEE, dd MMMM' }}
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Unavailable'">
            <ion-icon padding-right name="calendar"></ion-icon>
            <b>To : </b>
            {{ slot.enddate | date:'EEEE, dd MMMM' }}
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Clossed'">
            <ion-icon padding-right name="calendar"></ion-icon>
            {{ slot.datetime }}
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Clossed'">
            <ion-icon padding-right name="time"></ion-icon>
            {{ slot.time }}
          </ion-label>

          <ion-item *ngIf="slot.status == 'Available'" (click)="openAvailableslotspage(slot.availibilityid, slot.slotid, slot.date, slot.time, slot.timee, slot.datetime, slot.venue, slot.location, slot.endTime)"
            class="AvailablIteam">
            <ion-label no-margin>
              {{ slot.time }}
            </ion-label>
            <ion-label text-right class="Availablitem">{{ slot.datetime }}</ion-label>
          </ion-item>

          <ion-label no-margin *ngIf="slot.status == 'Unavailable'">
            <ion-icon padding-right name="contact"></ion-icon>
            <ion-badge class="unavailable" *ngIf="slot.status == 'Unavailable'">{{ slot.status }}</ion-badge>
            <a style="font-size: initial;" *ngIf="slot.status == 'Unavailable'" (click)="openUnavailabledetailsPage(slot.unavailibilityid)">
              | View
            </a>
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Clossed'">
            <ion-icon padding-right name="contact"></ion-icon>
            <ion-badge class="closed" *ngIf="slot.status == 'Clossed'">Closed</ion-badge>
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Booked' && dateString < slot.date">
            <ion-icon padding-right name="contact"></ion-icon>
            <ion-badge class="bookedHour" *ngIf="slot.status == 'Booked' && dateString < slot.date">{{ slot.status }}</ion-badge>
            <a style="font-size: initial;" *ngIf="slot.status == 'Booked' && dateString < slot.date" (click)="openDetailPage(slot.slotid, slot.status, slot.availibilityid, slot.date, slot.time, slot.timee, slot.datetime)">
              | View Detail
            </a>
          </ion-label>

          <ion-label no-margin *ngIf="slot.status == 'Booked' && dateString > slot.date">
            <ion-icon padding-right name="contact"></ion-icon>
            <ion-badge class="passedHour" *ngIf="slot.status == 'Booked' && dateString > slot.date">Passed</ion-badge>
            <a style="font-size: initial;" *ngIf="slot.status == 'Booked' && dateString > slot.date" (click)="openDetailPage(slot.slotid, slot.status, slot.availibilityid, slot.date, slot.time, slot.timee, slot.datetime)">
              | Remarks
            </a>
          </ion-label>

        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template #nodata>
      <ion-label class="my-content line-break">
        You have not set any consultation hours
      </ion-label>
    </ng-template>
  </ng-template>

  <ng-template #loadingUpComLec>
    <ion-card *ngFor="let sk of skeletonArray">
      <skeleton-item style="height: 160px;">
      </skeleton-item>
    </ion-card>
  </ng-template>

  <ion-fab right bottom>
    <button ion-fab color="primary">
      <ion-icon name="arrow-dropleft"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="secondary" navPush="AddfreeslotsPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab color="danger" navPush="UnavailabilitySlotsPage">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>