
    ion-card-header {
        background-color:#edeff3;
      }
  
  
  hr {
      display: block;
      height: 1px;
      border: 0;
      width: 80%;
      border-top: 1px solid #8ca2cf;
      margin: 1em 0;
      padding: 0;
      text-align:center; margin: 0 auto;
      
  }
  ion-footer{
      p{
          font-weight: bold;
      }
  }