ion-card {
  ion-card-title {
    color: var(--main-txt-color) !important;
  }

  ion-card-subtitle {
    border: 2px solid;
    border-radius: 6px;
    text-align: center;
    margin-top: 26px;
    color: var(--primary-color);
  }

  ion-icon {
    color: var(--secondary-txt-color);
  }

  ion-footer {
    p {
      color: var(--secondary-txt-color);
      font-weight: bold;
    }
  }
}

ion-button {
  &.danger-border {
    --border-color: var(--danger-color);
    --color: var(--danger-color);
  }
}
