<ion-content class="busModelContentContainer">

  <div swipeAll class="mainContentBusTrackingModal" (swipedown)="swipeDown($event)">
    <div class="destinationHeader">
      <ion-icon style="color: grey; float: left !important; font-size: 20px !important;" name="information-circle"></ion-icon>
      <p class="bussTrackingHeaderTitle">
        Bus Timings and Location
      </p>
    </div>

    <div class="destinationBody">

      <ion-toolbar class="toolbarIntake">
        <ion-segment [(ngModel)]="modalSegment" color='dark-light'>
          <ion-segment-button value='timings'>
            Timings
          </ion-segment-button>
          <!-- Use CSS for dynamic segment, fixed in Ionic 4 -->
          <ion-segment-button value='location' [style.display]="tripDetails ? 'block' : 'none'">
            Location
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

      <ng-container [ngSwitch]='modalSegment'>
        <div class="" *ngSwitchCase="'timings'" style="padding-bottom: 2.5em !important; background-color: #fefefe">
          <ng-container *ngIf="trips && trips.length > 0; else empty">
            <ion-card *ngFor="let ts of trips" [class.highlightedNextTripCard]="ts.trip_time === nextTrip">
              <ion-card-header ion-item>
                <h2 ion-text item-start [class.highlightedNextTrip]="ts.trip_time === nextTrip">{{
                  ts.trip_from }} -> {{ ts.trip_to }}</h2>
                <h4 class="h4Time" ion-text item-end [class.highlightedNextTrip]="ts.trip_time === nextTrip">{{
                  ts.trip_time }}</h4>
              </ion-card-header>
            </ion-card>
          </ng-container>
          <ng-template #empty>
            <ion-card>
              <ion-card-header>No buses available!</ion-card-header>
            </ion-card>
          </ng-template>
        </div>

        <div class="" *ngSwitchCase="'location'">
          <ion-card *ngIf="tripDetails != undefined">
            <ion-card-header>Address:</ion-card-header>
            <ion-card-content>
              <p *ngIf="tripDetails['location_full_address']['location_address']">{{tripDetails['location_full_address']['location_address']}}
                <br *ngIf='tripDetails["location_full_address"]["location_contact_number"] !== "" ' /><a [href]="'tel:' + tripDetails['location_full_address']['location_contact_number']">{{tripDetails['location_full_address']['location_contact_number']}}</a>
              </p>
            </ion-card-content>
          </ion-card>
          <ion-card style="height: 100% !important;">
            <ion-card-header>Pick Up Location:</ion-card-header>
            <ion-card-content style="height: 100% !important;">
              <img style="width: 100% !important; height: 400% !important;" src="{{tripDetails['location_image_path']}}"
                alt="">
            </ion-card-content>
          </ion-card>
        </div>

      </ng-container>
    </div>
  </div>
</ion-content>
