<ion-content class="busModelContentContainer">

  <div swipeAll class="mainContentBusTrackingModal" (swipedown)="swipeDown($event)">
    <div class="destinationHeader">
      <ion-icon style="color: grey; float: left !important; font-size: 20px !important;" name="md-information-circle"></ion-icon>
      <p class="bussTrackingHeaderTitle">
        Bus Timings and Location
      </p>
    </div>

    <div class="destinationBody">

      <ion-toolbar class="toolbarIntake">
        <ion-segment [(ngModel)]="modalSegment" color='dark-light'>
          <ion-segment-button value='timings'>
            Timings
          </ion-segment-button>
          <ion-segment-button value='location'>
            Location
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>

      <ng-container [ngSwitch]='modalSegment'>
        <div class="" *ngSwitchCase="'timings'" style="padding-bottom: 2.5em !important; background-color: #fefefe">
          <ng-container *ngIf="trips && trips.length > 0; else empty">
            <ion-card *ngFor="let ts of trips" [class.highlightedNextTripCard]="ts.trip_time === nextTrip">
              <ion-card-header ion-item>
                <h2 ion-text item-start [class.highlightedNextTrip]="ts.trip_time === nextTrip">{{
                  ts.trip_from }} -> {{ ts.trip_to }}</h2>
                <h4 class="h4Time" ion-text item-end [class.highlightedNextTrip]="ts.trip_time === nextTrip">{{
                  ts.trip_time }}</h4>
              </ion-card-header>
            </ion-card>
          </ng-container>
          <ng-template #empty>
            <ion-card>
              <ion-card-header>No buses available!</ion-card-header>
            </ion-card>
          </ng-template>
        </div>

        <div class="" *ngSwitchCase="'location'">
          <ion-card *ngIf="tripDetails != undefined">
            <ion-card-header>Address:</ion-card-header>
            <ion-card-content>
              <p *ngIf="tripDetails['address'][0]['firstStreet']">{{tripDetails['address'][0]['firstStreet']}},
                <br *ngIf='tripDetails["address"][0]["secondStreet"] !== "" ' />
                {{tripDetails['address'][0]['secondStreet']}},
                <br *ngIf='tripDetails["address"][0]["area"] !== "" ' /> {{tripDetails['address'][0]['area']}},
                <br *ngIf='tripDetails["address"][0]["city"] !== "" ' /> {{tripDetails['address'][0]['city']}}
                <br *ngIf='tripDetails["address"][0]["state"] !== "" ' /> {{tripDetails['address'][0]['state']}}
                <br *ngIf='tripDetails["address"][0]["postalCode"] !== "" ' />
                {{tripDetails['address'][0]['postalCode']}}
                <br *ngIf='tripDetails["address"][0]["contactNumber"] !== "" ' /><a [href]="'tel:' + tripDetails['address'][0]['contactNumber']">{{tripDetails['address'][0]['contactNumber']}}</a>
              </p>
            </ion-card-content>
          </ion-card>
          <ion-card style="height: 17.5em !important;">
            <ion-card-header>Pick Up Location:</ion-card-header>
            <ion-card-content style="height: 14.5em !important;">
              <img style="width: 100% !important; height: 100% !important;" src="{{tripDetails['locationImg']}}" alt="">
            </ion-card-content>
          </ion-card>
        </div>

      </ng-container>
    </div>
  </div>
</ion-content>
