<ion-header>
  <ion-navbar>
    <ion-title>Bus Tracking</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear class="notification-button colored-border" (click)="toggleFilterMenu()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button icon-only (click)="toggleFilterMenu()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Filter Trips</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="row">
      <div class="col-9 pr-0">
        <ion-item>
          <ion-label>From</ion-label>
          <ion-select [(ngModel)]="fromLocation" (ngModelChange)="onFilter()">
            <ion-option selected value="">Any</ion-option>
            <ion-option *ngFor="let location of locations" [value]="location.location_name">
              {{ location.location_nice_name }}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>To</ion-label>
          <ion-select [(ngModel)]="toLocation" (ngModelChange)="onFilter()">
            <ion-option selected value="">Any</ion-option>
            <ion-option *ngFor="let location of locations" [value]="location.location_name">
              {{ location.location_nice_name }}</ion-option>
          </ion-select>
        </ion-item>
      </div>
      <div class="col-3 pl-0 m-auto text-center">
        <button ion-button clear icon-only class="notification-button colored-border"
          (click)="changeLocations()" style="transform: rotate(90deg)">
          <ion-icon name="swap"></ion-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ion-item>
          <ion-label>Day</ion-label>
          <ion-select [(ngModel)]="tripDay" (ngModelChange)="onFilter()">
            <ion-option value="mon-fri">Monday-Friday</ion-option>
            <ion-option value="sat">Saturday</ion-option>
            <ion-option value="sun">Sunday</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Show</ion-label>
          <ion-select [(ngModel)]="comingTripsOnly" (ngModelChange)="onFilter()">
            <ion-option value="">All Trips</ion-option>
            <ion-option value="true">Upcoming Trips</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-menu>

<ion-content #content>
  <!-- refresher -->
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="getTrips($event)">
    <ion-refresher-content pullingIcon="refresh"> </ion-refresher-content>
  </ion-refresher>

  <ng-template let-trips [ngIf]="filteredTrip$ | async" [ngIfElse]="loadingTrips">
    <div class="row mt-3" *ngIf="numberOfTrips != 0">
      <div class="col-12">
        <div *ngFor="let sourceKey of objectKeys(trips)">
          <div class="px-0 trips-card" *ngFor="let destinationKey of objectKeys(trips[sourceKey])">
            <h2 class="text-md-center trips-card-header py-4 px-3 mb-3 sticky-top" [ngStyle]="{
                background:
                  'linear-gradient(to right, ' +
                  getLocationColor(sourceKey) +
                  ',' +
                  getLocationColor(destinationKey) +
                  ')'
              }">
              <div class="container p-0">
              {{
                getLocationDisplayName(sourceKey) +
                  " -> " +
                  getLocationDisplayName(destinationKey)
              }}
              <span *ngIf="sourceKey == 'mosque' || destinationKey == 'mosque'">(Friday only)</span>
            </div>
            </h2>
            <div class="container">
            <div class="row trips-card-data">
              <p *ngFor="let trip of trips[sourceKey][destinationKey]" class="col-3 text-center trip-time"
                [class.coming]="strToDate(trip.trip_time) >= dateNow">
                {{ trip.trip_time }}
              </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center no-trips-message" *ngIf="numberOfTrips == 0">
      <div class="col-10">
        <h2 class="text-center">
          No
          <span *ngIf="comingTripsOnly">Upcoming</span>
          Trips For The Selected Route <br> (
          <span *ngIf="fromLocation">{{getLocationDisplayName(fromLocation)}}</span>
          <span *ngIf="!fromLocation">Any</span>
          <span> -> </span>
          <span *ngIf="toLocation">{{getLocationDisplayName(toLocation)}}</span>
          <span *ngIf="!toLocation">Any</span>
          ) <br> On {{tripDay.toUpperCase()}}
          <br>
          <ion-icon name="sad"></ion-icon>
        </h2>
      </div>
    </div>
  </ng-template>
  <ng-template #loadingTrips>
    <div *ngFor="let i of numOfSkeletons">
      <div class="row my-5 px-3">
        <div class="col-12 my-2">
          <skeleton-item height="50px" width="100%"></skeleton-item>
        </div>
        <div class="col-4 my-2" *ngFor="let i of numOfSkeletons">
          <skeleton-item height="20px" width="100%"></skeleton-item>
        </div>
      </div>
    </div>
  </ng-template>
</ion-content>