<ion-header>
  <ion-toolbar>
    <ion-button>
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title text-center>classes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content padding>
      <ion-label>Class:</ion-label>
      <ion-label>Time:</ion-label>
      <ion-label>Venue:</ion-label>
      <ion-label>Lecturer:</ion-label>

      <ion-buttons>
        <ion-button (click)="editClass()">Edit</ion-button>
        <ion-button (click)="takeAttendance()">Take Attendance</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-content padding>
        <ion-label>Class:</ion-label>
        <ion-label>Time:</ion-label>
        <ion-label>Venue:</ion-label>
        <ion-label>Lecturer:</ion-label>

        <ion-buttons>
          <ion-button (click)="editClass()">Edit</ion-button>
          <ion-button (click)="takeAttendance()">Take Attendance</ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
</ion-content>
