ion-card {
  .summary-header{
    margin-top: 16px;
    font-size: 1.1rem;
  }
  ion-card-header {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  ion-card-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  pre {
    white-space: pre-wrap;
  }

  &.account-disabled{
    box-shadow: 0 3px 1px -2px var(--danger-color), 0 2px 2px 0 var(--danger-color), 0 1px 5px 0 var(--danger-color);
  }

}

ion-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

.table-item:nth-child(even) {
  --background: var(--tertiary-bg-color) !important;
}

.table-top {
  display: none;
}

.special-border {
  display: none;
}

.img-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 110px;
}

.sem {
  background-color: var(--primary-color);
  color: hsla(0,0%,100%,.84);
  display: inline-table;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 5px;
  width: 100%;
}

@media (min-width: 600px) { // Bigger screen
  .marker {
      display: none;
  }

  .description {
    text-align: unset !important;
  }

  .special-border {
    display: inline-block;
    border-bottom: none;
  }
  
  .special-card-header {
    display: none;
  }
  

  .table-top {
    display: block;
    visibility: visible;
    padding-bottom: 4px !important;
  }
  .profile-photo {
    max-height: 150px;
    max-width: 122px;
  }
  
  ion-img {
    height: 100%;
    border-radius: 15px;
    margin: auto;
  }
}
