page-timetable {
  ion-card {
    width: 100% !important;
    ion-card-header {
      border: none !important;
      p {
        font-size: 1.3rem !important;
      }
    }
    ion-card-content {
      a {
        text-decoration: none;
        cursor: pointer;
      }
      ion-icon {
        vertical-align: -1.5px;
        padding-left: 4px;
      }
    }
  }

  .toolbar-ios ion-title {
    padding: 0 12px 1px;
  }

  .toolbar-title-ios {
    text-align: left;
  }
}
