<ion-header>
  <ion-navbar>
    <ion-title>Timetable</ion-title>
    <ion-buttons end>
      <button *ngIf="intake" ion-button icon-only clear class="notification-button colored-border"
        (click)="rotateView()">
        {{ viewType === 'daily' ? 'D' : 'W' }}
      </button>
      <button *ngIf="intake" ion-button icon-only clear class="notification-button colored-border"
        (click)="chooseWeek()">
        <ion-icon name="calendar"></ion-icon>
      </button>
      <button *ngIf="intakeSelectable" ion-button icon-only clear class="notification-button colored-border"
        (click)="toggleFilterMenu()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <ion-searchbar placeholder="Enter intake code" [formControl]="searchControl"></ion-searchbar>
          </div>
        </div>
        <ion-list no-lines class="mt-4" *ngIf="(searchIntake$ | async) as intakes">
          <ng-template [ngIf]="intakes.length > 0" [ngIfElse]="notFound">
            <p class="text-center">
              <span class="font-weight-bold">{{ intakes.length }}</span> Intakes
              found:
            </p>
            <button ion-item *ngFor="let intake of intakes" (click)="select(intake)">
              {{ intake }}
            </button>
          </ng-template>
          <ng-template #notFound>
            <ion-item>Not Intake Found</ion-item>
          </ng-template>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-menu>

<ion-content #content>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh"> </ion-refresher-content>
  </ion-refresher>
  <div class="container p-0">
    <ng-template let-timetables [ngIf]="timetable$ | async" [ngIfElse]="timetableLoading">

      <ng-template [ngIf]="viewType === 'daily'" [ngIfElse]="weekly">
        <div class="row mt-3" *ngIf="intake">
          <div class="col-12 col-md-6 px-5 py-2">
            <p>Selected Intake: {{ intake }}</p>
          </div>
          <div class="col-12 col-md-6 px-5 py-2">
            <p>Selected Day: {{ (selectedDate | date: 'EEEE, dd MMM yyyy') || "N/A" }}</p>
          </div>
        </div>
        <ion-segment *ngIf="availableDate" [ngModel]="selectedDate | date: 'E' | uppercase" (ngModelChange)="
            selectedDate = availableDate[availableDays.indexOf($event)]
          ">
          <ion-segment-button *ngFor="let d of wday; index as i" [value]="d" [style.display]="
              availableDays.indexOf(d) !== -1 ? 'inline-block' : 'none'
            ">
            {{ d }}
          </ion-segment-button>
        </ion-segment>

        <ion-card *ngFor="let t of (timetables | classes: intake | theday: selectedDate)"
          [style.borderLeft]="'0.4rem solid ' + strToColor(t.MODID)">
          <ion-card-header>
            <h2>{{ t.MODID }}</h2>
            <p class="font-weight-bold">{{ t.TIME_FROM }} - {{ t.TIME_TO }}</p>
          </ion-card-header>
          <ion-card-content>
            <ion-label no-margin>
              <ion-icon padding-right name="locate"></ion-icon>
              {{ t.ROOM }} │ {{ t.LOCATION }}
            </ion-label>
            <ion-label no-margin>
              <a (click)="openStaffDirectoryInfo(t.SAMACCOUNTNAME)">
                <ion-icon padding-right name="contact"></ion-icon>
                {{ t.NAME }}
              </a>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ng-template>

      <ng-template #weekly>
        <ng-template [ngIf]="intake">
          <ng-template [ngIf]="(timetables | classes:intake | theweek:selectedWeek).length > 0"
            [ngIfElse]="noClassesForSelected">
            <div class="row mt-3">
              <div class="col-12 col-md-6 px-5 py-2">
                <p>Selected Intake: {{ intake }}</p>
              </div>
              <div class="col-12 col-md-6 px-5 py-2">
                <p>Selected Week: {{ (selectedWeek | date: 'dd MMM yyyy') || "N/A" }}</p>
              </div>
            </div>
            <ion-card *ngIf="intake" class="d-none d-md-block">
              <ion-card-content>
                <div class="row m-0">
                  <div class="col-12 col-lg-2 col-md-3 p-0">
                    <p class="font-weight-bold">Date</p>
                  </div>
                  <div class="col-12 col-lg-2 col-md-3 p-0">
                    <p class="font-weight-bold">Time</p>
                  </div>
                  <div class="col-12 col-lg-3 col-md-3 p-0">
                    <ion-label no-margin class="font-weight-bold">
                      Location
                    </ion-label>
                  </div>
                  <div class="col-12 col-lg-2 col-md-3 p-0">
                    <p class="font-weight-bold">Subject/Module</p>
                  </div>
                  <div class="col-12 col-lg-3 d-md-none p-0 d-lg-block">
                    <ion-label no-margin class="font-weight-bold">
                      <a>
                        Lecturer
                      </a>
                    </ion-label>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
            <ion-card *ngFor="let t of timetables | classes:intake | theweek:selectedWeek"
              [style.borderLeft]="'0.4rem solid ' + strToColor(t.DAY + t.DATESTAMP_ISO)">
              <ion-card-content>
                <div class="row m-0">
                  <div class="col-12 col-md-3 col-lg-2 p-0">
                    <h2>{{ t.DATESTAMP_ISO | date: 'EEE, dd MMM' }}</h2>
                  </div>
                  <div class="col-12 col-md-3 col-lg-2 p-0">
                    <p class="font-weight-bold">{{ t.TIME_FROM }} - {{ t.TIME_TO }}</p>
                  </div>
                  <div class="col-12 col-md-3 col-lg-3 p-0">
                    <ion-label no-margin>
                      <ion-icon class="d-md-none" padding-right name="locate"></ion-icon>
                      {{ t.ROOM }} │ {{ t.LOCATION }}
                    </ion-label>
                  </div>
                  <div class="col-12 col-lg-2 col-md-3 p-0">
                    <ion-label no-margin>
                      <ion-icon class="d-md-none" padding-right name="book"></ion-icon>
                      {{ t.MODID }}
                    </ion-label>
                    <h2></h2>
                  </div>
                  <div class="col-12 col-lg-3 p-0 d-md-none d-lg-block">
                    <ion-label no-margin>
                      <a (click)="openStaffDirectoryInfo(t.SAMACCOUNTNAME)">
                        <ion-icon class="d-md-none" padding-right name="contact"></ion-icon>
                        {{ t.NAME }}
                      </a>
                    </ion-label>
                  </div>
                </div>

              </ion-card-content>
            </ion-card>
          </ng-template>
          <ng-template #noClassesForSelected>
            <div class="row mt-5 no-classes-message">
              <div class="col-12">
                <p class="text-center">
                  Hooray! No classes for the selected week ({{selectedWeek | date: 'dd MMM yyyy'}})! :D
                </p>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ng-template>

      <div *ngIf="!selectedDate || !intake" class="row mt-5 no-classes-message">
        <div class="col-12">
          <p class="text-center" *ngIf="intake; else noIntake">
            Hooray! No classes this week! :D
          </p>
          <ng-template #noIntake>
            <p class="normaltext text-center">
              To check the timetable, please
              <a style="text-decoration: underline" class="colorful-text font-weight-bold"
                (click)="toggleFilterMenu()">select an intake</a>
              first
            </p>
          </ng-template>
        </div>
      </div>

    </ng-template>
    <ng-template #timetableLoading>
      <div class="row my-4 px-3">
        <div class="col-3">
          <skeleton-item height="25px" width="100%"></skeleton-item>
        </div>
        <div class="col-3">
          <skeleton-item height="25px" width="100%"></skeleton-item>
        </div>
        <div class="col-3">
          <skeleton-item height="25px" width="100%"></skeleton-item>
        </div>
        <div class="col-3">
          <skeleton-item height="25px" width="100%"></skeleton-item>
        </div>
      </div>
      <ion-card *ngFor="let i of numOfSkeletons">
        <ion-card-header class="mb-4">
          <skeleton-item height="25px" width="50%"></skeleton-item>
          <skeleton-item height="20px" width="60%"></skeleton-item>
        </ion-card-header>
        <ion-card-content>
          <skeleton-item height="20px" width="70%"></skeleton-item>
          <skeleton-item height="20px" width="80%"></skeleton-item>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <div class="col-12 mt-4" *ngIf="intake">
      <p><span style="color: red;">* Note:</span> While there will be no classes during the mid-semester break for your
        intake, your intake time table will
        continue to appear during the break.</p>
    </div>
  </div>
</ion-content>