page-timetable {
  ion-content ion-card-content a {
    text-decoration: none;
  }

  ion-content ion-card-content ion-icon {
    vertical-align: -1.5px;
    padding-left: 4px;
  }

  ion-content ion-card-header + ion-card-content ion-label:nth-child(odd) {
    background-color: #eceff1;
  }
}
