<ion-header>
  <ion-toolbar>
    <ion-title>iGraduate</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment class="ion-padding" [(ngModel)]="selectedSegment" (ngModelChange)="segmentValueChanged()">
      <ion-segment-button value="studentsList">Summary</ion-segment-button>
      <ion-segment-button value="report">Details</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>