.padding-small {
  padding: 10px;
}

.square {
  height: 10px;
  width: 100%;

  &.success {
    background-color: var(--ion-color-success);
  }

  &.warning {
    background-color: var(--ion-color-warning);

  }

  &.danger {
    background-color: var(--ion-color-danger);

  }

}
