<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Staff Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="staff$ | async as staff; else loadingProfileOrNotFound" class="staff-directory-info-header">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-avatar class="profile-image">
                <img id="bg" [src]="'https://d37plr7tnxt7lb.cloudfront.net/' + staff.RefNo + '.jpg'"
                  onerror="this.src='assets/img/no_img.png'">
              </ion-avatar>
              <hr class="ion-margin-top ion-margin-button hr-custom" />
            </ion-card-header>
            <ion-card-content style="padding-top: 0px">
              <h2 class="secondary-txt-color">Name:</h2>
              <h2 class="main-text-color text-bold">{{ staff.FULLNAME }}</h2>
              <br>
              <h2 class="secondary-txt-color">Job Title:</h2>
              <h2 class="main-text-color text-bold" [innerHTML]="staff.TITLE"></h2>
              <br>
              <h2 class="secondary-txt-color">Email:</h2>
              <h2><a class="colored-text text-bold" href="mailto:{{staff.EMAIL}}">{{ staff.EMAIL }}</a></h2>
              <br>
              <div *ngIf="staff.LOCATION">
                <h2 class="secondary-txt-color">Office Location:</h2>
                <h2 class="text-bold main-text-color">{{ staff.LOCATION }}</h2>
                <br>
              </div>
              <h2 class="secondary-txt-color">Contact Number:</h2>
              <h2><a class="colored-text text-bold" href="tel:+60389961000">+6 03-8996 1000 (Ext.
                  {{ staff.EXTENSION }})</a>
              </h2>
              <br>
              <div *ngIf="staff.DEPARTMENT || staff.DEPARTMENT2 || staff.DEPARTMENT3">
                <h2 class="secondary-txt-color">Functional Area(s):</h2>
                <h2 class="text-bold main-text-color" *ngIf="staff.DEPARTMENT" [innerHTML]="staff.DEPARTMENT"></h2>
                <h2 class="text-bold main-text-color" *ngIf="staff.DEPARTMENT2" [innerHTML]="staff.DEPARTMENT2"></h2>
                <h2 class="text-bold main-text-color" *ngIf="staff.DEPARTMENT3" [innerHTML]="staff.DEPARTMENT3"></h2>
                <br>
              </div>
              <ion-grid>
                <ion-row>
                  <ion-col *ngIf="isStudent">
                    <ion-button expand="full" class="colored-background" (click)="navigateToIconsult(staff.ID)">Book
                      Consultation Hour
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button class="chat-in-teams" expand="full" (click)="chatInTeams(staff.ID)">Chat In Teams
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-lg="8" class="ion-no-padding">
          <ion-card>
            <ion-card-header>
              <ion-text>
                <h2 class="colored-text">Timetable</h2>
              </ion-text>
            </ion-card-header>
          </ion-card>
          <lecturer-timetable [id]="staff.ID" [code]="staff.CODE"></lecturer-timetable>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ng-template #loadingProfileOrNotFound>
    <ng-container *ngIf="staffExists; else recordNotFound">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-lg="4">
            <ion-card>
              <ion-card-header>
                <ion-avatar class="profile-image" style="--border-radius: 0;">
                  <ion-skeleton-text animated style="line-height: 240px;width: 200px;margin: auto;"></ion-skeleton-text>
                </ion-avatar>
                <hr class="ion-margin-top ion-margin-button hr-custom" />
              </ion-card-header>
              <ion-card-content style="padding-top: 0px">
                <h2 class="secondary-txt-color">
                  <ion-skeleton-text animated style="line-height: 25px; width: 40%;"></ion-skeleton-text>
                </h2>
                <h2 class="main-text-color">
                  <ion-skeleton-text animated style="line-height: 20px; width: 70%;"></ion-skeleton-text>
                </h2>
                <br>
                <h2 class="secondary-txt-color">
                  <ion-skeleton-text animated style="line-height: 25px; width: 60%;"></ion-skeleton-text>
                </h2>
                <h2 class="main-text-color text-bold">
                  <ion-skeleton-text animated style="line-height: 20px; width: 40%;"></ion-skeleton-text>
                </h2>
                <br>
                <h2 class="secondary-txt-color">
                  <ion-skeleton-text animated style="line-height: 25px; width: 70%;"></ion-skeleton-text>
                </h2>
                <h2>
                  <ion-skeleton-text animated style="line-height: 20px; width: 40%;"></ion-skeleton-text>
                </h2>
                <br>
                <h2 class="secondary-txt-color">
                  <ion-skeleton-text animated style="line-height: 25px; width: 20%;"></ion-skeleton-text>
                </h2>
                <h2>
                  <ion-skeleton-text animated style="line-height: 25px; width: 40%;"></ion-skeleton-text>
                </h2>
                <br>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-skeleton-text animated style="line-height: 40px; width: 90%;"></ion-skeleton-text>
                    </ion-col>
                    <ion-col>
                      <ion-skeleton-text animated style="line-height: 40px; width: 90%;"></ion-skeleton-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-template #recordNotFound>
      <app-message-with-svg messageTitle="No Data To Show!"
        messageContent="The staff ID you have entered/chosen does not match with any staff profile"
        imageUrl="assets/img/empty.svg" wrapperOffset="4" wrapperSize="4" wrapperMarginTop="50px">
      </app-message-with-svg>
    </ng-template>
  </ng-template>
</ion-content>