.profile-image {
  margin-bottom: 15px !important;
  margin: auto;
  width: 50%;
  height: 100%;
}

img {
  border-radius: 11px;
}

.btn-restricted {
  margin-left: 20px;
  margin-right: 30px;
  display: block !important;
}

.hr-custom {
  border: 2px solid var(--secondary-txt-color);
  width: 100%;
}
