ion-item {
  // HIDE EFFECTS FOR ION ITEM
  --background-hover: var(--secondary-bg-color) !important;
  --background-focused: var(--secondary-bg-color) !important;
  --button-background-activated: var(--secondary-bg-color) !important;
}

ion-radio-group{
  width: 100% !important;
}

.danger-text,
.item-has-focus.danger-text {
  color: var(--danger-color) !important;
}
.is-invalid {
  border-color: var(--danger-color);
}
.success-text {
  color: var(--success-color);
}

ion-icon.remove-circle-icon-size {
  font-size: 24px;
}
