.emailClass {
    display: block;
    margin-top: 10px;
     margin-bottom: 5px; 
}

.timeTxt {
    font-size: 14px;
}

ion-card-header {
  padding: 9px;
  padding-left: 0px;
  border-bottom: 2px solid;
}

ion-card-content {
  padding-top: 9px;
}

@media only screen and (max-width: 992px) { 
    .hiddenData { 
      display: none; 
    } 
  }
