<ion-header>
  <ion-toolbar>
    <ion-title>Operation Hours</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="content">
  <!-- refresher -->
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="masonry-list" *ngIf="quixCustomers$ | async as quixCustomers">
    <div *ngFor="let customer of quixCustomers ">
      <div class="masonry-item" *ngFor="let department of customer.company_departments">
        <div>
          <ion-card>
            <ion-card-header class="colored-border">
              <ion-card-title class="responsive-h1">
                <ion-icon name="{{department.dept_icon}}" [style.color]="department.dept_icon_color"></ion-icon>
                {{customer.company_id}} │
                {{ department.dept_name.charAt(0).toUpperCase() + department.dept_name.slice(1) }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="department.shifts || department.dept_email || department.dept_phone ; else noData">
              <ion-grid class="ion-padding-start">
                <ion-row class="hiddenData">
                  <ion-col size-xs="12" size-lg="4">
                    <ion-text class="text-bold">Day</ion-text>
                  </ion-col>
                  <ion-col size-xs="12" size-lg="4">
                    <ion-text class="text-bold ">Open time</ion-text>
                  </ion-col>
                  <ion-col size-xs="12" size-lg="4">
                    <ion-text class="text-bold">Close time</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div *ngIf="department.shifts; else noOperation">
                <div>
                  <ion-grid class="ion-padding-start">
                    <ion-row *ngIf="department.shifts['Sat'].length > 0">
                      <ion-col size="4">
                        <p class="text-bold ">Saturday</p>
                      </ion-col>
                      <ion-col size="4">
                        <div *ngFor="let slot of department.shifts['Sat']">
                          <div *ngIf="slot.start_time ; else noStartTime" class="timeTxt">
                            {{ (slot.start_time | time) }}
                          </div>
                          <ng-template #noStartTime>
                            <ion-text>no Open time provided</ion-text>
                          </ng-template>
                        </div>
                      </ion-col>
                      <ion-col size="4">
                        <div *ngFor="let slot of department.shifts['Sat']" class="timeTxt">
                          {{ (slot.end_time | time) }}
                        </div>
                      </ion-col>
                    </ion-row>

                    <ion-row *ngIf="department.shifts['Mon-Thu'].length > 0">
                      <ion-col size="4">
                        <p class="text-bold ">Monday-Thursday</p>
                      </ion-col>
                      <ion-col size="4">
                        <div *ngFor="let slot of department.shifts['Mon-Thu']">
                          <div *ngIf="slot.start_time ; else noStartTime" class="timeTxt">
                            {{ (slot.start_time | time) }}
                          </div>
                          <ng-template #noStartTime>
                            <ion-text>no Open time provided</ion-text>
                          </ng-template>
                        </div>
                      </ion-col>
                      <ion-col size="4">
                        <div *ngFor="let slot of department.shifts['Mon-Thu']" class="timeTxt">
                          {{ (slot.end_time | time) }}
                        </div>
                      </ion-col>
                    </ion-row>

                    <ion-row *ngIf="department.shifts['Fri'].length > 0">
                      <ion-col size="4">
                        <p class="text-bold ">Friday</p>
                      </ion-col>
                      <ion-col size="4">
                        <div *ngFor="let slot of department.shifts['Fri']">
                          <div *ngIf="slot.start_time ; else noStartTime" class="timeTxt">
                            {{ (slot.start_time | time) }}
                          </div>
                          <ng-template #noStartTime>
                            <ion-text>no Open time provided</ion-text>
                          </ng-template>
                        </div>
                      </ion-col>
                      <ion-col size="4">
                        <div *ngFor="let slot of department.shifts['Fri']" class="timeTxt">
                          {{ (slot.end_time | time) }}
                        </div>
                      </ion-col>
                    </ion-row>

                  </ion-grid>
                </div>
              </div>
              <ng-template #noOperation>
                <h3 class="ion-padding-start ion-text-center"> No Operation hours provided</h3>
              </ng-template>
              <section>
                <ion-text *ngIf="department.dept_email" class="emailClass">Email:
                  <div>
                    <a href="mailto:{{ department.dept_email }}" class="ion-padding-start">{{department.dept_email}}</a>
                  </div>
                </ion-text>
                <ion-text>Phone/General Line</ion-text>
                <div *ngIf="department.dept_phone ; else noPhone">
                  <div *ngFor="let phone of department.dept_phone">
                    <a href="tel:{{phone}}" class="ion-padding-start">{{phone}}</a>
                  </div>
                </div>
                <ng-template #noPhone>
                  <h3 class="ion-padding-start ion-text-center"> No phone provided</h3>
                </ng-template>
              </section>
            </ion-card-content>
            <ng-template #noData>
              <ion-card-content>
                <h2> No data provided for this department</h2>
              </ion-card-content>
            </ng-template>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>