<ng-container *ngIf="(calendar$ | async) as calendar; else loading">
  <ng-container *ngIf="(calendar | length); else empty">
    <ion-card *ngFor="let week of (calendar | keyvalue)">
      <ion-card-header class="card-header">
        <ion-item tappable lines="none" no-padding (click)='show(week.key, $event.target)'>
          <strong>Week</strong>: {{ week.key | fromWeek | date }}
          <span slot="end">{{ selectedWeeks.includes(week.key) ? '-' : '+' }}</span>
        </ion-item>
      </ion-card-header>

      <ion-card-content *ngIf="selectedWeeks.includes(week.key)" class="controlled-card">
        <ion-grid class="table-top" no-margin no-padding>
          <ion-row no-padding>
            <ion-col size="12" size-sm="1"><h2 class="text-bold">Day</h2></ion-col>
            <ion-col size="12" size-sm="2"><h2 class="text-bold">Time</h2></ion-col>
            <ion-col size="12" size-sm="2"><h2 class="text-bold">Module</h2></ion-col>
            <ion-col size="12" size-sm="3"><h2 class="text-bold">Location</h2></ion-col>
            <ion-col size="12" size-sm="4"><h2 class="text-bold">{{ week.value.length > 1 ? 'Intakes' : 'Intake' }}</h2></ion-col>

            <hr class="marker hr-custom"/>
          </ion-row>
        </ion-grid>

        <ion-grid *ngFor="let day of week.value" no-padding no-margin>
          <ion-row>
            <ion-col size="12" size-sm="1">
              <span class="marker">Day: </span>
              {{ day.start | date:'E' }}
            </ion-col>

            <ion-col size="12" size-sm="2">
              <span class="marker">Time: </span>
              {{ day.start | date:'shortTime' }} - {{ day.end | date:'shortTime' }}
            </ion-col>

            <ion-col size="12" size-sm="2">
              <span class="marker">Module: </span>
              {{ day.module }}
            </ion-col>

            <ion-col size="12" size-sm="3">
              <span class="marker">Location: </span>
              {{ day.loc }}
            </ion-col>

            <ion-col size="12" size-sm="4">
              <span class="marker">Intakes: </span>
              <ng-container *ngFor="let intake of day.intakes; last as last">
                <a [routerLink]="['/student-timetable', intake]">{{ intake }}</a>
                <ng-container *ngIf="!last">, </ng-container>
              </ng-container>
            </ion-col>

            <!-- mobile separator -->
            <hr class="marker hr-custom">
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #empty>
    <ion-card>
      <ion-card-content>No timetable available</ion-card-content>
    </ion-card>
  </ng-template>
</ng-container>
<ng-template #loading>
  <ion-card>
    <ion-card-content>
      <ion-skeleton-text animated width="100px" style="line-height: 14px"></ion-skeleton-text>
    </ion-card-content>
  </ion-card>
</ng-template>
