.controlled-card {
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
}

skeleton-item {
  padding-bottom: 15px !important;
}

.text-bold {
  font-weight: bold !important;
}

.marker {
  font-weight: bold;
}

.table-top {
  display: none;
  visibility: hidden;
}

.card-header {
  padding-bottom: 0px;
  padding-top: 0px;
  .week-title {
    display: inline;
    text-decoration: underline;
    &:hover {
      font-weight: bold;
      color: var(--sub-primary-color) !important;
    }
  }
  .icon-hover {
    &:hover {
      font-weight: bold;
      color: var(--sub-primary-color) !important;
    }
  }
}

.hr-custom {
  border: 2px solid var(--secondary-txt-color);
  width: 100%;
}

@media (min-width: 600px) {
  .marker {
    display: none;
  }

  .table-top {
    display: block;
    visibility: visible;
  }
}
