.controlled-card {
  margin-top: 0px;
  padding-bottom: 20px;
  padding-top: 0px;
}

skeleton-item {
  padding-bottom: 15px !important;
}

.text-bold {
  font-weight: bold !important;
}

.marker {
  font-weight: bold;
}

.table-top {
  display: none;
  visibility: hidden;
}

@media (min-width: 1000px) {
  .marker {
      display: none;
  }

  .table-top {
    display: block;
    visibility: visible;
  }
}