<ng-template let-calendar [ngIf]="calendar$ | async" [ngIfElse]="loading">
  <ng-template [ngIf]="calendar.length" [ngIfElse]="empty">
    <div *ngFor="let week of calendar">
      <ion-card>
        <ion-card-header style="padding-bottom: 0px; padding-top: 0px">
          <div (click)='show(week, $event.target)'>
            <ion-item tappable lines="none" no-padding>
              <strong>WEEK</strong>: {{ week.week | date }}
              <span slot="end">{{ selectedWeeks.indexOf(week) !== -1 ? '-' : '+' }}</span>
            </ion-item>
          </div>
        </ion-card-header>

        <div *ngIf="selectedWeeks.indexOf(week) !== -1" [@easeInOut]>
          <ion-card-content class="controlled-card">
            
              <ion-grid class="table-top" no-margin no-padding>
                <ion-row no-padding>
                  <ion-col size="12" size-sm="1">
                    <h2 class="text-bold">
                      Day
                    </h2>
                  </ion-col>
                  <ion-col size="12" size-sm="2">
                    <h2 class="text-bold">
                      Time
                    </h2>
                  </ion-col>
                  <ion-col size="12" size-sm="2">
                    <h2 class="text-bold">
                      Module
                    </h2>
                  </ion-col>
                  <ion-col size="12" size-sm="3">
                    <h2 class="text-bold">
                      Location
                    </h2>
                  </ion-col>
                  <ion-col size="12" size-sm="4">
                    <h2 class="text-bold">
                      Intake(s)
                    </h2>
                  </ion-col>
                  
                  <hr style="border: 2px solid var(--secondary-txt-color)" class="marker"/>
                </ion-row>
              </ion-grid>

              <div *ngFor="let day of week.days">
                <ion-grid no-padding no-margin *ngFor="let event of day.events">
                  <ion-row>
                    <ion-col size="12" size-sm="1">
                      <span class="marker">Day: </span>
                      <span>{{ day.day | date:'E' }}</span>
                    </ion-col>

                    <ion-col size="12" size-sm="2">
                      <span class="marker">Time: </span>
                      {{ event.start | date:'shortTime' }} - {{ event.end | date:'shortTime' }}
                    </ion-col>

                    <ion-col size="12" size-sm="2">
                      <span class="marker">Module: </span>
                      <span>{{ event.name }}</span>
                    </ion-col>

                    <ion-col size="12" size-sm="3">
                      <span class="marker">Location: </span>
                      <span>{{ event.loc }}</span>
                    </ion-col>

                    <ion-col size="12" size-sm="4">
                      <span class="marker">Intakes: </span>
                      <span>{{ event.intakes.join(", ") }}</span>
                    </ion-col>
                  </ion-row>
                  
                  <hr style="border: 2px solid var(--secondary-txt-color)" class="marker"/>
                </ion-grid>
              </div>
          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </ng-template>
  <ng-template #empty>
    <ion-card>
      <ion-card-header>No timetable Available</ion-card-header>
    </ion-card>
  </ng-template>
</ng-template>
<ng-template #loading>
  <skeleton-item height="30px"></skeleton-item>
</ng-template>
