ion-card {
  ion-card-content ion-icon {
    vertical-align: -2.5px;
    padding-left: 4px;
    padding-right: 8px;
  }

  ion-card-content a {
    text-decoration: none;
  }

  .freeTime{
    --background: var(--success-color) !important;
    --color: #FFFFFF !important;
  }

  ion-card-header {
    padding: 9px 12px 9px 12px;
    margin-bottom: 10px;
  }

  &.card-special {
    margin-top: 10px !important;
    margin-bottom: 1px !important;
    &.title {
      border-radius: 10px 10px 0 0;
    }
  }
}

ion-segment-button {
  // Fit all week days without scrolling
  --padding-end: 0 !important;
  --padding-start: 0 !important;
  --margin-start: 0 !important;
  --margin-end: 100 !important;
  min-width: 50px !important;
}

.segment-scrollable {
  overflow-x: auto !important;
  justify-content: center;
}

ion-segment.week-segment {
  margin-bottom: 30px;
  background: var(--tertiary-bg-color);
  --background: var(--tertiary-bg-color);
}

.table-item:nth-child(odd) {
  --background: var(--main-bg-color) !important;
}

.table-top {
  display: none;
}

.hide-on-print-table-flex-on-card {
  display: flex;
}

.flex-on-print-table-hide-on-card {
  display: none;
}

@media (min-width: 576px) {
  .marker {
    display: none;
  }
  .hide-on-print-table-flex-on-card {
    display: none;
  }

  .flex-on-print-table-hide-on-card {
    display: flex;
  }

  .table-top {
    display: block;
    visibility: visible;
    padding-bottom: 4px !important;
  }

  .card-side {
    border-left: none !important;
  }
}
.printIntake {
  display: none;
}
.printSelectedweek {
  display: none;
}
.printLogoWrapper {
  display: none;
}

@media print {
  .segment-button-checked {
    border-bottom: 2.5px solid var(--primary-color);
  }
  .print-less-width {
    margin-left: -20px;
    margin-right: 20px;
  }
  .print-no-margin {
    margin: 0 !important;
  }
  .print-negative-margin {
    margin-left: -10px !important;
  }
  .flex-on-print-table-hide-on-card {
    display: flex;
  }

  .hide-on-print-table-flex-on-card {
    display: none;
  }
  .container {
    max-width: 100%;
  }
  .center-print {
    text-align: center;
  }
  ion-content {
    background-color: white !important;
  }

  .print-font {
    font-size: 0.7rem !important;
  }
  .print-font-smaller {
    font-size: 0.6rem !important;
    font-weight: normal !important;
  }
  .print-text-center {
    text-align: center !important;
  }
  .print-pl-4 {
    padding-left: 1.5rem !important;
  }
  .printColor {
    color: black;
  }
  .printIntake {
    display: inline;
  }
  .printSelectedweek {
    display: inline;
  }
  .printLogoWrapper {
    display: block;
  }
  // override colored-text class
  .colored-text {
    color: black !important;
  }
}
