ion-card {
  ion-card-content ion-icon {
    vertical-align: -2.5px;
    padding-left: 4px;
    padding-right: 8px;
  }
  
  ion-card-content {
    padding-top: 2px;
  } 
  
  ion-card-content a {
    text-decoration: none;
  }

  ion-card-header {
    border-bottom: 2px solid;
    padding: 9px 12px 9px 12px;
    margin-bottom: 10px;
  }

  &.card-special {
    margin-top: 10px !important;
    margin-bottom: 1px !important;
    &.title {
      border-radius: 10px 10px 0 0;
    }
  }
}

ion-segment-button {
  color: var(--secondary-txt-color);
}

.table-top {
  display: none;
}

.hr-custom {
  border: 2px solid var(--secondary-txt-color);
  width: 100%;
}

@media (min-width: 600px) {
  .marker {
      display: none;
  }

  .table-top {
    display: block;
    visibility: visible;
    padding-bottom: 4px !important;
  }

  .card-side {
    border-left: none !important;
  }
}
