// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './theme/global-styling';
@import './theme/responsive-design';

@import './theme/themes';

// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

// Main Font /Source Sans Pro/ (Light 300, Normal: 400, Medim: 500, Bold: 700)
@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/source-sans-pro/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/source-sans-pro/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/fonts/source-sans-pro/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
}

// Used in APCard page (bank card)
@font-face {
  font-family: 'cc font';
  src: url('assets/fonts/cc-font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

// Fix padding for phones with notch screen
body{
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

// To be removed after solving the ShadowDOM issue Outside the print query: always hide the element with the class show-on-print
.show-on-print{
  // Hide elements that need to be shown on print only
  display: none;
}

// Default print settings (Fix print issue in ionic) // To be moved to a seperate file
@media print {
  ion-header, ion-tab-bar{
    // hide header and tabs on print
    display: none;
  }

  html,
  body,
  app-root,
  ion-app,
  ion-router-outlet,
  app-tabs,
  ion-tabs,
  .tabs-inner,
  app-timetable,
  ion-content {
    position: relative !important;
    height: auto !important;
    min-height: 0 !important;
    contain: none !important;
    max-height: none !important;
    display: block !important;
  }

  .hide-on-print{
    display: none;
  }
  .show-on-print{
    display: block;
  }

  /*
  The (main.scroll-y.inner-scroll) element needs to take a relative position style
  
  - However, the ShadowDom elements cannot be modified.
  - The only way to modify them is by using css 4 variables.
  - Ionic did not add variable for position.
  - The issue will be resolved when Ionic adds a variable for the position to be used
  - Currently, we will create a sperate div outside the ion-content to be displayed     for print, untill the issue is fixed.
  */
}
