.masonry-list {
  padding-top: constant(safe-area-inset-top); //for iOS 11.2
  padding-top: env(safe-area-inset-top); //for iOS 11.1
}

.masonry-item {
  position: relative;
}

// TRIPS
ion-card.trip-card {
  box-shadow: none;
  border-radius: 0;
  --background: var(--tertiary-bg-color) !important;

  .full-background {
    width: 100%;
    height: 100%;
  }

  .trips-locations {
    color: var(--main-txt-color);
  }

  .trip-time {
    &:nth-child(1) {
      font-size: 1.6em;
      font-weight: 700;
      color: var(--main-txt-color);
    }

    &:nth-child(2) {
      font-size: 1.3em;
      font-weight: 500;
      color: var(--secondary-txt-color);
    }

    &:nth-child(3) {
      font-size: 1em;
      font-weight: 500;
      color: var(--tertiary-txt-color);
    }

    &:nth-child(4) {
      font-size: 0.8em;
      font-weight: 300;
      color: var(--tertiary-txt-color);
    }
  }
}

// NOTIFICATIONS
.notifications {
  position: relative;

  ion-badge {
    --padding-start: 3px;
    --padding-end: 3px;
    --padding-bottom: 5px;
    --padding-top: 3px;
    position: absolute;
    top: -22px;
    right: -4px;
    z-index: 10000;
  }
}

// EDIT MODE (DASHBOARD CARDS CUSTOMIZATIONS)
.edit-overlay {
  background: rgba(117, 111, 111, 0.3);
  top: 5px;
  left: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  z-index: 10;
  position: absolute;

  ion-icon {
    cursor: move;
    font-size: 40px;
    position: absolute;
    right: 15px;

    &:not(.remove) {
      bottom: 15px;
    }

    &.remove {
      cursor: pointer;
      top: 10px;
      color: var(--danger-color);
    }
  }
}

.hide {
  display: none;
}

.news-wrapper {
  margin-bottom: 4px;
  margin-top: 4px;

  ion-avatar {
    --border-radius: 0;
  }

  .button-wrapper {
    border-bottom: 1px solid var(--tertiary-txt-color);

    ion-button {
      float: right;
      --background: transparent !important;
    }
  }

  ion-item {
    --border-color: var(--tertiary-txt-color) !important;
  }
}

// QUOTE
.inner-card {
  overflow: inherit !important;
  box-shadow: none !important;
}
.floating-icon {
  font-size: 28px;
}

// RESPONSIVE FOR THIS PAGE ONLY
@media only screen and (max-width: 575px) {
  .welcome-message-wrapper {
    padding-top: 9px;
  }
}

@media only screen and (min-width: 576px) {
  .welcome-message-wrapper {
    padding-top: 4px;
  }
}

@media only screen and (min-width: 768px) {
  .welcome-message-wrapper {
    padding-top: 0px;
  }
}

@media only screen and (min-width: 992px) {
  ion-avatar.dashboard-avatar {
    margin-top: 4px;
  }
}

@media only screen and (max-width: 540px) {
  div.swiper-button-next {
    background: transparent;
  }

  div.swiper-button-prev {
    background: transparent;
  }
}
