.profile {
  .avatar {
    width: 100px;
    height: 100px;
  }

  .notification-badge {
    position: absolute;
    top: 0px;
    right: -6px;
    z-index: 100;
    font-size: 0.8em;
    padding: 3px 3px 3px 4px;
  }
}

.todays-schedule {
  .todays-schedule-container {
    .event-container {
      padding: 10px;
      transition: all 0.2s ease;
      border-left: 3px solid;
      border-bottom: 1px solid var(--ion-color-dark);

      &.class-type {
        border-left-color: #8EAF2D;

        .colored-with-type {
          color: #8EAF2D;
        }

        .description a {
          color: #8EAF2D;
        }
      }

      &.iconsult-type {
        border-left-color: #54acd2;

        .colored-with-type {
          color: #54acd2;
        }

        .description a {
          color: #54acd2;
        }
      }

      &.passed-event {
        border-left-color: #a1a1a1;

        .colored-with-type {
          color: #a1a1a1;
        }
      }

      .info-item {
        margin-top: 9px;

        .small-margin {
          margin-right: 10px;
          margin-left: 10px;
        }
      }

      &:hover {
        border-left-width: 10px;
      }
    }

  }
}
