.event-calendar {
  font-size: 14px;
  overflow: hidden;
}

.spacer {
  // border-bottom: 1px solid rgb(229, 229, 229);
}

.event {
  text-decoration: none;
}
.event-container {
  // color: #131313;
  transition: all 0.2s ease;
  // background: #fafafa;
  border-left: 3px solid;
  padding-top: 10px;
  padding-bottom: 15px;
  &.class-type {
    border-color: #8EAF2D;
    .type {
      background-color: #8EAF2D;
    }
    .description a{
      color: #8EAF2D;
    }
  }
  &.holiday-type {
    border-color: #F99E4C;
    .type {
      background-color: #F99E4C;
    }
    .description a{
      color: #F99E4C;
    }
  }
  &.exam-type {
    border-color: #EB5F59;
    .type {
      background-color: #EB5F59;
    }
    .description a{
      color: #EB5F59
    }
  }
  &.iconsult-type {
    border-color: #54ACD2;
    .type {
      background-color: #54ACD2;
    }
    .description a{
      color: #54ACD2;
    }
  }

}

.event-container:not(.no-hover):hover {
  border-left-width: 10px;
  // background: #eceff1;
}

.left-part-container {
  display: block;
  width: 25%;
  float: left;
  font-weight: 700;
  color: #343434;
}

.left-part {
  font-size: 2.1em;
  display: block;
  margin-top: 6px;
}
.left-part .left-part-item {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -0.5em;
}
.left-part .left-part-item.small {
  font-size: 0.55em;
}

.left-part .left-part-item.smallest {
  font-size: 0.37em;
}
.right-part-container {
  display: block;
  width: 75%;
  float: left;
  padding-top: 3px;
}

.title {
  font-weight: 600;
  font-size: 1.2em;
  display: block;
  width: 70%;
  float: left;
}

.type {
  font-size: 10px;
  font-weight: 700;
  width: 30%;
  padding: 3px;
  text-align: center;
  float: left;
  border-radius: 25px;
  a {
    color: white;
  }
}

.description {
  display: block;
  font-size: 0.9em;
}
