<div class="event-calendar" *ngIf="observable$ | async as events">
    <div class="event-list">
        <div class="event" *ngFor="let event of events">
            <div class="event-container" padding-end [style.borderColor]="!event.pass? event.color: event.passColor"
                [style.color]="event.pass? event.passColor: ''">
                <div class="left-part-container" text-center>
                    <span class="left-part" [style.color]="!event.pass? event.color: event.passColor">
                        <span class="primaryDateTime" *ngIf="event.dateOrTime">
                            {{splitTimeAndGetOnePart('first',event.dateOrTime)}}
                        </span>
                        <span *ngIf="event.dateOrTime" class="left-part-item small d-block">
                            {{splitTimeAndGetOnePart('second',event.dateOrTime)}}
                        </span>
                        <span *ngIf="event.dateOrTime" class="left-part-item smallest d-block">
                            {{splitTimeAndGetOnePart('third',event.dateOrTime)}}
                        </span>
                    </span>
                </div>
                <div class="right-part-container">
                    <span *ngIf="event.title" class="title"
                        [style.color]="!event.pass? event.color: event.passColor">{{event.title}}</span>
                    <span [style.backgroundColor]="!event.pass? event.color: event.passColor" class="type">
                        <a>
                            {{event.type | titlecase}}
                        </a>
                    </span>
                    <div class="clearfix"></div>
                    <span *ngIf="event.firstDescription" class="description">{{event.firstDescription}}</span>
                    <span *ngIf="event.secondDescription" class="description">
                        <a [style.color]="!event.pass? event.color: event.passColor"
                            *ngIf="event.outputFormat === 'event-with-time-and-hyperlink' || event.outputFormat === 'event-with-date-and-hyperlink'; else noHyperlink">
                            {{event.secondDescription}}
                        </a>
                        <ng-template #noHyperlink>
                            {{event.secondDescription}}
                        </ng-template>
                    </span>
                    <span *ngIf="event.thirdDescription" text-right
                        class="description">{{event.thirdDescription}}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="spacer"></div>
        </div>
    </div>

</div>