@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

.event-calendar {
  font-size: 14px;
  font-family: Open Sans;
  overflow: hidden;
}

.spacer {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.event-list {
  display: block;
  border-right: 1px solid rgb(229, 229, 229);
}

.event {
  text-decoration: none;
}
.event-container {
  color: #131313;
  transition: all 0.2s ease;
  background: #fafafa;
  border-left: 3px solid;
  padding-top: 10px;
  padding-bottom: 15px;
}

.event-container:hover {
  border-left-width: 10px;
  background: #eceff1;
}

.left-part-container {
  display: block;
  width: 25%;
  float: left;
  font-family: Oswald;
  font-weight: 700;
  color: #343434;
}

.left-part {
  font-size: 2.1em;
  display: block;
  margin-top: 6px;
}
.left-part .left-part-item {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: -0.5em;
}
.left-part .left-part-item.small {
  font-size: 0.55em;
}

.left-part .left-part-item.smallest {
  font-size: 0.37em;
}
.right-part-container {
  display: block;
  width: 75%;
  float: left;
  padding-top: 3px;
}

.title {
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  width: 70%;
  float: left;
}

.type {
  font-size: 10px;
  font-weight: 700;
  width: 30%;
  padding: 3px;
  text-align: center;
  float: left;
  border-radius: 25px;
  a{
    color: white;
  }
}

.description {
  display: block;
  font-size: 0.9em;
}
