page-events {
    .timetable-value {
        vertical-align: -1.5px;
        padding-left: 4px;
    }
    .big-icons {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 40px;
    }
    .top-value {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
        color: color($colors, warn)
    }
    .icon-title {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 0.8em;
    }
    .side-line {
        border-width: 0px 0px 0px 5px;
        border-style: solid;
    }
    #cover {
        background-image: linear-gradient(to bottom, color($colors, primary), color($colors, light));
        height: 300px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
    }
}
