<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content parallax-header>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-content">

    <ion-item>
      Upcoming Classes
      <ion-icon item-left name='clock' color='primary'></ion-icon>
    </ion-item>
    <ng-container *ngIf="isLoading">
      <ion-item *ngFor="let i of numOfSkeletons">
        <skeleton-item height="137px" width="100%"></skeleton-item>
      </ion-item>
    </ng-container>
    <ng-template let-classes [ngIf]='upcomingClass$ | async'>
      <ion-card *ngFor='let c of classes'>
        <ion-card-header>
          {{ c.SUBJECT_CODE }}
        </ion-card-header>
        <ion-card-content>
          <ion-label no-margin>
            <ion-icon padding-right name="time"></ion-icon>
            <b>{{ c.TIME_FROM }}</b> -
            <b>{{ c.TIME_TO }}</b>
          </ion-label>
          <ion-label no-margin>
            <ion-icon padding-right name="locate"></ion-icon>
            {{ c.ROOM }} │ {{ c.LOCATION }}
          </ion-label>
          <ion-label no-margin>
            <a (click)="openStaffDirectoryInfo(c.SAMACCOUNTNAME)">
              <ion-icon padding-right name="contact"></ion-icon>
              {{ c.LECTURER_NAME }}
            </a>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template [ngIf]='!isLoading && !classes'>
      <ion-card padding>
        <ion-note>No upcoming classes for today</ion-note>
      </ion-card>
    </ng-template>

    <ion-item>
      Upcoming Holiday
      <ion-icon item-left name='calendar' style='color: #5AC8FA;'></ion-icon>
    </ion-item>
    <ng-container *ngIf="isLoading">
      <ion-item>
        <skeleton-item height="137px" width="100%"></skeleton-item>
      </ion-item>
    </ng-container>
    <ng-template let-holiday [ngIf]="nextHoliday$ | async" [ngIfElse]='noholidays'>
      <ion-card>
        <ion-item>
          {{ holiday.holiday_name }}
          <ion-note item-right>
            {{ holiday.holiday_start_date | date }}
            <ng-template [ngIf]='holiday.holiday_start_date !== holiday.holiday_end_date'>
              - {{ holiday.holiday_end_date | date }}
            </ng-template>
          </ion-note>
        </ion-item>
        <ion-card-content>
          {{ holiday.holiday_description }}
        </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template [ngIf]="!isLoading && !holidays">
      <ion-card padding>
        <ion-note>No upcoming holidays</ion-note>
      </ion-card>
    </ng-template>

    <ion-item>
      Upcoming Exams
      <ion-icon item-left name='book' style='color: #2042A6;'></ion-icon>
    </ion-item>
    <ng-container *ngIf="isLoading">
      <ion-item *ngFor="let i of numOfSkeletons">
        <skeleton-item height="100px" width="100%"></skeleton-item>
      </ion-item>
    </ng-container>
    <ng-template let-exam [ngIf]='exam$ | async | nextExams'>
      <ion-card tappable *ngFor='let e of exam' (click)='openExamPage()'>
        <ion-item>{{ e.module }}
        </ion-item>
        <ion-item>
          <ion-note> {{ e.since | date:'medium'}}</ion-note>
        </ion-item>
      </ion-card>
    </ng-template>
    <ng-template [ngIf]='!isLoading && !exam'>
      <ion-card padding>
        <ion-note>No upcoming exams</ion-note>
      </ion-card>
    </ng-template>

    <ng-template [ngIf]='!overdueFee'>
      <ion-item>
        Total Overdue Fee
        <ion-icon item-left name='cash' style='color: #5856D6;'></ion-icon>
      </ion-item>
      <ng-container *ngIf="isLoading">
        <ion-item>
          <skeleton-item height="150px" width="100%"></skeleton-item>
        </ion-item>
      </ng-container>
      <ion-card *ngIf='data'>
        <chart margin-top [type]="type[0]" [data]="data" [options]="options[0]"></chart>
      </ion-card>
    </ng-template>

    <ion-item>
      GPA per Intake
      <ion-icon item-left name='checkbox' style='color: #FF0DFF;'></ion-icon>
    </ion-item>
    <ng-container *ngIf="!barChartData">
      <ion-item>
        <skeleton-item height="160px" width="100%"></skeleton-item>
      </ion-item>
    </ng-container>
    <ion-card *ngIf="barChartData">
      <chart margin-top [type]="type[1]" [data]="barChartData" [options]="options[1]"></chart>
    </ion-card>

    <ion-item *ngIf='studentIntake'>
      {{ studentIntake }} Attendance
      <ion-icon item-left name='alarm' style='color: #E82C0C;'></ion-icon>
    </ion-item>
    <ng-container *ngIf="!percent">
      <ion-item>
        <skeleton-item height="160px" width="100%"></skeleton-item>
      </ion-item>
    </ng-container>
    <ion-card class="attendance-card" *ngIf='percent'>
      <circle-progress [percent]="percent" innerStrokeColor='#d7d8da' [outerStrokeColor]="percent !== 0 ? averageColor : '#d7d8da'"></circle-progress>
    </ion-card>
  </div>
</ion-content>
