<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content parallax-header>
  <ion-refresher pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-content">

    <ion-item no-lines>
      Upcoming Classes
      <ion-icon item-left name='clock' color='primary'></ion-icon>
    </ion-item>
    <ng-template let-classes [ngIf]='upcomingClass$ | async' [ngIfElse]='loadingClasses'>
      <ng-template [ngIf]='classes && classes.length > 0' [ngIfElse]='noclass'>
        <ion-card *ngFor='let c of classes'>
          <ion-card-header>
            {{ c.SUBJECT_CODE }}
          </ion-card-header>
          <ion-card-content>
            <ion-label no-margin>
              <ion-icon padding-right name="time"></ion-icon>
              <b>{{ c.TIME_FROM }}</b> -
              <b>{{ c.TIME_TO }}</b>
            </ion-label>
            <ion-label no-margin>
              <ion-icon padding-right name="locate"></ion-icon>
              {{ c.ROOM }} │ {{ c.LOCATION }}
            </ion-label>
            <ion-label no-margin>
              <a (click)="openStaffDirectoryInfo(c.SAMACCOUNTNAME)">
                <ion-icon padding-right name="contact"></ion-icon>
                {{ c.LECTURER_NAME }}
              </a>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ng-template>
      <ng-template #noclass>
        <ion-card padding>
          <ion-note>No upcoming classes for today</ion-note>
        </ion-card>
      </ng-template>
    </ng-template>
    <ng-template #loadingClasses>
      <ion-card>
        <ion-item no-lines *ngFor="let i of numOfSkeletons">
          <skeleton-item height="137px" width="100%"></skeleton-item>
        </ion-item>
      </ion-card>
    </ng-template>


    <ion-item no-lines>
      Upcoming Holiday
      <ion-icon item-left name='calendar' style='color: #5AC8FA;'></ion-icon>
    </ion-item>
    <ng-template let-holiday [ngIf]='nextHoliday$ | async' [ngIfElse]='loadingHoliday'>
      <ng-template [ngIf]='holiday' [ngIfElse]='noHoliday'>
        <ion-card tappable [navPush]="'HolidaysPage'">
          <ion-card-header>
            {{ holiday.holiday_name }}
          </ion-card-header>
          <ion-card-content>
            <ion-note item-right>
              {{ holiday.holiday_start_date | date:'mediumDate' }}
              <ng-template [ngIf]='holiday.holiday_start_date !== holiday.holiday_end_date'>
                - {{ holiday.holiday_end_date | date:'mediumDate' }}
              </ng-template>
            </ion-note>
            {{ holiday.holiday_description }}
          </ion-card-content>
        </ion-card>
      </ng-template>
      <ng-template #noHoliday>
        <ion-card padding>
          <ion-note>No upcoming holidays</ion-note>
        </ion-card>
      </ng-template>
    </ng-template>
    <ng-template #loadingHoliday>
      <ion-card>
        <ion-item no-lines>
          <skeleton-item height="137px" width="100%"></skeleton-item>
        </ion-item>
      </ion-card>
    </ng-template>

    <ion-item no-lines>
      Upcoming Exams
      <ion-icon item-left name='book' style='color: #2042A6;'></ion-icon>
    </ion-item>
    <ng-template let-exams [ngIf]='exam$ | async | nextExams' [ngIfElse]='loadingExams'>
      <ng-template [ngIf]='exams && exams.length > 0' [ngIfElse]='noExam'>
        <ion-card tappable *ngFor='let exam of exams' [navPush]="'ExamSchedulePage'">
          <ion-item>{{ exam.module }}
          </ion-item>
          <ion-item no-lines>
            <ion-note> {{ exam.since | date:'mediumDate'}} ({{ exam.since | date:'shortTime'}} - {{ exam.until |
              date:'shortTime'}})</ion-note>
          </ion-item>
        </ion-card>
      </ng-template>
      <ng-template #noExam>
        <ion-card padding>
          <ion-note>No upcoming exams</ion-note>
        </ion-card>
      </ng-template>
    </ng-template>
    <ng-template #loadingExams>
      <ion-card>
        <ion-item no-lines *ngFor="let i of numOfSkeletons">
          <skeleton-item height="100px" width="100%"></skeleton-item>
        </ion-item>
      </ion-card>
    </ng-template>

    <ng-template let-data [ngIf]='chartData$ | async' [ngIfElse]='loadingFees'>
      <ng-template [ngIf]='data.data.datasets[0].data[1] !== 0' [ngIfElse]='noOverdueFee'>
        <ion-card>
          <ion-card-header>
            Total Overdue Fee
          </ion-card-header>
          <chart margin-bottom [type]="type[0]" [data]="data.data" [options]="options[0]"></chart>
        </ion-card>
      </ng-template>
      <ng-template #noOverdueFee>
      </ng-template>
    </ng-template>
    <ng-template #loadingFees>
      <ion-card>
        <ion-item>
          <skeleton-item height="150px" width="100%"></skeleton-item>
        </ion-item>
      </ion-card>
    </ng-template>

    <ion-item no-lines>
      GPA per Intake
      <ion-icon item-left name='checkmark-circle' style='color: rgb(247, 143, 8);'></ion-icon>
    </ion-item>
    <ng-template [ngIf]='barChartData' [ngIfElse]='loadingGPA'>
      <ion-card>
        <chart margin-top [type]="type[1]" [data]="barChartData" [options]="options[1]"></chart>
      </ion-card>
    </ng-template>
    <ng-template #loadingGPA>
      <ion-card>
        <ion-item no-lines>
          <skeleton-item height="160px" width="100%"></skeleton-item>
        </ion-item>
      </ion-card>
    </ng-template>

    <ion-item no-lines *ngIf='profile$ | async as profile'>
      {{ profile.INTAKE }} Attendance
      <ion-icon item-left name='alarm' style='color: #E82C0C;'></ion-icon>
    </ion-item>
    <ng-template let-percent [ngIf]='percent$ | async' [ngIfElse]='loadingPercent'>
      <ion-card class="attendance-card">
        <circle-progress [percent]="percent" [outerStrokeColor]="percent >= 80 ? '#0dbd53' : '#f04141'"></circle-progress>
      </ion-card>
    </ng-template>
    <ng-template #loadingPercent>
      <ion-card>
        <ion-item no-lines>
          <skeleton-item height="160px" width="100%"></skeleton-item>
        </ion-item>
      </ion-card>
    </ng-template>
  </div>
</ion-content>
