page-events {
    ion-content ion-card-content ion-label:nth-child(odd) {
        background-color: #eceff1;
    }
    .events {
        width: auto;
        font-weight: bold;
        font-size: 4em;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-width: 1px;
    }
    .fee {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: #0dbd53;
        text-align: center;
    }
    .amount {
        font-size: 2em;
        color: #FFFFFF;
        margin-top: 40%;
    }
    .attendance-card {
        height: 200px;
    }
    .big-icons {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 40px;
    }
    .top-value {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 1.1em;
        font-weight: bold;
        color: color($colors, warn)
    }
    .icon-title {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 0.8em;
    }
    .side-line {
        border-width: 0px 0px 0px 5px;
        border-style: solid;
        border-color: color($colors, warn);
    }
    .line {
        display: block;
        text-align: center;
        margin: auto;
        width: 50%;
        height: 2px;
        background-color: color($colors, warn);
        border-radius: 5px;
    }
    #cover {
        background-image: linear-gradient(to bottom, color($colors, primary), white);
        height: 300px;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
    }
}
