
    loading-spinner {
        .loader {
          top: calc(50% - 80px);
          left: calc(50% - 40px);
          width: 80px;
          height: 80px;
        }
      }
    h4, p, h3{
        white-space: normal;
    }
    textarea{
      padding: 10px !important;
      width: 100%;
    }
    .userMessage{
      white-space: normal;
    }
  
    .smIonList {
      display: inline-flex; 
      width: 100%;
       padding: 0%;
    }
    .naRadioBtn {
      margin-left: 0% !important;
      margin-right:5px;
    }
    .ansRadioBtn {
      margin-left: 0% !important; 
      margin-right: 10px ;
      
    }
   
   
    ion-item.d-lg-inline{
      width: 15%;
    }
    @media only screen and (min-width: 1px) {
        .w{
          width: 100%;
        }
        .d-block {
          display: block;
          width: 100%;
        }
        .btnSub{
          width: 100%; height: 30px;  background-color: royalblue;
         }
         .rdBtn{
           width: 100%;
         }
      }
    @media only screen and (min-width: 992px) {

        .w-lg{
          width: 55%;
          margin-left: auto; margin-right: auto;
        }
        .d-lg-inline {
          display: inline-block !important;
          width: 100%;
        }
       .btnDiv{
         text-align: center;
       }
       .btnSub{
        width: 55%; height: 30px;  background-color: royalblue;
       }
       .rdBtn{
        width: 25%;
      }
        
      }
      

  
  