<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>My Consultations</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="this.slotsToBeCancelled.length > 0" *ngIf="dateToFilter"
        class="colored-border colored-text" fill="outline" (click)="toggleCancelSlot()">
        <ion-icon [name]="onSelect? 'close' : 'checkbox-outline'"></ion-icon>
      </ion-button>
      <ion-button class="colored-border colored-text" fill="outline" (click)="showSummary()">
        Summary
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="onSelect">
    <span *ngIf="!onRange; else rangeMessage"><p class="ion-margin-start">Select more than one slot to cancel</p></span>
    <ng-template #rangeMessage><p class="ion-margin-start">Select start and end date to cancel</p></ng-template>
    <ion-buttons slot="end">
      <ion-button [disabled]="this.slotsToBeCancelled.length > 0" class="colored-border colored-text" fill="outline"
        (click)="toggleCancelSlotOptions()">
        <span *ngIf="!onRange; else range">Range</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ng-template #range>
    <span>Checkbox</span>
  </ng-template>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMax="400" pullMin="60 " (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="(slots$ | async) as dates; else loadingContent">
    <ion-row>
      <ion-col size="12" size-md="5">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <h3 class="responsive-h1">
                Calendar Filter
              </h3>
              <h3 class="small-text small-margin-top">Choose a day to see the list of slots opened on that day</h3>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item class="ion-no-padding">
              <ion-grid>
                <ion-row>
                  <ion-col class="available ion-text-center">
                    <ion-badge>.</ion-badge> Available
                  </ion-col>
                  <ion-col class="p-booked ion-text-center">
                    <ion-badge>.</ion-badge> Partially Booked
                  </ion-col>
                  <ion-col class="booked ion-text-center">
                    <ion-badge>.</ion-badge> Booked
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-calendar *ngIf="!onRange; else rangeCalendar" class="filter-date-picker" (change)="todaysDate = $event"
              [(ngModel)]="dateToFilter" [options]="options" [type]="'string'" [format]="'YYYY-MM-DD'">
            </ion-calendar>
            <ng-template #rangeCalendar>
              <ion-calendar [(ngModel)]="dateRange" (ngModelChange)="getSelectedRangeSlot(dates)"
                [options]="optionsRange" [type]="'string'" [format]="'YYYY-MM-DD'">
              </ion-calendar>
            </ng-template>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="7" *ngIf="!onRange; else rangeSlots">
        <ng-container *ngIf="dateToFilter && (dates | slots: todaysDate) as slots; else noSlotsTodat">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                List of slots opened on {{todaysDate | date}}
              </ion-card-title>

            </ion-card-header>
            <ion-card-content>
              <div class="event-calendar">
                <div class="event" *ngFor="let slot of slots.items;">
                  <div class="event-container" [ngClass]="{
                                    'booked': slot.status === 'Booked',
                                    'available': slot.status === 'Available',
                                    'no-hover': slot.status === 'Clossed'
                                }">
                    <ion-grid class="grid-padding">
                      <ion-row *ngIf="slot.status !== 'Cancelled' && slot.status !== 'Cancelled by lecturer'">
                        <ion-col size-xs="2" size-xl="1" *ngIf="onSelect">
                          <ion-checkbox color="primary" (ngModelChange)="getSelectedSlot(slot)"
                            [(ngModel)]="slot.isChecked"></ion-checkbox>
                        </ion-col>
                        <ion-col size-xs="7" size-sm="8">
                          <span class="title">
                            {{slot.start_time | date: "HH:mm"}} - {{slot.end_time | date: "HH:mm"}}
                          </span>
                          <span class="description small-margin-top">
                            <ion-icon name="pin"></ion-icon>
                            {{slot.room_code}} | {{slot.venue}}
                          </span>
                        </ion-col>
                        <ion-col size-xs="1" size-sm="2" class="margin-auto">
                          <ng-container>
                            <ion-buttons>
                              <ion-button class="cursor-pointer" size="small" expand="block"
                                *ngIf="slot.status !== 'Available'"
                                (click)="openSlotDetailsModal(slot)">
                                <ion-icon color="danger" slot="icon-only" name="information-circle-outline"></ion-icon>
                              </ion-button>
                            </ion-buttons>
                          </ng-container>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </div>
                  <div class="spacer"></div>
                </div>
                <ion-button class="cursor-pointer ion-margin-top" color="primary" size="small" expand="block"
                  (click)="resetSelectedSlots(dates)" *ngIf="onSelect && this.slotsToBeCancelled.length > 0">
                  Uncheck All
                </ion-button>
                <ion-button class="cursor-pointer ion-margin-top" color="danger" size="small" expand="block"
                  (click)="cancelAvailableSlot()" *ngIf="onSelect" [disabled]="slotsToBeCancelled.length <= 0">
                  Cancel Slot
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ng-container>
        <ng-template #noSlotsTodat>
          <ion-card>
            <ion-card-content>
              <app-message-with-svg imageUrl='/assets/img/no-consultations.svg'
                messageTitle='No Consultations Added on the Selected Date!'
                messageContent='You have not added any consultations on {{todaysDate | date}}. You can check consultations added for other days by changing the date on the calendar'
                wrapperMarginTop="20px" wrapperOffset="3" wrapperSize="6">
              </app-message-with-svg>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>

      <ng-template #rangeSlots>
        <ion-col size="12" size-md="7">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <span *ngIf="slotsToBeCancelled.length > 0; else noRangeSlots">List of slots opened from
                  {{dateRange.from | date}} to {{dateRange.to | date}}</span>
                <ng-template #noRangeSlots>
                  No slots found
                </ng-template>
              </ion-card-title>

            </ion-card-header>
            <ion-card-content>
              <div class="event-calendar">
                <div class="event" *ngFor="let slot of slotsToBeCancelled;">
                  <div class="event-container" [ngClass]="{
                                        'booked': slot.status === 'Booked',
                                        'available': slot.status === 'Available',
                                        'no-hover': slot.status === 'Clossed'
                                    }">
                    <ion-grid class="grid-padding">
                      <ion-row *ngIf="slot.status !== 'Cancelled' && slot.status !== 'Cancelled by lecturer'">
                        <ion-col size-xs="7" size-sm="8">
                          <span class="title">
                            {{slot.start_time | date: "HH:mm"}} - {{slot.end_time | date: "HH:mm"}}
                          </span>
                          <span class="description small-margin-top">
                            <ion-icon name="pin"></ion-icon>
                            {{slot.room_code}} | {{slot.venue}}
                          </span>
                        </ion-col>
                        <!-- <ion-col size-xs="5" size-sm="4" class="margin-auto">
                              <ng-container>
                                <ion-button class="cursor-pointer" size="small" expand="block"
                                  [disabled]="slot.status === 'Clossed'" *ngIf="slot.status !== 'Available'"
                                  (click)="openSlotDetailsModal(slot.slotid, slot.time, slot.endTime, slot.dateandtime, slot.availibilityid, slot.date, slot.timee)">
                                  View Details
                                </ion-button>
                              </ng-container>
                            </ion-col> -->
                      </ion-row>
                    </ion-grid>
                  </div>
                  <div class="spacer"></div>
                </div>
                <ion-button class="cursor-pointer ion-margin-top" color="primary" size="small" expand="block"
                  (click)="resetSelectedSlots(dates)" *ngIf="onSelect && this.slotsToBeCancelled.length > 0">
                  Uncheck All
                </ion-button>
                <ion-button class="cursor-pointer ion-margin-top" color="danger" size="small" expand="block"
                  (click)="cancelAvailableSlot()" *ngIf="onSelect" [disabled]="slotsToBeCancelled.length <= 0">
                  Cancel Slot
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
  <ng-template #loadingContent>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="5">
          <ion-skeleton-text animated style="width: 100%; line-height: 300px;"></ion-skeleton-text>
        </ion-col>
        <ion-col size-xs="12" size-md="7">
          <ion-item *ngFor="let _ of skeletonItemsNumber">
            <ion-skeleton-text animated style="width: 100%; line-height: 50px;"></ion-skeleton-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="onSelect" class="colored-background" routerLink="/iconsult/add-free-slot"
      routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>