<ion-header>
  <ion-toolbar>
    <ion-title>My Consultations</ion-title>
    <ion-buttons slot="end">
      <ion-button class="colored-border colored-text" fill="outline" (click)="showSummary()">
        Summary
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="(slots$ | async) as dates; else loadingContent">
    <ion-row>
      <ion-col size="12" size-md="5">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <h3 class="responsive-h1">
                Calendar Filter
              </h3>
              <h3 class="small-text small-margin-top">Choose a day to see the list of consultations opened on it</h3>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item no-padding>
              <ion-grid>
                <ion-row>
                  <ion-col class="available" text-center size="6">
                    <ion-badge>.</ion-badge> Available
                  </ion-col>
                  <ion-col class="p-booked" text-center size="6">
                    <ion-badge>.</ion-badge> Partially Booked
                  </ion-col>
                  <ion-col class="booked" text-center size="6">
                    <ion-badge>.</ion-badge> Booked
                  </ion-col>
                  <ion-col class="unavailable" text-center size="6">
                    <ion-badge>.</ion-badge> Unavailable
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-calendar class="filter-date-picker" (change)="todaysDate = $event" [(ngModel)]="dateToFilter"
              [options]="options" [type]="'string'" [format]="'YYYY-MM-DD'">
            </ion-calendar>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="7">
        <ng-container *ngIf="(dates | slots: todaysDate) as slots; else noSlotsTodat">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                List of slots opened on {{todaysDate | date}}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="event-calendar">
                <div class="event" *ngFor="let slot of slots.items">
                  <div class="event-container" [ngClass]="{
                                    'booked': slot.status === 'Booked',
                                    'available': slot.status === 'Available',
                                    'no-hover': slot.status === 'Clossed',
                                    unavailable: slot.status === 'Unavailable'
                                }">
                    <ion-grid class="grid-padding">
                      <ion-row *ngIf="slot.status !== 'Unavailable'; else unavailableSlot">
                        <ion-col size-xs="7" size-sm="8">
                          <span class="title">
                            {{slot.time}} - {{slot.endTime}}
                          </span>
                          <span class="description small-margin-top">
                            <ion-icon name="pin"></ion-icon>
                            {{slot.location}} | {{slot.venue}}
                          </span>
                        </ion-col>
                        <ion-col size-xs="5" size-sm="4">
                          <ng-container>
                            <ion-button class="cursor-pointer" expand="block" (click)="cancelAvailableSlot(slot)" *ngIf="slot.status === 'Available'">
                              Cancel Slot
                            </ion-button>
                            <ion-button class="cursor-pointer" expand="block" [disabled]="slot.status === 'Clossed'"
                              *ngIf="slot.status !== 'Available'" (click)="openSlotDetailsModal(slot.slotid[0], slot.time, slot.endTime, slot.dateandtime, slot.availibilityid, slot.date, slot.timee)">
                              View Details
                            </ion-button>
                          </ng-container>
                        </ion-col>
                      </ion-row>
                      <ng-template #unavailableSlot>
                        <ion-row>
                          <ion-col size-xs="7" size-sm="8">
                            <span class="title">
                              Unavailability Slot
                            </span>
                            <span class="description small-margin-top">
                              <ion-icon name="calendar"></ion-icon>
                              {{slot.startdate | date}} - {{slot.enddate | date}}
                            </span>
                          </ion-col>
                          <ion-col size-xs="5" size-sm="4">
                            <ng-container>
                              <ion-button class="cursor-pointer" expand="block" (click)="openUnavailableSlotDetails(slot.unavailibilityid)">
                                View Details
                              </ion-button>
                            </ng-container>
                          </ion-col>
                        </ion-row>
                      </ng-template>
                    </ion-grid>
                  </div>
                  <div class="spacer"></div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ng-container>
        <ng-template #noSlotsTodat>
          <ion-card>
            <ion-card-content>
              <app-message-with-svg imageUrl='/assets/img/no-consultations.svg'
                messageTitle='No Consultations Added on the Selected Date!'
                messageContent='You have not added any consultations on {{todaysDate | date}}. You can check consultations added for other days by changing the date on the calendar'
                wrapperMarginTop="20px" wrapperOffset="3" wrapperSize="6">
              </app-message-with-svg>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #loadingContent>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="5">
          <ion-skeleton-text animated style="width: 100%; line-height: 300px;"></ion-skeleton-text>
        </ion-col>
        <ion-col size-xs="12" size-md="7">
          <ion-item *ngFor="let _ of skeletonItemsNumber">
            <ion-skeleton-text animated style="width: 100%; line-height: 50px;"></ion-skeleton-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="colored-background">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button routerLink="/add-unavailability" data-desc="Add Unavailability">
        <ion-icon class="colored-text" name="remove"></ion-icon>
      </ion-fab-button>
      <ion-fab-button routerLink="/add-free-slot" routerDirection="forward" data-desc="Add Free Slot">
        <ion-icon class="colored-text" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-footer>