<div *ngIf="inputControl; else modelBasedFilter">
  <div class="autocomplete-field">
    <ion-label class="item-label">
      {{ title }}
    </ion-label>
    <ion-input class="form-input" [formControl]="inputControl"></ion-input>
    <div class="autocomplete-list" *ngIf="searchItems$ | async as items">
      <div *ngIf="displayList">
        <ion-list>
          <ion-item button (click)="select(item)" *ngFor="let item of items">
            {{ item }}
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</div>
  
<ng-template #modelBasedFilter>
  <div class="autocomplete-field">
    <ion-label class="item-label">
      {{ title }}
    </ion-label>
    <ion-input class="form-input" [(ngModel)]="inputModel" (ngModelChange)="inputModelChange.emit(inputModel); ngModelBasedFiltering($event);"></ion-input>
    <div class="autocomplete-list" *ngIf="displayList">
      <ion-list>
        <ion-item (click)="select(item)" *ngFor="let item of searchItems">
          {{ item }}
        </ion-item>
      </ion-list>
    </div>
  </div>
</ng-template>

