page-f-eedback {
  form {
    border-radius: 1rem;
    background-color: white;
    margin-left: 1ex;
  }

  ion-fab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  ion-icon {
    width: 10px;
  }
}
