page-f-eedback {
    .textarea {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 10em;
     }

     .input{
        
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
     }

     .follow-us{
         font-weight: bold;
     }
}
