<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Exam Schedule Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin">
          <ion-card-content class="ion-no-padding">
            <ion-list lines="none">
              <ion-item *ngFor="let examScheduleDetail of examScheduleDetails$ | async as examScheduleDetails; let i = index;">
                <ion-grid class="ion-no-padding">
                  <ion-row class="ion-no-padding">
                    <ion-col size="12" size-sm="2" class="ion-no-padding">
                      {{examScheduleDetail.title}} :
                    </ion-col>
                    <ion-col class="text-bold ion-no-padding">
                      <div class="flex-col-item">
                        {{examScheduleDetail.detail}}
                        <div *ngIf="!onDelete">
                          <ion-icon (click)="editExamSchedule()" *ngIf="i === 0" name="create" class="clickable-icon">
                          </ion-icon>
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin">
          <ion-card-content class="ion-no-padding">
            <ion-item>
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col size="12" size-sm="2" class="ion-align-self-center ion-no-padding">
                    Status :
                  </ion-col>
                  <ion-col class="text-bold ion-align-self-center is-inactive ion-no-padding"
                    [ngClass]="{'is-active': status === 'Active'}">
                    <ion-grid class="ion-no-padding">
                      <ion-row class="ion-no-padding ion-align-items-center">
                        <ion-col class="ion-no-padding">
                          {{ status }}
                        </ion-col>
                        <ion-col class="ion-no-padding ion-text-end">
                          <ion-button [disabled]="onDelete" (click)="activateExamSchedule()" class="danger-background">
                            <span class="ion-margin">ACTIVATE THIS EXAM SCHEDULE</span>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row [ngClass]="{'row-margin': onDelete}">
      <ion-col>
        <ion-card *ngIf="intakes.length >= 1; else noIntakes" class="ion-no-margin">
          <ion-card-header class="custom-background">
            <ion-card-title>
              <ion-grid class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col class="ion-no-padding ion-align-self-center">
                    <h5>
                      Exam Schedule - Intakes
                    </h5>
                  </ion-col>
                  <ion-col size="3" class="ion-no-padding ion-text-end ion-align-self-center">
                    <ion-icon [name]="onDelete ? 'close' : 'checkbox'" class="clickable-icon-danger"
                      (click)="toggleBulkDeleteIntake()"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>

          <ion-card-content class="ion-no-padding">
            <ion-item class="table-header">
              <ion-grid>
                <ion-row>
                  <ion-col class="ion-no-padding">
                    <h2 class="text-bold">Intake</h2>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <h2 class="text-bold">Type</h2>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <h2 class="text-bold">Venue</h2>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <h2 class="text-bold">Dockets Issuance</h2>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <h2 class="text-bold">Exam Result Date</h2>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <ion-item detail=false [button]="!onDelete" (click)="!onDelete && editIntake()" [style.border-left-color]="(intake.intake | strToColor)"
              [ngClass]="{'clickable-item' : !onDelete}" class="table-item clickable-item"
              *ngFor="let intake of intakes">
              <ion-grid>
                <ion-row>
                  <ion-col size="12" size-sm="" class="text-bold ion-no-padding">
                    {{intake.intake}}
                  </ion-col>
                  <ion-col size="12" size-sm="" class="ion-no-padding">
                    <ion-icon class="display-on-sm" name="people"></ion-icon>
                    {{intake.type}}
                  </ion-col>
                  <ion-col size="12" size-sm="" class="ion-no-padding">
                    <ion-icon class="display-on-sm" name="pin"></ion-icon>
                    {{intake.venue}}
                  </ion-col>
                  <ion-col size="12" size-sm="" class="ion-no-padding">
                    <ion-icon class="display-on-sm" name="paper"></ion-icon>
                    {{intake.docketsIssuance}}
                  </ion-col>
                  <ion-col size="12" size-sm="" class="ion-no-padding">
                    <div class="flex-col-item">
                      <div>
                        <ion-icon class="display-on-sm" name="pie"></ion-icon>
                        {{intake.resultDate}}
                      </div>
                      <ion-checkbox *ngIf="onDelete" class="ion-no-margin"></ion-checkbox>
                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-card-content>
        </ion-card>

        <ng-template #noIntakes>
          <app-message-with-svg imageUrl="assets/img/empty.svg"
            messageTitle="Opps! You have not added any intakes yet."
            wrapperSize="4" wrapperOffset="4" wrapperMarginTop="20px">
          </app-message-with-svg>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-fab *ngIf="!onDelete; else fabDelete" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewIntake()" class="colored-background">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-template #fabDelete>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="danger-background">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
</ion-footer>